force-app/main/default/flows/Autolaunched_Change_Target_Reached_When_LOI_Date_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_LOI_Date_Null</name>
        <label>Is LOI Date Null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_New_Reached_Target_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LOI Date Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_LOI_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTriggeringAiD.LOI_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previously_Closed_Asset_Target_Audit</targetReference>
            </connector>
            <label>Yes - LOI Date Null</label>
        </rules>
    </decisions>
    <description>Whenever the LOI Date of an AiD gets changed, this flow updates the Asset Target Audit record with a new Target Reached based on the new LOI Date.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_LoiDatePlusAYear</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!varTriggeringAiD.LOI_Date__c}, 12)</expression>
    </formulas>
    <interviewLabel>Autolaunched - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched - Change Target Reached When LOI Date Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_New_Reached_Target_Record</name>
        <label>Get New Reached Target  Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Reached_Target</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_LoiDatePlusAYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_LoiDatePlusAYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_New_Reached_Target</name>
        <label>Set New Reached Target</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringAiD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Target_Reached__c</field>
            <value>
                <elementReference>Get_New_Reached_Target_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Asset_Target_Audit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previously_Closed_Asset_Target_Audit</name>
        <label>Update Previously Closed Asset Target Audit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringAiD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Asset_in_Deal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Target_Reached__c</field>
        </inputAssignments>
        <object>pro_Asset_Target_Audit__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LOI_Date_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Asset in Deal record whose trigger this flow got called from.</description>
        <name>varTriggeringAiD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft_Proposal__c</objectType>
    </variables>
</Flow>
