force-app/main/default/flows/CAP_Sustainability_Report_Set_Util_as_Last_Calendar_year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>CAP_Is_End_Date_in_Last_Calendar_Year</name>
        <label>Is End Date in Last Calendar Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Last_Calendar_Year_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAP_Last_Calendar_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__End_Date_F__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>StartOfLastYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__End_Date_F__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EndOfLastYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__End_Date_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAP_Set_Last_Calendar_Year_True</targetReference>
            </connector>
            <label>Last Calendar Year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndOfLastYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR($Flow.CurrentDate)-1,12,31)</expression>
    </formulas>
    <formulas>
        <name>StartOfLastYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR($Flow.CurrentDate)-1,1,1)</expression>
    </formulas>
    <interviewLabel>Sustainability Report - Set Util as Last Calendar year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sustainability Report - Set Util as Last Calendar year</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CAP_Set_Last_Calendar_Year_True</name>
        <label>Set Last Calendar Year True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CAP_Is_Prior_Calendar_Year__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Last_Calendar_Year_False</name>
        <label>Set Last Calendar Year False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CAP_Is_Prior_Calendar_Year__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CAP_Is_End_Date_in_Last_Calendar_Year</targetReference>
        </connector>
        <object>leaseworks__Utilization_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
