force-app/main/default/flows/Clone_Technical_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>get_record_of_Technical_Project.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012aA000001Ev97QAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_record_of_Technical_Project.leaseworks__Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_Asset.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_record_of_Technical_Project.leaseworks__Lease_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_Contract.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_record_of_Technical_Project.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Technical_project</targetReference>
        </connector>
    </assignments>
    <description>Added legal mods</description>
    <dynamicChoiceSets>
        <name>List_of_contracts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Aircraft__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assigned_Asset.recordId</elementReference>
            </value>
        </filters>
        <object>leaseworks__Lease__c</object>
        <sortField>leaseworks__Lease_End_Date_New__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Clone Technical Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Technical Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Check_List_Items</name>
        <label>Create Check List Items</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>get_related_mods</targetReference>
        </connector>
        <inputReference>Remap_CheckList_Items</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Legal_Items</name>
        <label>Create Legal Items</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>Remap_Legal_Items</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Mods_Items</name>
        <label>Create Mods Items</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>get_related_Legal</targetReference>
        </connector>
        <inputReference>Remap_Mods_Items</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Technical_project</name>
        <label>Create Technical project</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>get_related_checklist_items</targetReference>
        </connector>
        <inputReference>get_record_of_Technical_Project</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_record_of_Technical_Project</name>
        <label>get_record_of_Technical_Project</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Technical_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_checklist_items</name>
        <label>get related checklist items</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remap_CheckList_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Technical_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Technical_Project_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_Legal</name>
        <label>get related Legal</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remap_Legal_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Technical_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Legal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_mods</name>
        <label>get related mods</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remap_Mods_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Technical_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Mods__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Record</name>
        <label>Clone Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_record_of_Technical_Project</targetReference>
        </connector>
        <fields>
            <name>text_02</name>
            <fieldText>&lt;p&gt;Please enter the data for new Technical Project:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Assigned_Asset</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>leaseworks__Technical_Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>leaseworks__Asset__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assigned_Contract</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>leaseworks__Technical_Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>leaseworks__Lease_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_03</name>
            <fieldText>&lt;p&gt;Technical Project &lt;a href=&quot;/{!get_record_of_Technical_Project.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Name}&lt;/a&gt; successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
