force-app/main/default/flows/Contract_Create_Update_After_Save_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Has_Contract_Been_Extended</name>
        <label>Has Contract Been Extended?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Extended_On_Date_Been_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Extended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Extended_On__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.leaseworks__Extended_On__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Old_Target_And_Crreate_New_When_Contract_Extended</targetReference>
            </connector>
            <label>Yes - Contract Extended</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contract_Been_Signed</name>
        <label>Has Contract Been Signed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Contract_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Lease_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.leaseworks__Lease_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset_Target_Audit_Record_When_Contract_Signed</targetReference>
            </connector>
            <label>Yes - Contract Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contract_Changed</name>
        <label>Has Contract Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Contract_Been_Extended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Lease_End_Date_New__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Target_Forecast</targetReference>
            </connector>
            <label>Yes - Contract Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Extended_On_Date_Been_Changed</name>
        <label>Has Extended On Date Been Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Extended_On_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Extended_On__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.leaseworks__Extended_On__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.leaseworks__Extended_On__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Reached</targetReference>
            </connector>
            <label>Yes - Extended On Date Changed</label>
        </rules>
    </decisions>
    <description>Calls subflows to run when Contract signed, extended or the end date is changed.</description>
    <environments>Default</environments>
    <interviewLabel>Contract - Create/Update After Save Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Create/Update After Save Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Contract_Been_Signed</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>leaseworks__Lease_Signed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Extended_On__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Lease_End_Date_New__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Lease__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Old_Target_And_Crreate_New_When_Contract_Extended</name>
        <label>Close Old Target And Crreate New When Contract Extended</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Extended_On_Date_Been_Changed</targetReference>
        </connector>
        <flowName>Prodigy_AutolaunchedFlow_Contract_Extended_Create_New_Audit</flowName>
        <inputAssignments>
            <name>varContract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Asset_Target_Audit_Record_When_Contract_Signed</name>
        <label>Create Asset Target Audit Record When Contract Signed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Contract_Changed</targetReference>
        </connector>
        <flowName>Prodigy_Autolaunched_Create_Asset_Target_Audit_When_Contract_Signed</flowName>
        <inputAssignments>
            <name>varContract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_New_Target_Forecast</name>
        <label>Set New Target Forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Contract_Been_Extended</targetReference>
        </connector>
        <flowName>Autolaunched_Set_New_Target_Forecast_When_Contract_End_Changed</flowName>
        <inputAssignments>
            <name>varTriggeringContract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Target_Reached</name>
        <label>Update Target Reached</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Autolaunched_Contract_Extended_On_Changed_Update_Target_Reached</flowName>
        <inputAssignments>
            <name>varTriggeringContract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
