force-app/main/default/flows/Create_Insurance_Requirement_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Asset_Serial_No</name>
        <label>Assign Asset Serial No.</label>
        <locationX>138</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Lease__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Text_Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Aircraft__r.leaseworks__MSN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Text_Reinsurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Aircraft__r.leaseworks__MSN_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Requirement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TextArea</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset Serial Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serial_No_Requirement_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>138</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Lease__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Text_Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Aircraft__r.leaseworks__Asset_Type_GP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Text_Reinsurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Aircraft__r.leaseworks__Asset_Type_GP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Requirement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TextArea</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Asset_Type_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Type_To_List</name>
        <label>Assign Asset Type To List</label>
        <locationX>138</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>InsuranceRequirementAssetRecordsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsuranceRequirementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Insurance_Requirement_Asset_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_InsCertVsReq_to_Delete_List</name>
        <label>Assign InsCertVsReq to Delete List</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>InsCertVsReqRecordDeleteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_InsCertVsReq_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InsCertVsReq_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Insurance_Requirement_List</name>
        <label>Assign Insurance Requirement List</label>
        <locationX>314</locationX>
        <locationY>4427</locationY>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsuranceRequirementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Insurance_Requirement_Template_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Insurance_Requirement_Record</name>
        <label>Assign Insurance Requirement Record</label>
        <locationX>314</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Requirement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Insurance_Requirement_Template_Records.leaseworks__Insurance_Requirement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Insurance_Requirement_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Insurance_Requirement_Template_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Lease__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Insurance_Requirement_Template_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceRequirementRecord.leaseworks__Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SortOrderFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Insurance_Requirement_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_count_to_old_manual_records</name>
        <label>Assign new count to old manual records</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Loop_Insurance_Requirement_Manual_Records.leaseworks__Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualRecordCountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateManualRecordsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Insurance_Requirement_Manual_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Insurance_Requirement_Manual_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_count_without_asset_to_manual_records</name>
        <label>Assign New count without asset to manual records</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Loop_Insurance_Requirement_Manual_Records.leaseworks__Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualRecordsCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateManualRecordsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Insurance_Requirement_Manual_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Insurance_Requirement_Manual_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_To_Delete_List</name>
        <label>Assign Records To Delete List</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>DeleteRecordsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Old_Requirement_Records_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDeleteReqIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Serial_No_Requirement_To_List</name>
        <label>Assign Serial No. Requirement To List</label>
        <locationX>138</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>InsuranceRequirementAssetRecordsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsuranceRequirementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Asset_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDeleteReqIds</name>
        <label>AssignDeleteReqIds</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>DeleteReqIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Old_Requirement_Records_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Old_Requirement_Records_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Manual_Records</name>
        <label>Count Manual Records</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ManualRecordsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Requirement_Template_and_Asset_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Template_Req_Count</name>
        <label>Increase Template Req Count</label>
        <locationX>314</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>CountTemplateReqRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Insurance_Requirement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lease_Id</name>
        <label>Populate Lease Id</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>LeaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTypeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetSerialNoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset Serial Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Insurance_Requirement_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Requirement_Exist</name>
        <label>Asset Requirement Exist</label>
        <locationX>50</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>Assign_Asset_Serial_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Requirement_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurance_Requirement_Template_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_InsCertVsReq_DeleteList_Is_Empty</name>
        <label>Check InsCertVsReq DeleteList Is Empty</label>
        <locationX>226</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Check_Lease_Asset_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsCertVsReqRecordDeleteList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_InsCertVsReq_Records</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lease_Asset_Exist</name>
        <label>Check Lease Asset Exist</label>
        <locationX>226</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Update_Manual_Records_Sort_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset Not Exist</defaultConnectorLabel>
        <rules>
            <name>AssetExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Aircraft__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Insurance_Requirement_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Requirement_Records</targetReference>
            </connector>
            <label>Asset Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_DeleteReqIds_Contains_Value</name>
        <label>Checking DeleteReqIds Contains Value</label>
        <locationX>226</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Delete_List_Is_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_DeleteReqIds_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteReqIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InsCertVsReq_Records</targetReference>
            </connector>
            <label>Is DeleteReqIds Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_List_Is_Empty</name>
        <label>Delete List Is Empty</label>
        <locationX>226</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Loop_InsCertVsReq_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>NotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteRecordsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Insurance_Requirement_Records</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Requirement_Template_and_Asset_Exist</name>
        <label>Is Requirement Template and Asset Exist</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_New_count_without_asset_to_manual_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Insurance_Requirement_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Aircraft__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_count_to_old_manual_records</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ManualRecordCountFormula</name>
        <dataType>Number</dataType>
        <expression>{!ManualRecordsCount}+2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SortOrderFormula</name>
        <dataType>Number</dataType>
        <expression>{!CountTemplateReqRecords} + 2 + {!ManualRecordsCount}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Insurance Requirement Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Insurance Requirement Records</label>
    <loops>
        <name>Loop_InsCertVsReq_Records</name>
        <label>Loop InsCertVsReq Records</label>
        <locationX>226</locationX>
        <locationY>2255</locationY>
        <collectionReference>Get_InsCertVsReq_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_InsCertVsReq_to_Delete_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_InsCertVsReq_DeleteList_Is_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Insurance_Requirement_Manual_Records</name>
        <label>Loop Insurance Requirement Manual Records</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Insurance_Requirement_Manual_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Manual_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Old_Requirement_Records_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Insurance_Requirement_Template_Records</name>
        <label>Loop Insurance Requirement Template Records</label>
        <locationX>226</locationX>
        <locationY>4103</locationY>
        <collectionReference>Get_Insurance_Requirement_Template_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Template_Req_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Insurance_Requirement_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Old_Requirement_Records_Loop</name>
        <label>Old Requirement Records Loop</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Old_Insurance_Requirement_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Records_To_Delete_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_DeleteReqIds_Contains_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Insurance_Requirement_Asset_Records</name>
        <label>Create Insurance Requirement Asset Records</label>
        <locationX>138</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>Update_old_manual_records_sort_order</targetReference>
        </connector>
        <inputReference>InsuranceRequirementAssetRecordsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Insurance_Requirement_Records</name>
        <label>Create Insurance Requirement Records</label>
        <locationX>226</locationX>
        <locationY>4619</locationY>
        <inputReference>InsuranceRequirementRecordList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_InsCertVsReq_Records</name>
        <label>Delete InsCertVsReq Records</label>
        <locationX>94</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Check_Lease_Asset_Exist</targetReference>
        </connector>
        <inputReference>InsCertVsReqRecordDeleteList</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Old_Insurance_Requirement_Records</name>
        <label>Delete Old Insurance Requirement Records</label>
        <locationX>94</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Loop_InsCertVsReq_Records</targetReference>
        </connector>
        <inputReference>DeleteRecordsList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Requirement_Records</name>
        <label>Get Asset Requirement Records</label>
        <locationX>50</locationX>
        <locationY>2963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Requirement_Exist</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset Serial Number</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Lease__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Insurance_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InsCertVsReq_Records</name>
        <label>Get InsCertVsReq Records</label>
        <locationX>94</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_List_Is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Insurance_Requirement__c</field>
            <operator>In</operator>
            <value>
                <elementReference>DeleteReqIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Insurance_Certificate_Vs_Insurance_Requi__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_Requirement_Manual_Records</name>
        <label>Get Insurance Requirement Manual Records</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Insurance_Requirement_Manual_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Lease__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Insurance_Requirement_Template__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>AssetSerialNoVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>AssetTypeVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Insurance_Requirement__c</object>
        <sortField>leaseworks__Sorting_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_Requirement_Template_Records</name>
        <label>Get Insurance Requirement Template Records</label>
        <locationX>226</locationX>
        <locationY>3995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Insurance_Requirement_Template_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Insurance_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.leaseworks__Insurance_Requirement_Template__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Insurance_Requirement_Template__c</object>
        <sortField>leaseworks__Sorting_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Insurance_Requirement_Records</name>
        <label>Get Old Insurance Requirement Records</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurance_Requirement_Manual_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>leaseworks__Lease__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Insurance_Requirement_Template__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetTypeVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetSerialNoVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Insurance_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Manual_Records_Sort_Order</name>
        <label>Update Manual Records Sort Order</label>
        <locationX>402</locationX>
        <locationY>2963</locationY>
        <connector>
            <targetReference>Get_Insurance_Requirement_Template_Records</targetReference>
        </connector>
        <inputReference>UpdateManualRecordsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_old_manual_records_sort_order</name>
        <label>Update old manual records sort order</label>
        <locationX>138</locationX>
        <locationY>3719</locationY>
        <connector>
            <targetReference>Get_Insurance_Requirement_Template_Records</targetReference>
        </connector>
        <inputReference>UpdateManualRecordsList</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Lease_Id</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; {!$Record.leaseworks__Insurance_Requirement_Template__c} != NULL) ||
(ISCHANGED({!$Record.leaseworks__Insurance_Requirement_Template__c}))</filterFormula>
        <object>leaseworks__Lease__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AssetRequirementRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
    <variables>
        <name>AssetSerialNoVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asset Serial Number</stringValue>
        </value>
    </variables>
    <variables>
        <name>AssetTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asset Type</stringValue>
        </value>
    </variables>
    <variables>
        <name>CountDeleteRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountTemplateReqRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
    <variables>
        <name>DeleteRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
    <variables>
        <name>DeleteReqIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsCertVsReqRecordDeleteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Certificate_Vs_Insurance_Requi__c</objectType>
    </variables>
    <variables>
        <name>InsuranceRequirementAssetRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
    <variables>
        <name>InsuranceRequirementList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
    <variables>
        <name>InsuranceRequirementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
    <variables>
        <name>InsuranceRequirementRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
    <variables>
        <name>LeaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ManualRecordsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RequirementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_Insurance_Requirement_Template_Records.leaseworks__Insurance_Requirement_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RequirementTypeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateManualRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Insurance_Requirement__c</objectType>
    </variables>
</Flow>
