force-app/main/default/flows/JH_Populate_Assets_in_Litigation_on_Litigation_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Asset_Name</name>
        <label>Append Asset Name</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>JoinedAssetNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetNameJoinStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_on_Litigation</name>
        <label>Set Fields on Litigation</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>LitigationRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pro_Litigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LitigationRecordToUpdate.Assets_In_Litigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimmedAssetNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Litigation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AssetNameJoinStep</name>
        <dataType>String</dataType>
        <expression>{!JoinedAssetNames} &amp; {!Loop_Through_Assets.pro_Asset__r.Name} &amp; &quot;, &quot;</expression>
    </formulas>
    <formulas>
        <name>TrimmedAssetNames</name>
        <dataType>String</dataType>
        <expression>LEFT({!JoinedAssetNames}, LEN({!JoinedAssetNames}) - 2)</expression>
    </formulas>
    <interviewLabel>JH - Populate Assets in Litigation on Litigation Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JH - Populate Assets in Litigation on Litigation Record</label>
    <loops>
        <name>Loop_Through_Assets</name>
        <label>Loop Through Assets</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Assets_in_Litigation1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Asset_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Fields_on_Litigation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Assets_in_Litigation1</name>
        <label>Get Related Assets in Litigation</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Litigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Litigation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset_In_Litigation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Litigation</name>
        <label>Update Litigation</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>LitigationRecordToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Assets_in_Litigation1</targetReference>
        </connector>
        <object>Asset_In_Litigation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetNamesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JoinedAssetNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JoinedAssetNamesNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LitigationRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Litigation__c</objectType>
    </variables>
    <variables>
        <name>LitigationUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset_In_Litigation__c</objectType>
    </variables>
</Flow>
