force-app/main/default/flows/leaseworks__Update_CP_and_Geneva_cbk_on_lease_when_update_on_country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_both_checkboxes_on_lease</name>
        <label>Update both checkboxes on lease</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>All_collected_Lease_records.leaseworks__Y_Hidden_Cape_Town_Convention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Cape_Town_Convention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_collected_Lease_records.leaseworks__Y_Hidden_Geneva_Convention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Geneva_Convention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfLeaseToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_collected_Lease_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_collected_Lease_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_lease_with_Capetown_Convention</name>
        <label>Update lease with Capetown Convention</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>All_collected_Lease_records.leaseworks__Y_Hidden_Cape_Town_Convention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Cape_Town_Convention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfLeaseToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_collected_Lease_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_collected_Lease_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_lease_with_Geneva_Convetion</name>
        <label>Update lease with Geneva Convetion</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>All_collected_Lease_records.leaseworks__Y_Hidden_Geneva_Convention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Geneva_Convention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfLeaseToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_collected_Lease_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_collected_Lease_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Select_fields_to_update</name>
        <label>Select fields to update</label>
        <locationX>528</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_lease_with_Capetown_Convention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_checkboxes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_collected_Lease_records.leaseworks__Habitual_Base__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_collected_Lease_records.leaseworks__Aircraft__r.leaseworks__Country_Of_Registry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_both_checkboxes_on_lease</targetReference>
            </connector>
            <label>Both checkboxes</label>
        </rules>
        <rules>
            <name>Habitual_base</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_collected_Lease_records.leaseworks__Habitual_Base__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lease_with_Geneva_Convetion</targetReference>
            </connector>
            <label>Habitual base</label>
        </rules>
    </decisions>
    <description>Updates the Geneva and Capetown Convention on the lease when there is a change on the checkboxes on the countries attached as habitual base or country of registry</description>
    <environments>Default</environments>
    <interviewLabel>Update CP and Geneva cbk on lease when update on country {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update CP and Geneva cbk on lease when update on country</label>
    <loops>
        <name>All_collected_Lease_records</name>
        <label>All collected Lease records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_lease_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_fields_to_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Disable_Triggers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_lease_records</name>
        <label>Get all lease records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_collected_Lease_records</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>leaseworks__Country_Of_Registry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Habitual_Base__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Lease__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Disable_Triggers</name>
        <label>Disable Triggers</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Update_all_lease_records</targetReference>
        </connector>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_Triggers</name>
        <label>Enable Triggers</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all_lease_records</name>
        <label>Update all lease records</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Enable_Triggers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_in_updating_lease_record</targetReference>
        </faultConnector>
        <inputReference>ListOfLeaseToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_lease_records</targetReference>
        </connector>
        <filterFormula>AND(
    OR(
        ISNEW(),
        AND(
            NOT(ISNEW()),
            OR(
                ISCHANGED({!$Record.leaseworks__Cape_Town_Convention__c}),
                ISCHANGED({!$Record.leaseworks__Geneva_Convention__c})
            )
        )
    ),
    NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_Triggers__c}),
    NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_WFs__c})
)</filterFormula>
        <object>leaseworks__Country__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAssetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>AllLeaseRecordForGeneva</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
    <variables>
        <name>CPConventionValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GenevaValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeaseWithBothCheckboxesUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
    <variables>
        <name>LeaseWithUpdatedGenevaConvention</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
    <variables>
        <name>ListOfLeaseToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
    <variables>
        <name>ListWithUpdatedCapetwonConvention</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
</Flow>
