force-app/main/default/flows/pro_Screen_Submit_Deal_For_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deduplicate_Names</name>
        <label>Deduplicate Names</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RemoveDuplicatesFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SubmissionScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputStrings</name>
            <value>
                <elementReference>varNotificationRecipientNames</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveDuplicatesFromCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_AiD_Approver_Assignee_Names_To_Collection_Variable</name>
        <label>Assign AiD Approver Assignee Names To Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNotificationRecipientNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Null_values_AiD_Approver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deduplicate_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deal_Team_Assignee_Names_To_Collection_Variable</name>
        <label>Assign Deal Team Assignee Names To Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNotificationRecipientNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Null_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deduplicate_Names</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Remove_Null_values</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove Null values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Remove_Null_values</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Create_Deal_Team_Assignee_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remove_Null_values</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Remove_Null_values</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Deal_Team_Assignee_Names_To_Collection_Variable</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Remove_Null_values_AiD_Approver</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove Null values - AiD Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Remove_Null_values_AiD_Approver</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Create_AiD_Approver_Assignee_Name_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remove_Null_values_AiD_Approver</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Remove_Null_values_AiD_Approver</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_AiD_Approver_Assignee_Names_To_Collection_Variable</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Deal_Status</name>
        <label>Deal Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LOI_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.leaseworks__Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOI Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Deal_Team</targetReference>
            </connector>
            <label>LOI Signature</label>
        </rules>
        <rules>
            <name>Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.leaseworks__Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AiD_Records</targetReference>
            </connector>
            <label>Documentation</label>
        </rules>
    </decisions>
    <description>Screen launched from a button on Deal record page allowing user to submit the deal for apporoval (effectively emailing all users from whom approval is required).</description>
    <environments>Default</environments>
    <formulas>
        <name>f_OutstandingApprovers</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  SUBSTITUTE({!Deduplicate_Names.uniqueStrings}, &quot;[&quot;, &quot;&quot;),
  &quot;]&quot;, &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Screen - Submit Deal For Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Submit Deal For Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AiD_Approvers</name>
        <label>Get AiD Approvers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AiD_Approver_Assignee_Name_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_AiD_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Lease_Documentation_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Include_In_Documentation_Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_In_Deal_Approver__c</object>
        <sortField>pro_Assigned_Approver__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AiD_Records</name>
        <label>Get AiD Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AiD_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deal_Team</name>
        <label>Get Deal Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Deal_Team_Assignee_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_LOI_Signed_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Include_In_LOI_Approvals__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <sortField>pro_Assigned_To_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SubmissionScreen</name>
        <label>SubmissionScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Approval_Reminder_Notification</targetReference>
        </connector>
        <fields>
            <name>ApproversDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Outstanding Approvers: &lt;/strong&gt;{!f_OutstandingApprovers}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submission_Notes</name>
            <fieldText>Submission Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit To Approvers</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deal_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Approval_Reminder_Notification</name>
        <label>Send Approval Reminder Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Prodigy_Auto_Approval_Reminder_Notification</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubmissionNotes</name>
            <value>
                <elementReference>Submission_Notes</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <transforms>
        <name>Create_AiD_Approver_Assignee_Name_Collection</name>
        <label>Create AiD Approver Assignee Name Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Remove_Null_values_AiD_Approver</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_AiD_Approvers[$EachItem].pro_Assigned_Approver__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_AiD_Id_Collection</name>
        <label>Create AiD Id Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AiD_Approvers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_AiD_Records[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Deal_Team_Assignee_Collection</name>
        <label>Create Deal Team Assignee Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Remove_Null_values</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Deal_Team[$EachItem].pro_Assigned_To_Name__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Remove_Null_values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Remove_Null_values_AiD_Approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>varNotificationRecipientNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
