force-app/main/default/flows/pro_Autolaunched_Sync_Deal_Teams_To_AiD_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Build_Up_AiD_Approver_To_Create</name>
        <label>Build Up AiD Approver To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetInDealApproverToCreate.pro_Asset_in_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets_In_Deal_Create.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetInDealApproverToCreate.pro_Deal_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTriggeringDealTeam.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetInDealApproverToCreate.pro_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTriggeringDealTeam.pro_Member_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetInDealApproverToCreate.pro_Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTriggeringDealTeam.leaseworks__Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetInDealApproverToCreate.pro_Include_In_Documentation_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTriggeringDealTeam.pro_Lease_Documentation_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetInDealApproversCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssetInDealApproverToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets_In_Deal_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Trigger_Context</name>
        <label>Trigger Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTriggerContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assets_In_Deal</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTriggerContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Changes_To_Asset_In_Deal_Approvers</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Whenever a Deal Team is manually created, this flow sets up corresponding AiD Approver records under the Assets in Deal. Whenever a Deal Team&apos;s Role or Assigned To is edited, this flow updates the corresponding AiD Approver&apos;s Role and Assigned To values.</description>
    <environments>Default</environments>
    <interviewLabel>Autolaunched - Sync Deal Teams To AiD Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched - Sync Deal Teams To AiD Approvers</label>
    <loops>
        <name>Loop_Assets_In_Deal_Create</name>
        <label>Loop Assets In Deal - Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Assets_In_Deal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Up_AiD_Approver_To_Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Asset_In_Deal_Approver</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset_In_Deal_Approver</name>
        <label>Create Asset In Deal Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varAssetInDealApproversCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assets_In_Deal</name>
        <label>Get Assets In Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assets_In_Deal_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringDealTeam.leaseworks__Marketing_Activity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sync_Changes_To_Asset_In_Deal_Approvers</name>
        <label>Sync Changes To Asset In Deal Approvers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Deal_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringDealTeam.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Assigned_To__c</field>
            <value>
                <elementReference>varTriggeringDealTeam.leaseworks__Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Member_Role__c</field>
            <value>
                <elementReference>varTriggeringDealTeam.pro_Member_Role__c</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Asset_In_Deal_Approver__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAssetInDealApproversCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Asset_In_Deal_Approver__c</objectType>
    </variables>
    <variables>
        <name>varAssetInDealApproverToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Asset_In_Deal_Approver__c</objectType>
    </variables>
    <variables>
        <name>varTriggerContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTriggeringDealTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
</Flow>
