force-app/main/default/flows/pro_Deal_Create_Update_After_Save_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Create_Status_Updates_For_Commercial_Legal_Contracts</name>
        <label>Create Status Updates For Commercial / Legal &amp; Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Status_Updates</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Status_Update_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pro_Contracts_Legal_Weekly_Summary_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pro_Commercial_Weekly_Summary_Notes_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Status_Updates_On_Deal</targetReference>
            </connector>
            <label>Yes - Create Status Updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_LOI_Documentation_Approval_Completed_Notifications</name>
        <label>Send LOI / Documentation Approval Completed Notifications?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Status_Updates_For_Commercial_Legal_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_LOI_or_Documentation_Approval_Notifications</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_LOI_Approval__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.pro_LOI_Approval__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pro_LOI_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pro_Lease_Documentation_Fully_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pro_Lease_Documentation_Fully_Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Deal_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_Sign_Off_Notifications</targetReference>
            </connector>
            <label>Yes - Send LOI or Documentation Approval Notifications</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Non_Deal_Approval_Notification</name>
        <label>Send Non Deal Approval Notification?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_LOI_Documentation_Approval_Completed_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Non_Deal_Approval_Notification</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Deal_Approval_Notification</targetReference>
            </connector>
            <label>Yes - Send Non Deal Approval Notification</label>
        </rules>
    </decisions>
    <description>Triggered on Deal Create / Update, this flow runs autolaunched flows off decision elements to send notifications and run other logic required on Deal creation/update.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Deal - Create / Update After Save Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal - Create / Update After Save Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Non_Deal_Approval_Notification</targetReference>
        </connector>
        <filterFormula>OR(
     ISNEW(),
     ISCHANGED({!$Record.leaseworks__Deal_Status__c}),
     ISCHANGED({!$Record.pro_Deal_Team_LOI_Approval__c}),
     ISCHANGED({!$Record.pro_AiDs_Documentation_Approved_Count__c})
)</filterFormula>
        <object>leaseworks__Marketing_Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Status_Updates_On_Deal</name>
        <label>Create Status Updates On Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>pro_Autolaunched_Create_Status_Updates_On_Deal</flowName>
        <inputAssignments>
            <name>varTriggeringDeal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTriggeringDealPrior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Non_Deal_Approval_Notification</name>
        <label>Non Deal Approval Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_LOI_Documentation_Approval_Completed_Notifications</targetReference>
        </connector>
        <flowName>pro_Autolaunched_Non_Deal_Approval_Notifications</flowName>
        <inputAssignments>
            <name>varTriggeringDeal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Approval_Sign_Off_Notifications</name>
        <label>Send Approval Sign Off Notifications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Status_Updates_For_Commercial_Legal_Contracts</targetReference>
        </connector>
        <flowName>pro_Autolaunched_Send_Approval_Sign_Off_Notifications</flowName>
        <inputAssignments>
            <name>varTriggeringDeal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
