force-app/main/default/flows/pro_Auto_Launched_User_Assign_Remove_Public_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Group_Membership_Values_Legal</name>
        <label>Assign Group Membership Values (Legal)</label>
        <locationX>2338</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>var_Group_Member.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Group_membership_Values_Legal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Group_Member.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Group_Memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Group_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_membership_Values_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Membership_Values_Legal_User</name>
        <label>Assign Group Membership Values (Legal User)</label>
        <locationX>2690</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>var_Group_Member.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Group_membership_Values_Legal_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Group_Member.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Group_Memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Group_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_membership_Values_Legal_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Membership_Values_Technical_Admin</name>
        <label>Assign Group Membership Values (Technical Admin)</label>
        <locationX>4098</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>var_Group_Member.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Group_membership_Values_Technical_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Group_Member.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Group_Memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Group_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Admin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Membership_Values_Technical_Consultant</name>
        <label>Assign Group Membership Values (Technical Consultant)</label>
        <locationX>4450</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>var_Group_Member.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Group_membership_Values_Technical_Consultant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Group_Member.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Group_Memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Group_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Consultant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Membership_Values_Technical_Senior_Consultant</name>
        <label>Assign Group Membership Values (Technical Senior Consultant)</label>
        <locationX>4802</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>var_Group_Member.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Group_membership_Values_Technical_Senior_Consultant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Group_Member.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Group_Memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Group_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Senior_Consultant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Group_Membership_Values_Technical_Senior_Consultant</name>
        <label>Copy 2 of Assign Group Membership Values (Technical Senior Consultant)</label>
        <locationX>5154</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>var_Group_Member.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Group_membership_Values_Technical_Senior_Consultant_Access_Persons.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Group_Member.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Group_Memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Group_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Senior_Consultant_Access_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Group_Membership_ID</name>
        <label>Store Group Membership ID</label>
        <locationX>3042</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>col_Existing_Memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Existing_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Groups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Membership_Found</name>
        <label>Membership Found?</label>
        <locationX>3174</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Next&gt;&gt;</defaultConnectorLabel>
        <rules>
            <name>Yes_Store_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Memberships</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Group_Membership_ID</targetReference>
            </connector>
            <label>Yes - Store ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Memberships_To_Delete</name>
        <label>Memberships To Delete?</label>
        <locationX>2954</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Which_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Next&gt;&gt;</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_Existing_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Memberships</targetReference>
            </connector>
            <label>Yes - Delete Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Profile</name>
        <label>Which Profile</label>
        <locationX>2954</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Carlyle_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carlyle Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Carlyle_Commercial_DB_Group_Carlyle_Commercial</targetReference>
            </connector>
            <label>Carlyle Commercial</label>
        </rules>
        <rules>
            <name>Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Compliance</targetReference>
            </connector>
            <label>Compliance</label>
        </rules>
        <rules>
            <name>Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Contracts</targetReference>
            </connector>
            <label>Contracts</label>
        </rules>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Credit</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Executive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Executive_Only_DB_Group_Executive</targetReference>
            </connector>
            <label>Executive</label>
        </rules>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Finance_DB_Group_Finance</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
        <rules>
            <name>Investment_Strategy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment &amp; Strategy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Investment_Strategy</targetReference>
            </connector>
            <label>Investment &amp; Strategy</label>
        </rules>
        <rules>
            <name>Lease_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Lease_Management</targetReference>
            </connector>
            <label>Lease Management</label>
        </rules>
        <rules>
            <name>Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_DB_Edit_Group_Legal_DB_View_Group_Legal</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Legal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_DB_Edit_Group_All_Company_DB_View_Group_Legal_User</targetReference>
            </connector>
            <label>Legal User</label>
        </rules>
        <rules>
            <name>Lessor_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lessor Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Lessor_Admin</targetReference>
            </connector>
            <label>Lessor Admin</label>
        </rules>
        <rules>
            <name>Portfolio_Fund_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio &amp; Fund Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Portfolio_Fund_Management</targetReference>
            </connector>
            <label>Portfolio &amp; Fund Management</label>
        </rules>
        <rules>
            <name>Read_Only_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read Only - Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Read_Only_Internal</targetReference>
            </connector>
            <label>Read Only - Internal</label>
        </rules>
        <rules>
            <name>System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_System_Administrators_System_Administrators</targetReference>
            </connector>
            <label>System Administrator</label>
        </rules>
        <rules>
            <name>Technical_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tech_Admin_Edit_DB_Group_Int_Technical_Edit_DB_Group_Int_Ext_Technical_Admin</targetReference>
            </connector>
            <label>Technical Admin</label>
        </rules>
        <rules>
            <name>Technical_Consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tech_Consultants_DB_View_Group_Ext_All_Tech_Consultants_DB_Group_Technical_C</targetReference>
            </connector>
            <label>Technical Consultant</label>
        </rules>
        <rules>
            <name>Technical_Senior_Consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Senior Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tech_Consultants_DB_View_Group_Ext_Technical_Edit_DB_Group_Int_Ext_All_Tech</targetReference>
            </connector>
            <label>Technical Senior Consultant</label>
        </rules>
        <rules>
            <name>Technical_Senior_Consultant_Access_Persons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Senior Consultant (Access Persons)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Technical_Edit_DB_Group_Int_Ext_All_Tech_Consultants_DB_Group_Technical_Seni</targetReference>
            </connector>
            <label>Technical Senior Consultant (Access Persons)</label>
        </rules>
        <rules>
            <name>Technical_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Company_DB_View_Group_Technical_User</targetReference>
            </connector>
            <label>Technical User</label>
        </rules>
        <rules>
            <name>Back_Office_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Office External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Back_Office_DB_Group_Back_Office_External</targetReference>
            </connector>
            <label>Back Office External</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Launched - User - Assign/Remove Public Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Launched - User - Assign/Remove Public Groups</label>
    <loops>
        <name>Loop_Existing_Groups</name>
        <label>Loop Existing Groups</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Existing_Groups_pro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Memberships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Memberships_To_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_membership_Values_Legal</name>
        <label>Loop Group membership Values (Legal)</label>
        <locationX>2250</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Legal_DB_Edit_Group_Legal_DB_View_Group_Legal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Membership_Values_Legal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Memberships_Legal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_membership_Values_Legal_User</name>
        <label>Loop Group membership Values (Legal User)</label>
        <locationX>2602</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Legal_DB_Edit_Group_All_Company_DB_View_Group_Legal_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Membership_Values_Legal_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Memberships_Legal_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_membership_Values_Technical_Admin</name>
        <label>Loop Group membership Values (Technical Admin)</label>
        <locationX>4010</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Tech_Admin_Edit_DB_Group_Int_Technical_Edit_DB_Group_Int_Ext_Technical_Admin</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Membership_Values_Technical_Admin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Memberships_Technical_Admin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_membership_Values_Technical_Consultant</name>
        <label>Loop Group membership Values (Technical Consultant)</label>
        <locationX>4362</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Tech_Consultants_DB_View_Group_Ext_All_Tech_Consultants_DB_Group_Technical_C</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Membership_Values_Technical_Consultant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Memberships_Technical_Consultant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_membership_Values_Technical_Senior_Consultant</name>
        <label>Loop Group membership Values (Technical Senior Consultant)</label>
        <locationX>4714</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Tech_Consultants_DB_View_Group_Ext_Technical_Edit_DB_Group_Int_Ext_All_Tech</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Membership_Values_Technical_Senior_Consultant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Memberships_Technical_Senior_Consultant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_membership_Values_Technical_Senior_Consultant_Access_Persons</name>
        <label>Loop Group membership Values (Technical Senior Consultant (Access Persons))</label>
        <locationX>5066</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Technical_Edit_DB_Group_Int_Ext_All_Tech_Consultants_DB_Group_Technical_Seni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_Group_Membership_Values_Technical_Senior_Consultant</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_All_Company_DB_View_Group_Membership_Investment_Strategy</name>
        <label>Create All Company DB View Group Membership (Investment &amp; Strategy)</label>
        <locationX>1898</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Lease_Management.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Back_Office_External</name>
        <label>Create All Company DB View Group Membership (Back Office External)</label>
        <locationX>5594</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Back_Office_DB_Group_Back_Office_External.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Compliance</name>
        <label>Create All Company DB View Group Membership (Compliance)</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Compliance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Contracts</name>
        <label>Create All Company DB View Group Membership (Contracts)</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Contracts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Credit</name>
        <label>Create All Company DB View Group Membership (Credit)</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Credit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Investment_Strategy</name>
        <label>Create All Company DB View Group Membership (Investment &amp; Strategy)</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Investment_Strategy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Lessor_Admin</name>
        <label>Create All Company DB View Group Membership (Lessor Admin)</label>
        <locationX>2866</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Lessor_Admin.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Portfolio_Fund_Management</name>
        <label>Create All Company DB View Group Membership (Portfolio &amp; Fund Management)</label>
        <locationX>3130</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Portfolio_Fund_Management.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Read_Only_Internal</name>
        <label>Create All Company DB View Group Membership (Read Only - Internal)</label>
        <locationX>3394</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Read_Only_Internal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Company_DB_View_Group_Membership_Technical_User</name>
        <label>Create All Company DB View Group Membership (Technical User)</label>
        <locationX>5330</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_All_Company_DB_View_Group_Technical_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Carlyle_Commercial_DB_Group_Membership_Carlyle_Commercial</name>
        <label>Create Carlyle Commercial DB Group Membership (Carlyle Commercial)</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Carlyle_Commercial_DB_Group_Carlyle_Commercial.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Executive_Only_DB_Group_Executive</name>
        <label>Create Executive Only DB Group (Executive)</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Executive_Only_DB_Group_Executive.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Finance_DB_Group_Finance</name>
        <label>Create Finance DB Group (Finance)</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Finance_DB_Group_Finance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Memberships_Legal</name>
        <label>Create Group Memberships (Legal)</label>
        <locationX>2250</locationX>
        <locationY>1658</locationY>
        <inputReference>col_Group_Memberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Memberships_Legal_User</name>
        <label>Create Group Memberships (Legal User)</label>
        <locationX>2602</locationX>
        <locationY>1658</locationY>
        <inputReference>col_Group_Memberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Memberships_Technical_Admin</name>
        <label>Create Group Memberships (Technical Admin)</label>
        <locationX>4010</locationX>
        <locationY>1658</locationY>
        <inputReference>col_Group_Memberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Memberships_Technical_Consultant</name>
        <label>Create Group Memberships (Technical Consultant)</label>
        <locationX>4362</locationX>
        <locationY>1658</locationY>
        <inputReference>col_Group_Memberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Memberships_Technical_Senior_Consultant</name>
        <label>Create Group Memberships (Technical Senior Consultant)</label>
        <locationX>4714</locationX>
        <locationY>1658</locationY>
        <inputReference>col_Group_Memberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_System_Administrators_System_Administrators</name>
        <label>Create System Administrators (System Administrators)</label>
        <locationX>3658</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_System_Administrators_System_Administrators.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Memberships</name>
        <label>Delete Memberships</label>
        <locationX>2822</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Which_Profile</targetReference>
        </connector>
        <inputReference>col_Existing_Memberships</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Compliance</name>
        <label>Get All Company DB View Group (Compliance)</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Compliance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Contracts</name>
        <label>Get All Company DB View Group (Contracts)</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Credit</name>
        <label>Get All Company DB View Group (Credit)</label>
        <locationX>842</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Investment_Strategy</name>
        <label>Get All Company DB View Group (Investment &amp; Strategy)</label>
        <locationX>1634</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Investment_Strategy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Lease_Management</name>
        <label>Get All Company DB View Group (Lease Management)</label>
        <locationX>1898</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_All_Company_DB_View_Group_Membership_Investment_Strategy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Lessor_Admin</name>
        <label>Get All Company DB View Group (Lessor Admin)</label>
        <locationX>2866</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Lessor_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Portfolio_Fund_Management</name>
        <label>Get All Company DB View Group (Portfolio &amp; Fund Management)</label>
        <locationX>3130</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Portfolio_Fund_Management</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Read_Only_Internal</name>
        <label>Get All Company DB View Group (Read Only - Internal)</label>
        <locationX>3394</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Read_Only_Internal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Company_DB_View_Group_Technical_User</name>
        <label>Get All Company DB View Group (Technical User)</label>
        <locationX>5330</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Technical_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Back_Office_DB_Group_Back_Office_External</name>
        <label>Get Back Office DB Group (Back Office External)</label>
        <locationX>5594</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_Company_DB_View_Group_Membership_Back_Office_External</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Back Office DB Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Carlyle_Commercial_DB_Group_Carlyle_Commercial</name>
        <label>Get Carlyle Commercial DB Group (Carlyle Commercial)</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Carlyle_Commercial_DB_Group_Membership_Carlyle_Commercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carlyle Commercial DB Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Executive_Only_DB_Group_Executive</name>
        <label>Get Executive Only DB Group (Executive)</label>
        <locationX>1106</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Executive_Only_DB_Group_Executive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive Only DB Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Groups_pro</name>
        <label>Get Existing Groups (pro_)</label>
        <locationX>2954</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>pro_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Memberships</name>
        <label>Get Existing Memberships</label>
        <locationX>3174</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Existing_Groups.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_DB_Group_Finance</name>
        <label>Get Finance DB Group (Finance)</label>
        <locationX>1370</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Finance_DB_Group_Finance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance DB Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_DB_Edit_Group_All_Company_DB_View_Group_Legal_User</name>
        <label>Get Legal DB Edit Group, All Company DB View Group (Legal User)</label>
        <locationX>2602</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_membership_Values_Legal_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal DB Edit Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Company DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_DB_Edit_Group_Legal_DB_View_Group_Legal</name>
        <label>Get Legal DB Edit Group, Legal DB View Group (Legal)</label>
        <locationX>2250</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_membership_Values_Legal</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal DB Edit Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal DB View Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Administrators_System_Administrators</name>
        <label>Get System Administrators (System Administrators)</label>
        <locationX>3658</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_System_Administrators_System_Administrators</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrators</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tech_Admin_Edit_DB_Group_Int_Technical_Edit_DB_Group_Int_Ext_Technical_Admin</name>
        <label>Get Tech Admin Edit DB Group (Int), Technical Edit DB Group (Int-Ext) (Technical Admin)</label>
        <locationX>4010</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Admin</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tech Admin Edit DB Group (Int)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Edit DB Group (Int-Ext)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tech_Consultants_DB_View_Group_Ext_All_Tech_Consultants_DB_Group_Technical_C</name>
        <label>Get Tech Consultants DB View Group (Ext), All Tech Consultants DB Group (Technical Consultant)</label>
        <locationX>4362</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Consultant</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tech Consultants DB View Group (Ext)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Tech Consultants DB Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tech_Consultants_DB_View_Group_Ext_Technical_Edit_DB_Group_Int_Ext_All_Tech</name>
        <label>Get Tech Consultants DB View Group (Ext), Technical Edit DB Group (Int-Ext), All Tech Consultants DB Group (Technical Senior Consultant)</label>
        <locationX>4714</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Senior_Consultant</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tech Consultants DB View Group (Ext)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Edit DB Group (Int-Ext)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Tech Consultants DB Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Technical_Edit_DB_Group_Int_Ext_All_Tech_Consultants_DB_Group_Technical_Seni</name>
        <label>Get Technical Edit DB Group (Int-Ext), All Tech Consultants DB Group (Technical Senior Consultant (Access Persons))</label>
        <locationX>5066</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_membership_Values_Technical_Senior_Consultant_Access_Persons</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Edit DB Group (Int-Ext)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Tech Consultants DB Group DB Group (Int-Ext)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2828</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Groups_pro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Existing_Memberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>col_Group_Memberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_Group_Member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
</Flow>
