force-app/main/default/flows/pro_Deal_Bulk_Create_Tasks_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Deal_Team_To_Variable</name>
        <label>Add Deal Team To Variable</label>
        <locationX>156</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamsForTaskCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Deal_Teams</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Deal_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assignee_Ids_To_Semi_Colon_Separated_List</name>
        <label>Assign Assignee Ids To Semi-Colon Separated List</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varAssigneeSelectionDefaults</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_FormattedIdsForColonSeparatedListCreation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Deal_Teams_To_Build_Choice_Lookup_Default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>372</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>col_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Loop_Repeater_Assign_Individually</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Add_To_Collection_All</name>
        <label>Add To Collection (All)</label>
        <locationX>332</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>col_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Loop_Deal_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Assign_Task_Values_All</name>
        <label>Assign Task Values (All)</label>
        <locationX>332</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Deal_Team.leaseworks__Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Priority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Add_To_Collection_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Assign_Task_Values_Individual</name>
        <label>Assign Task Values (Individual)</label>
        <locationX>372</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Assigned_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Priority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Deal_Team_To_Variable_For_Task_Creation</name>
        <label>Add Deal Team To Variable For Task Creation?</label>
        <locationX>288</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Loop_Deal_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_To_Variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cl_Task_Assignees.selectedChoiceValues</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Deal_Teams.leaseworks__Assigned_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Deal_Teams.leaseworks__Assigned_To__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Deal_Team_To_Variable</targetReference>
            </connector>
            <label>Yes - Add To Variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Decision</name>
        <label>Creation Decision</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>pro_Loop_Repeater_Assign_Individually</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Individually</defaultConnectorLabel>
        <rules>
            <name>Create_In_Bulk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_ChooseCreationMode.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Deal_Teams</targetReference>
            </connector>
            <label>Create In Bulk</label>
        </rules>
    </decisions>
    <description>Updated Flow with Default Due Date and Low Priority</description>
    <dynamicChoiceSets>
        <name>pcs_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Task_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_Deal_Members</name>
        <dataType>String</dataType>
        <displayField>pro_Deal_Team_User__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Assigned_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Assigned_User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Deal_Team__c</object>
        <sortField>pro_Deal_Team_User__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>leaseworks__Assigned_To__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_DealMemberIds</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Assigned_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Assigned_User_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Deal_Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_DisableAssignedTo</name>
        <dataType>Boolean</dataType>
        <expression>IF({!bb_ChooseCreationMode.value} = &apos;Individually&apos;, False, True)</expression>
    </formulas>
    <formulas>
        <name>f_Due_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +7</expression>
    </formulas>
    <formulas>
        <name>f_FormattedIdsForColonSeparatedListCreation</name>
        <dataType>String</dataType>
        <expression>IF({!varAssigneeSelectionDefaults}= Null, {!Loop_Deal_Teams_To_Build_Choice_Lookup_Default.leaseworks__Assigned_To__c}, &apos;;&apos; + {!Loop_Deal_Teams_To_Build_Choice_Lookup_Default.leaseworks__Assigned_To__c})</expression>
    </formulas>
    <interviewLabel>Deal - Bulk Create Tasks Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal - Bulk Create Tasks Screen Flow</label>
    <loops>
        <name>Loop_Deal_Teams</name>
        <label>Loop Deal Teams</label>
        <locationX>68</locationX>
        <locationY>758</locationY>
        <collectionReference>pro_Get_Deal_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Deal_Team_To_Variable_For_Task_Creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Loop_Repeater_Assign_To_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Deal_Teams_To_Build_Choice_Lookup_Default</name>
        <label>Loop Deal Teams To Build Choice Lookup Default</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>pro_Get_Deal_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Assignee_Ids_To_Semi_Colon_Separated_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Create_Task_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>pro_Loop_Deal_Team</name>
        <label>Loop Deal Team</label>
        <locationX>244</locationX>
        <locationY>1358</locationY>
        <collectionReference>varDealTeamsForTaskCreation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pro_Assign_Task_Values_All</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Loop_Repeater_Assign_To_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>pro_Loop_Repeater_Assign_Individually</name>
        <label>Loop Repeater (Assign Individually)</label>
        <locationX>284</locationX>
        <locationY>758</locationY>
        <collectionReference>pro_Task_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pro_Assign_Task_Values_Individual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>pro_Loop_Repeater_Assign_To_All</name>
        <label>Loop Repeater (Assign To All)</label>
        <locationX>68</locationX>
        <locationY>1250</locationY>
        <collectionReference>pro_Task_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pro_Loop_Deal_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>pro_Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>176</locationX>
        <locationY>1934</locationY>
        <inputReference>col_Tasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>pro_Get_Deal_Team</name>
        <label>Get Deal Team</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Deal_Teams_To_Build_Choice_Lookup_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Assigned_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>pro_Create_Task_Screen</name>
        <label>Create Task Screen</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creation_Decision</targetReference>
        </connector>
        <fields>
            <name>pro_Create_Task_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>pro_Create_Task_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bb_ChooseCreationMode</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Individually&quot;,&quot;value&quot;:&quot;Individually&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Bulk&quot;,&quot;value&quot;:&quot;Bulk&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Choose Creation Mode</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>Individually</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <stringValue>yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>pro_Create_Task_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pro_Display_Header</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;{!recordId.Name}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>pro_Create_Task_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>pro_Create_Task_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>pro_Create_Task_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cl_Task_Assignees</name>
                    <choiceReferences>rcs_Deal_Members</choiceReferences>
                    <defaultValue>
                        <elementReference>varAssigneeSelectionDefaults</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Task Assignees</fieldText>
                    <fieldType>ComponentMultiChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bb_ChooseCreationMode.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Bulk</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pro_Task_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>pro_Assigned_To</name>
                <choiceReferences>rcs_Deal_Members</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Assigned To</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isDisabled>
                    <elementReference>f_DisableAssignedTo</elementReference>
                </isDisabled>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>pro_Status</name>
                <choiceReferences>pcs_Task_Status</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <stringValue>Not Started</stringValue>
                </defaultValue>
                <fieldText>Status</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>pro_Priority</name>
                <choiceReferences>pcs_Priority</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <stringValue>Low</stringValue>
                </defaultValue>
                <fieldText>Priority</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>pro_Due_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>f_Due_Date</elementReference>
                </defaultValue>
                <fieldText>Due Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>pro_Subject</name>
                <dataType>String</dataType>
                <fieldText>Subject</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>pro_Description</name>
                <fieldText>Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Tasks</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pro_Get_Deal_Team</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Deal_Teams_To_Those_Selected_for_Task_Creation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>var_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varAssigneeSelectionDefaults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDealTeamsForTaskCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
</Flow>
