force-app/main/default/flows/pro_Deal_Team_Set_Member_Role_To_Match_Deal_Team_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Deal_Team_Name_Message</name>
        <label>Deal Team Name Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>The Deal Team must match a Member Role. Select a Member Role, and the Deal Team will update automatically.</errorMessage>
            <fieldSelection>Name</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>If member role has been updated, set the Deal Team name to match the member role. Otherwise, set the Member Role to match the Deal Team name.,</description>
        <name>Has_The_Member_Role_Been_Updated</name>
        <label>Has The Member Role Been Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Member_Role_To_Same_As_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Member_Role_Updated</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Member_Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.pro_Member_Role__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.pro_Member_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Member_Role_Now_Blank</targetReference>
            </connector>
            <label>Yes - Member Role Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Member_Role_Now_Blank</name>
        <label>Is Member Role Now Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Deal_Team_Name_To_Same_As_Member_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Member_Role_Now_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Member_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Member Role Now Blank</label>
        </rules>
    </decisions>
    <description>Flow runs when the Member Role field is left blank or is different from the Deal Team name field. Sets these fields to match each other.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Deal Team - Set Member Role To Match Deal Team Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Team - Set Member Role To Match Deal Team Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Deal_Team_Name_To_Same_As_Member_Role</name>
        <label>Set Deal Team Name To Same As Member Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.pro_Member_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Member_Role_To_Same_As_Name</name>
        <label>Set Member Role To Same As Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Deal_Team_Name_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>pro_Member_Role__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_The_Member_Role_Been_Updated</targetReference>
        </connector>
        <filterFormula>OR(
      ISBLANK(TEXT({!$Record.pro_Member_Role__c})) ,
      TEXT({!$Record.pro_Member_Role__c}) != {!$Record.Name}
)</filterFormula>
        <object>leaseworks__Deal_Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
