force-app/main/default/flows/pro_Deal_Bulk_Create_Tasks_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>pro_Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>col_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Loop_Repeater_Assign_Individually</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Add_To_Collection_All</name>
        <label>Add To Collection (All)</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>col_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Loop_Deal_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Assign_Task_Values_All</name>
        <label>Assign Task Values (All)</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Deal_Team.leaseworks__Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_To_All.pro_Priority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Add_To_Collection_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pro_Assign_Task_Values_Individual</name>
        <label>Assign Task Values (Individual)</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Assigned_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pro_Loop_Repeater_Assign_Individually.pro_Priority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pro_Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>pro_Assignment_Decision</name>
        <label>Assignment Decision</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>pro_Loop_Repeater_Assign_Individually</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Individually</defaultConnectorLabel>
        <rules>
            <name>pro_Assign_To_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pro_Assign_To_All_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pro_Get_Deal_Team</targetReference>
            </connector>
            <label>Assign To All</label>
        </rules>
    </decisions>
    <description>Updated Flow with Default Due Date and Low Priority</description>
    <dynamicChoiceSets>
        <name>pcs_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Task_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_Deal_Members</name>
        <dataType>String</dataType>
        <displayField>pro_Deal_Team_User__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>leaseworks__Deal_Team__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>leaseworks__Assigned_To__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_Assigned_To_Disabled</name>
        <dataType>Boolean</dataType>
        <expression>IF({!pro_Assign_To_All_Toggle.value} = TRUE, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>f_Due_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +7</expression>
    </formulas>
    <interviewLabel>Deal - Bulk Create Tasks Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal - Bulk Create Tasks Screen Flow</label>
    <loops>
        <name>pro_Loop_Deal_Team</name>
        <label>Loop Deal Team</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <collectionReference>pro_Get_Deal_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pro_Assign_Task_Values_All</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Loop_Repeater_Assign_To_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>pro_Loop_Repeater_Assign_Individually</name>
        <label>Loop Repeater (Assign Individually)</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <collectionReference>pro_Task_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pro_Assign_Task_Values_Individual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>pro_Loop_Repeater_Assign_To_All</name>
        <label>Loop Repeater (Assign To All)</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>pro_Task_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pro_Loop_Deal_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>pro_Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>pro_Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>226</locationX>
        <locationY>1142</locationY>
        <inputReference>col_Tasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>pro_Get_Deal_Team</name>
        <label>Get Deal Team</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pro_Loop_Repeater_Assign_To_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Assigned_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>pro_Create_Task_Screen</name>
        <label>Create Task Screen</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>pro_Assignment_Decision</targetReference>
        </connector>
        <fields>
            <name>pro_Create_Task_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>pro_Create_Task_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>pro_Create_Task_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pro_Display_Header</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;{!recordId.Name}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>pro_Create_Task_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>pro_Create_Task_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>pro_Create_Task_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>pro_Create_Task_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>pro_Create_Task_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pro_Assign_To_All_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assign To All Deal Team</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>pro_Task_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>pro_Assigned_To</name>
                <choiceReferences>rcs_Deal_Members</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Assigned To</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isDisabled>
                    <elementReference>f_Assigned_To_Disabled</elementReference>
                </isDisabled>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>pro_Status</name>
                <choiceReferences>pcs_Task_Status</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <stringValue>Not Started</stringValue>
                </defaultValue>
                <fieldText>Status</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>pro_Priority</name>
                <choiceReferences>pcs_Priority</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <stringValue>Low</stringValue>
                </defaultValue>
                <fieldText>Priority</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>pro_Due_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>f_Due_Date</elementReference>
                </defaultValue>
                <fieldText>Due Date</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>pro_Subject</name>
                <dataType>String</dataType>
                <fieldText>Subject</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>pro_Description</name>
                <fieldText>Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Tasks</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pro_Create_Task_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>var_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
