force-app/main/default/flows/pro_Prodigy_Parties_in_Deal_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Current_Account_to_Record_Collection</name>
        <label>Add Current Account to Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_Account_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_Current_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Parties_in_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Current_Account_Record_Variable</name>
        <label>Assign Value to Current Account Record Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_Current_Account_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Related_Parties_in_Deal.pro_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Account_Record.pro_Recalculate_Party_to_Active_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Account_to_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Were_Parties_in_Deal_retrieved</name>
        <label>Were Parties in Deal retrieved?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parties_in_Deal_were_retrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Parties_in_Deal</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Related_Parties_in_Deal</targetReference>
            </connector>
            <label>Yes - Parties in Deal were retrieved</label>
        </rules>
    </decisions>
    <description>AB 11/02/2026 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Parties in Deal Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Parties in Deal Subflow</label>
    <loops>
        <name>Loop_through_Related_Parties_in_Deal</name>
        <label>Loop through Related Parties in Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Parties_in_Deal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_Current_Account_Record_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts_in_Record_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Asset_in_Deal</name>
        <label>Get Related Asset in Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Parties_in_Deal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Input_Deal.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Parties_in_Deal</name>
        <label>Get Related Parties in Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Parties_in_Deal_retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Asset_in_Deal.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Party_In_Deal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts_in_Record_Collection</name>
        <label>Update Accounts in Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>v_Account_Record_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Asset_in_Deal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>v_Account_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>v_Current_Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>v_Input_Deal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
</Flow>
