force-app/main/default/flows/pro_Contact_Before_Save_Create_Update_Contact_Address_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_Address_Values</name>
        <label>Assign Billing Address Values</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipping_Address_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Address_Values</name>
        <label>Assign Shipping Address Values</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.OtherStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OtherCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Billing_Address_Blank</name>
        <label>Is Billing Address Blank?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Shipping_Address_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next -&gt;</defaultConnectorLabel>
        <rules>
            <name>Yes_Clone_From_Account_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Address_Values</targetReference>
            </connector>
            <label>Yes - Clone From Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shipping_Address_Blank</name>
        <label>Is Shipping Address Blank</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Skip -&gt; End</defaultConnectorLabel>
        <rules>
            <name>Yes_Clone_From_Account_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OtherStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Address_Values</targetReference>
            </connector>
            <label>Yes - Clone From Account</label>
        </rules>
    </decisions>
    <description>This record triggered flow runs when either the Billing (Mailing Address) or Shipping (Other Address) Address Fields is left blank. If completely blank, the flow will pull the respective values from the related account (Billing Address to Billing Address, Shipping Address to Shipping Address).
PC - Prodigy - 20/06/2024</description>
    <environments>Default</environments>
    <interviewLabel>Contact - Before Save / Create - Update Contact Address Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Before Save / Create - Update Contact Address Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Billing_Address_Blank</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MailingAddress</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OtherAddress</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
