force-app/main/default/flows/pro_Screen_Target_Management_Console.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Asset_To_Collection_Variable</name>
        <label>Assign Asset To Collection Variable</label>
        <locationX>1172</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varAssetsWithoutTargets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assets_Without_Open_Targets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListOfIdsForAssetsWithoutTargetsQuery</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_IdListFormattedForSOQL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets_Without_Open_Targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Values_To_Placeholders</name>
        <label>Assign Screen Values To Placeholders</label>
        <locationX>908</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varCurrentYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_A_Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Audits_Delete_Audits_Set_Target_Plan_or_Save_Changes_To_Assets</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Achieved</name>
        <choiceText>Achieved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Achieved</stringValue>
        </value>
    </choices>
    <choices>
        <description>All choice for Target Filter values</description>
        <name>c_All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Moved_To_Trading</name>
        <choiceText>Moved To Trading</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moved To Trading</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trading</name>
        <choiceText>Trading</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trading</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Current_Asset_In_Collection</name>
        <label>Current Asset In Collection?</label>
        <locationX>1084</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Asset_To_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add To Collection Variable</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collection_Of_Assets_Ids_LOI_Extended</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Assets_Without_Open_Targets.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assets_Without_Open_Targets</targetReference>
            </connector>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Audits_Delete_Audits_Set_Target_Plan_or_Save_Changes_To_Assets</name>
        <label>Update Audits, Delete Audits, Set Target Plan or Save Changes To Assets?</label>
        <locationX>908</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Update_Targets</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Update_Selected_Targets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Asset_Targets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Via_Audits_or_Assets</targetReference>
            </connector>
            <label>Update Targets</label>
        </rules>
        <rules>
            <name>Delete_Targets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Selected_Targets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Targets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteWarningScreen</targetReference>
            </connector>
            <label>Delete Targets</label>
        </rules>
        <rules>
            <name>Set_Target_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveTargetPlan.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save Target Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Plan</targetReference>
            </connector>
            <label>Set Target Plan</label>
        </rules>
        <rules>
            <name>Save_Changes_To_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveChanges.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Fields_On_Asset</targetReference>
            </connector>
            <label>Save Changes To Assets</label>
        </rules>
        <rules>
            <name>Take_Target_Snapshot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_TargetSnapshot.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Target Snapshot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Snapshot_Warning_Screen</targetReference>
            </connector>
            <label>Take Target Snapshot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Via_Audits_or_Assets</name>
        <label>Update Via Audits or Assets?</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Update_With_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assets</defaultConnectorLabel>
        <rules>
            <name>Audits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Selected_Targets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Via_With_Audits</targetReference>
            </connector>
            <label>Audits</label>
        </rules>
    </decisions>
    <description>Allows priviliged users to view Assets / Asset Target Audit records and filter based on status, outcome, year, and other criteria. Allows to filter for Assets with no open targets. Allows for setting and adjustment of targets.</description>
    <dynamicChoiceSets>
        <name>c_AssetStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>leaseworks__Status__c</picklistField>
        <picklistObject>leaseworks__Aircraft__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_AssetType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>leaseworks__Asset_Type_GP__c</picklistField>
        <picklistObject>leaseworks__Aircraft__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Target_Outcomes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>pro_Target_Outcomes__c</picklistField>
        <picklistObject>pro_Global_Value_Set__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Year_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>pro_Years__c</picklistField>
        <picklistObject>Flow_Picklist_Value__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_targetOutcomes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>pro_Progress_Picklist__c</picklistField>
        <picklistObject>pro_Asset_Target_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_TargetSnapshot</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>pro_Asset_Target_Snapshot__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Years</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Years__c</picklistField>
        <picklistObject>pro_Global_Value_Set__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_AssetTableFormulaHeader</name>
        <dataType>String</dataType>
        <expression>IF({!View_Assets_Without_Any_Target} = True, 
                       &#39;Assets Without Any Target&#39;,
                       &#39;Assets With Target In &#39; + {!Select_A_Year}
)</expression>
    </formulas>
    <formulas>
        <name>f_AssetTargetAuditStatusDefinitions</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!Select_An_Outcome},
    &#39;Achieved - LOI Other&#39;, &#39;Target closed by an Asset in Deal being LOId outside of the target year&#39;,
    &#39;Achieved - LOI&#39;, &#39;Target closed by an Asset in Deal being LOId within the target year&#39;,
    &#39;Achieved - No LOI&#39;, &#39;Target closed by a new Contract getting signed for the Asset. There is no related Deal in the system&#39;,
    &#39;Achieved - Contract Extended&#39;, &#39;Target closed by a Contract being extended&#39;,
    &#39;Target Cancelled&#39;, &#39;Either the target was manually readjusted, the Contract is Cancelled, the Contract is Expired / Terminated&#39;,
    &#39;Open&#39;, &#39;The Asset needs to be placed and has a Target Forecast date in the future&#39;,
    &#39;Open - Target Date Exceeded&#39;, &#39;The Asset needs to be placed and has a Target Forecast date in the past&#39;,
    &#39;&#39;
)</expression>
    </formulas>
    <formulas>
        <name>f_AssetTargetSnapshotQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Choose_Snapshot}),
    
    /* No snapshot selected → return no records */
    &quot;SELECT Id, Name FROM pro_Asset_Target_Snapshot_Item__c WHERE Id = null&quot;,
    
    /* Snapshot selected → return related snapshot items */
    &quot;SELECT Id, Name, pro_Asset__c, pro_Asset_Id__c, pro_Asset_Name__c, pro_Asset_In_Deal__c, pro_Asset_In_Deal_Id__c, pro_Asset_In_Deal_Name__c, &quot; &amp;
    &quot;pro_Asset_Target_Snapshot__c, pro_Contract__c, pro_Contract_Id__c, pro_Contract_Name__c, pro_Likely_Outcome__c, pro_LOId_Deal_Type__c, &quot; &amp;
    &quot;pro_Marketing_Trading__c, pro_Progress__c, pro_Target_End_Date__c, pro_Target_Forecast__c, pro_Target_Forecast_Id__c, pro_Target_Forecast_Name__c, &quot; &amp;
    &quot;pro_Target_Reached__c, pro_Target_Reached_Id__c, pro_Target_Reached_Name__c &quot; &amp;
    &quot;FROM pro_Asset_Target_Snapshot_Item__c &quot; &amp;
    &quot;WHERE pro_Asset_Target_Snapshot__r.Name = &#39;&quot; &amp; {!Choose_Snapshot} &amp; &quot;&#39;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Based on the checkbox View Target Snashot return either a query to show Targets by selected year or show only Targets that are part of current snapshot</description>
        <name>f_ChooseTargetQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Target_Snapshot} = TRUE, {!f_TargetSnapshotQuery}, {!f_DataTable1AuditQuery}
)</expression>
    </formulas>
    <formulas>
        <name>f_CurrentYearText</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>f_DataFetcherAssetQueries</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Assets_Without_Any_Target},
    
    /* When View Assets Without Any Target = TRUE */
    &quot;SELECT Id, Name, leaseworks__Status__c, leaseworks__Assigned_To__c, leaseworks__Availability_Date__c, Likely_Outcome__c, pro_Marketing_Trading__c, pro_Impact_Type__c, leaseworks__RecordTypeDevName__c, pro_Target_Year__c, pro_Lease_Status__c, leaseworks__Y_Hidden_Lease_End_Date__c, pro_Target_Moved_To_Trading__c &quot; &amp;
    &quot; FROM leaseworks__Aircraft__c &quot; &amp;
    &quot; WHERE Id IN (&quot; &amp; TRIM({!varListOfIdsForAssetsWithoutTargetsQuery}) &amp; &quot;) &quot; &amp;
    &quot; ORDER BY leaseworks__Y_Hidden_Lease_End_Date__c ASC&quot;,
    
    /* Otherwise continue with year-based logic */
    IF( 
        ISBLANK({!Select_A_Year}),
        /* No year selected → return no records */
        &quot;SELECT Id, Name FROM leaseworks__Aircraft__c WHERE Id = null&quot;,
        
        /* Year selected → run full query */
        &quot;SELECT Id, Name, leaseworks__Status__c, leaseworks__Assigned_To__c, leaseworks__Availability_Date__c, Likely_Outcome__c, pro_Marketing_Trading__c, pro_Impact_Type__c, leaseworks__RecordTypeDevName__c, pro_Target_Year__c, pro_Lease_Status__c, leaseworks__Y_Hidden_Lease_End_Date__c, pro_Target_Moved_To_Trading__c &quot; &amp;
        &quot; FROM leaseworks__Aircraft__c &quot; &amp;
        &quot; WHERE (pro_Target_Year__c = &#39;&quot; &amp; {!Select_A_Year} &amp; &quot;&#39; OR pro_Most_Recent_Achieved_Target_Year__c = &#39;&quot; &amp; {!Select_A_Year} &amp; &quot;&#39;)&quot; &amp;
        &quot; ORDER BY leaseworks__Y_Hidden_Lease_End_Date__c ASC&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>f_DataTable1AuditQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Select_A_Year})),
    
    /* Year is selected */
    IF(
        ISBLANK({!Select_An_Outcome}) || {!Select_An_Outcome} = &quot;All&quot;,
        
        /* All outcomes except Target Cancelled and Moved To Trading */
        {!varTargetQueryFields} &amp;
        &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
        &quot; WHERE pro_Target_Year__c = &#39;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&#39;&quot; &amp;
        &quot; AND pro_Progress__c NOT IN (&#39;Target Cancelled&#39;,&#39;Moved To Trading&#39;)&quot; &amp;
        &quot; ORDER BY pro_Target_End_Date__c ASC&quot;,
        
        /* Specific outcomes */
        IF(
            {!Select_An_Outcome} = &quot;Open&quot;,
            {!varTargetQueryFields} &amp;
            &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
            &quot; WHERE pro_Target_Year__c = &#39;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&#39;&quot; &amp;
            &quot; AND pro_Progress__c IN (&#39;Open&#39;,&#39;Open - Target Date Exceeded&#39;)&quot; &amp;
            &quot; ORDER BY pro_Target_End_Date__c ASC&quot;,
            
            IF(
                {!Select_An_Outcome} = &quot;Achieved&quot;,
                /* Achieved — with conditional &#39;Achieved By&#39; filter */
                {!varTargetQueryFields} &amp;
                &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
                &quot; WHERE pro_Target_Year__c = &#39;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&#39;&quot; &amp;
                &quot; AND pro_Progress__c IN (&#39;Achieved - Contract Extended&#39;,&#39;Achieved - No LOI&#39;,&#39;Achieved - LOI&#39;,&#39;Achieved - LOI Other&#39;)&quot; &amp;
                IF(
                    ISBLANK({!Achieved_By}),
                    &quot;&quot;,
                    IF(
                        {!Achieved_By} = &quot;Marketing&quot;,
                        /* Marketing → must contain Lease */
                        &quot; AND pro_LOId_Deal_Type__c LIKE &#39;%Lease%&#39;&quot;,
                        IF(
                            {!Achieved_By} = &quot;Trading&quot;,
                            /* Trading → must match one of these deal types */
                            &quot; AND pro_LOId_Deal_Type__c IN (&#39;Sale - Novation&#39;,&#39;Sale - Off Lease&#39;,&#39;Engine Exchange&#39;,&#39;SLB&#39;,&#39;Sale&#39;)&quot;,
                            &quot;&quot;
                        )
                    )
                ) &amp;
                &quot; ORDER BY pro_Target_End_Date__c ASC&quot;,
                
                /* Moved To Trading */
                {!varTargetQueryFields} &amp;
                &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
                &quot; WHERE pro_Target_Year__c = &#39;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&#39;&quot; &amp;
                &quot; AND pro_Progress__c = &#39;Moved To Trading&#39;&quot; &amp;
                &quot; ORDER BY pro_Target_End_Date__c ASC&quot;
            )
        )
    ),
    
    /* No year selected → return 0 records */
    &quot;SELECT Name, Id FROM pro_Asset_Target_Audit__c WHERE Id = NULL&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_Datatable_1_Header</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Target_Snapshot} = TRUE,
    /* Snapshot view */
    &quot;Target Snapshot&quot;,
    
    IF(
        ISBLANK({!Select_A_Year}),
        /* No year selected */
        &quot;Select A Year&quot;,
        
        /* Year selected — decide message based on outcome */
        IF(
            {!Select_An_Outcome} = &quot;Open&quot;,
            &quot; Targets Left To Achieve In &quot; &amp; {!Select_A_Year},
            
            IF(
                {!Select_An_Outcome} = &quot;Achieved&quot;,
                &quot;Targets Achieved In &quot; &amp; {!Select_A_Year},
                
                IF(
                    {!Select_An_Outcome} = &quot;Moved To Trading&quot;,
                    &quot;Targets Moved To Trading In &quot; &amp; {!Select_A_Year},
                    
                    /* Fallback — just show total for year */
                    &quot;All Targets In &quot; &amp; {!Select_A_Year}
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>f_IdListFormattedForSOQL</name>
        <dataType>String</dataType>
        <expression>IF({!varListOfIdsForAssetsWithoutTargetsQuery} = Null, 
           &quot;&#39;&quot; + {!Assets_Without_Open_Targets.Id} + &quot;&#39;&quot; , &quot;,&#39;&quot; + {!Assets_Without_Open_Targets.Id}  +  &quot;&#39;&quot; )</expression>
    </formulas>
    <formulas>
        <name>f_TargetRecordsFilteredBySelectedYear</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, pro_Target_Amount__c FROM pro_Target__c WHERE pro_Target_Year__c = &#39;&quot; 
&amp; TEXT(VALUE({!Select_A_Year}) + 1) 
&amp; &quot;&#39; ORDER BY pro_End_Date__c ASC&quot;</expression>
    </formulas>
    <formulas>
        <name>f_TargetsAchievedQueryFilteredByYear</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT COUNT(Id) FROM pro_Asset_Target_Audit__c WHERE pro_Progress__c IN (&#39;Achieved - LOI&#39;,&#39;Achieved - LOI Other&#39;,&#39;Achieved - Contract Extended&#39;,&#39;Achieved - No LOI&#39;) AND pro_Target_Year__c = &#39;&quot; &amp; {!Select_A_Year} &amp; &quot;&#39;&quot;</expression>
    </formulas>
    <formulas>
        <name>f_TargetSnapshotQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Target_Snapshot} = TRUE,
    /* Only return records where snapshot date exists */
    {!varTargetQueryFields} &amp; 
    &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
    &quot; WHERE pro_Target_Snapshot_Date__c != NULL&quot; &amp;
    &quot; ORDER BY pro_Target_Snapshot_Date__c ASC&quot;,
    
    /* If user cannot view snapshot → return 0 records */
    &quot;SELECT Name, Id FROM pro_Asset_Target_Audit__c WHERE Id = NULL&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_TargetsQueryFilteredByYear</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT COUNT(Id) FROM pro_Asset_Target_Audit__c WHERE pro_Progress__c IN (&#39;Open&#39;,&#39;Open - Target Date Exceeded&#39;,&#39;Achieved - LOI&#39;,&#39;Achieved - LOI Other&#39;,&#39;Achieved - Contract Extended&#39;,&#39;Achieved - No LOI&#39;) AND pro_Target_Year__c = &#39;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&#39;&quot;</expression>
    </formulas>
    <formulas>
        <name>varViewOnlyUSerPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.pro_View_Only_Manage_Targets_Flow}</expression>
    </formulas>
    <interviewLabel>Screen - Target Management Console {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Target Management Console</label>
    <loops>
        <name>Assets_Without_Open_Targets</name>
        <label>Assets Without Open Targets</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Assets_Without_Open_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Asset_In_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MainScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Selected_Targets</name>
        <label>Delete Selected Targets</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <inputReference>dt_DisplayAuditRecords.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Target_Audit_Records_For_LOI_Lease_Extension</name>
        <label>Get Asset Target Audit Records For LOI Lease Extension</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection_Of_Assets_Ids_LOI_Extended</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>pro_Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Assets_Without_Open_Targets_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_LOId_Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>pro_LOId_Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease Extension</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_Target_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_Without_Open_Targets</name>
        <label>Get Assets Without Open Targets</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assets_Without_Open_Targets_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Create_Asset_With_Open_Target_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consigned - Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__MSN_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Purchased</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Asset_Target_Audits</name>
        <label>Get Open Asset Target Audits</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset_With_Open_Target_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Progress__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_Target_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target_Fields_On_Asset</name>
        <label>Update Target Fields On Asset</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <inputReference>dt_DisplayAllAssets.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Plan</name>
        <label>Update Target Plan</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <inputReference>dt_TargetRecords.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DeleteWarningScreen</name>
        <label>DeleteWarningScreen</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Selected_Targets</targetReference>
        </connector>
        <fields>
            <name>WarningDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(220, 53, 69); font-size: 20px;&quot;&gt;&lt;u&gt;Warning&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Continuing with this action will permanently delete the selected targets from the system. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Click &#39;Previous&#39; to return to the previous screen.  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Click &#39;Delete Targets&#39; to proceed with the deletion.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeleteWarningScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DeleteWarningScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DeleteWarningScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DeleteWarningScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DeleteWarningScreen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Delete Targets</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MainScreen</name>
        <label>MainScreen</label>
        <locationX>908</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Screen_Values_To_Placeholders</targetReference>
        </connector>
        <fields>
            <name>MainScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenToggleButtons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Assets&quot;,&quot;value&quot;:&quot;Assets&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Targets&quot;,&quot;value&quot;:&quot;Audits&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Set Target Plan&quot;,&quot;value&quot;:&quot;Set Target Plan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>Assets</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MainScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_A_Year</name>
                    <choiceReferences>c_Year_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varCurrentYear</elementReference>
                    </defaultValue>
                    <fieldText>Filter by Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Assets</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Set Target Plan</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>View_Assets_Without_Any_Target</name>
                    <dataType>Boolean</dataType>
                    <fieldText>View Assets Without Any Target</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Assets</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>View_Target_Snapshot</name>
                    <dataType>Boolean</dataType>
                    <fieldText>View Target Snapshot</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_An_Outcome</name>
                    <choiceReferences>c_Open</choiceReferences>
                    <choiceReferences>c_Achieved</choiceReferences>
                    <choiceReferences>c_Moved_To_Trading</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Filter by Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Choose_Snapshot</name>
                    <choiceReferences>rcs_TargetSnapshot</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Snapshot</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Achieved_By</name>
                    <choiceReferences>Marketing</choiceReferences>
                    <choiceReferences>Trading</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Achieved By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_An_Outcome</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Achieved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bb_TargetSnapshot</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Take Target Snapshot&quot;,&quot;value&quot;:&quot;Target Snapshot&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:campaign&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 4) AND (3 OR 5) AND 6</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsEdited</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsEdited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Line1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dt_DisplayAuditRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Audit__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>pro_Asset_Target_Audit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AuditRecordQueries.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>pro_Target__r_lookup:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>pro_Asset_Name__c,pro_Contract__c,pro_Progress__c,pro_LOId_Deal_Type__c,pro_Likely_Outcome__c,pro_Marketing_Trading__c,pro_Target_Forecast__c,pro_Target_Reached__c,pro_Target_End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>pro_Asset_Name__c:146, pro_Contract__c:180, pro_Progress__c:202, pro_LOId_Deal_Type__c:236, pro_Likely_Outcome__c:180, pro_Marketing_Trading__c:221, pro_Target_Forecast__c:181, pro_Target_Reached__c:214, pro_Target_End_Date__c:209</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>f_Datatable_1_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Audits</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>View_Target_Snapshot</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_DisplayAssetTargetSnapshotItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Snapshot_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>pro_Asset_Target_Snapshot_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>df_TargetSnapshotQuery.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>pro_Asset__c,pro_Contract__c,pro_Progress__c,pro_Likely_Outcome__c,pro_Marketing_Trading__c,pro_Target_Forecast__c,pro_Target_Reached__c,pro_Target_End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>pro_Asset__c:311, pro_Contract__c:311, pro_Progress__c:311, pro_Likely_Outcome__c:311, pro_Marketing_Trading__c:311, pro_Target_Forecast__c:311, pro_Target_Reached__c:311, pro_Target_End_Date__c:311</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Asset Target Snapshot Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>View_Target_Snapshot</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AuditRecordQueries</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Audit__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>pro_Target__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>pro_Asset_Target_Audit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName2</name>
                <value>
                    <stringValue>pro_Target__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>f_ChooseTargetQuery</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>debounceTime</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>df_TargetSnapshotQuery</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Snapshot_Item__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>pro_Asset_Target_Snapshot_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>f_AssetTargetSnapshotQuery</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Line2</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Audits</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MainScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lookup_Target</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>pro_Asset_Target_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>pro_Target_Forecast__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select New Target</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varTargetId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varViewOnlyUSerPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Update_Selected_Targets</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Delete Targets&quot;,&quot;value&quot;:&quot;Delete Targets&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Update Selected Targets &quot;,&quot;value&quot;:&quot;Audits&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:record_update&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varViewOnlyUSerPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Audits</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varViewOnlyUSerPermission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_DisplayAllAssets</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>leaseworks__Aircraft__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>leaseworks__Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssetRecordQueries.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,leaseworks__RecordTypeDevName__c,leaseworks__Status__c,leaseworks__Assigned_To__c,Likely_Outcome__c,pro_Target_Moved_To_Trading__c,pro_Marketing_Trading__c,leaseworks__Y_Hidden_Lease_End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:321, leaseworks__RecordTypeDevName__c:173, leaseworks__Status__c:252, leaseworks__Assigned_To__c:190, Likely_Outcome__c:173, pro_Target_Moved_To_Trading__c:189, pro_Marketing_Trading__c:314, leaseworks__Y_Hidden_Lease_End_Date__c:435</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>f_AssetTableFormulaHeader</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>leaseworks__RecordTypeDevName__c:Aircraft / Engine, pro_Target_Moved_To_Trading__c:Moved To Trading</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Likely_Outcome__c:true, pro_Target_Moved_To_Trading__c:true, pro_Marketing_Trading__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssetRecordQueries</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>leaseworks__Aircraft__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>pro_Target__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>leaseworks__Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName2</name>
                <value>
                    <stringValue>pro_Target__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>f_DataFetcherAssetQueries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Line3</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line4</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Untargeted Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MainScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lookup_Target_2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>pro_Asset_Target_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>pro_Target_Forecast__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select A Target</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varTargetId2</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varViewOnlyUSerPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Create_Asset_Targets</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Create Targets&quot;,&quot;value&quot;:&quot;Assets&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>varViewOnlyUSerPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>bb_SaveChanges</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save Changes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MainScreen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_TargetRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Target__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pro_Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,pro_Target_Amount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:377, pro_Target_Amount__c:535</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FetchTargetRecords.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>pro_Target_Amount__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showSelectedCount</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FetchTargetRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Target__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>pro_Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>f_TargetRecordsFilteredBySelectedYear</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Line5</name>
                    <extensionName>c:fsc_drawLine</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>bb_SaveTargetPlan</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Save Target Plan&quot;,&quot;value&quot;:&quot;Save Target Plan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Set Target Plan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>df_CountTargetsByYear</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Audit__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>leaseworks__Aircraft__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>pro_Asset_Target_Audit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>f_TargetsQueryFilteredByYear</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName2</name>
                <value>
                    <stringValue>leaseworks__Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>df_TargetsReachedByYear</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Audit__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>pro_Asset_Target_Audit__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>pro_Asset_Target_Audit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>f_TargetsAchievedQueryFilteredByYear</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName2</name>
                <value>
                    <stringValue>pro_Asset_Target_Audit__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Snapshot_Warning_Screen</name>
        <label>Snapshot Warning Screen</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Target_Snapshot</targetReference>
        </connector>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Warning:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; You are about to update the Target Snapshot for {!$Flow.CurrentDate}. Once you click &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Confirm&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;, the target list for the selected date will be updated. Please ensure all information is correct before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Asset_Target_Audits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Target_Snapshot</name>
        <label>Create Target Snapshot</label>
        <locationX>1370</locationX>
        <locationY>1706</locationY>
        <flowName>pro_Autolaunched_Create_Target_Snapshot</flowName>
        <inputAssignments>
            <name>varAssetTargetAudits</name>
            <value>
                <elementReference>dt_DisplayAuditRecords.outputRemainingRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTargetYear</name>
            <value>
                <elementReference>Select_A_Year</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Via_With_Audits</name>
        <label>Update Via With Audits</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <flowName>Prodigy_Update_Target_Audits</flowName>
        <inputAssignments>
            <name>varTargetAuditCollection</name>
            <value>
                <elementReference>dt_DisplayAuditRecords.outputSelectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTargetId</name>
            <value>
                <elementReference>varTargetId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_With_Assets</name>
        <label>Update With Assets</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <flowName>Prodigy_Update_Target_Audits</flowName>
        <inputAssignments>
            <name>varAssetCollection</name>
            <value>
                <elementReference>dt_DisplayAllAssets.outputSelectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTargetId2</name>
            <value>
                <elementReference>varTargetId2</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>varDataFetcherQuery</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Name, Id, pro_Asset__c, pro_Contract__c, pro_Outcome__c, pro_Target__c FROM pro_Asset_Target_Audit__c</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_Out_Assets_With_Open_Targets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Values_From_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>ProgressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&#39;Open&#39;,&#39;Open - Target Date Exceeded&#39;,&#39;Achieved - LOI&#39;,&#39;Achieved - LOI Other&#39;,&#39;Achieved - Contract Extended&#39;,&#39;Achieved - No LOI&#39;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAssetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <description>A collection of Assets that are neither Sold nor Consigned and have no open targets associated.</description>
        <name>varAssetsWithoutTargets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>varCurrentYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>f_CurrentYearText</elementReference>
        </value>
    </variables>
    <variables>
        <description>Comma separated list of Ids for Assets without Targets formatted for reference in a flow resource building up a SOQL query</description>
        <name>varListOfIdsForAssetsWithoutTargetsQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSerialNumberPlaceholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTarget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Target__c</objectType>
    </variables>
    <variables>
        <name>varTarget2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Target__c</objectType>
    </variables>
    <variables>
        <name>varTargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetQueryFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SELECT Name, Id, pro_Asset__c, pro_Contract__c, pro_Likely_Outcome__c, pro_Target_Forecast__c, pro_Target_Year__c, pro_Target_End_Date__c,  pro_Asset_In_Deal__c, pro_Contract_Extended__c, pro_Asset_Name__c, pro_Progress__c, pro_Marketing_Trading__c, pro_Target_Reached__c , pro_LOId_Deal_Type__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTargetsPlanToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Target__c</objectType>
    </variables>
</Flow>
