force-app/main/default/flows/pro_Prodigy_Account_Recalculate_Party_to_Lease.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_True_to_Active_Parties_in_Leases</name>
        <label>Assign True to Active Parties in Leases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_Active_Parties_In_Leases</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Parties_in_Leases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_current_Lease_Active</name>
        <label>Is the current Lease Active?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Related_Parties_in_Leases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_Lease_is_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Related_Parties_in_Leases.leaseworks__Contract__r.leaseworks__Lease_Type_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Related_Parties_in_Leases.leaseworks__Contract__r.leaseworks__Lease_Type_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Related_Parties_in_Leases.leaseworks__Contract__r.leaseworks__Lease_Type_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Related_Parties_in_Leases.leaseworks__Contract__r.leaseworks__Lease_Type_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Lease [R]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_True_to_Active_Parties_in_Leases</targetReference>
            </connector>
            <label>Yes - Current Lease is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Active_records_found</name>
        <label>Were Active records found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Account_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Active Records were not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_Records_were_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Active_Parties_In_Leases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_True</targetReference>
            </connector>
            <label>Yes - Active Records were found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Related_Parties_in_Leases_retrieved</name>
        <label>Were Related Parties in Leases retrieved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Were_Active_records_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Parties_in_Leases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Parties_in_Leases</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Related_Parties_in_Leases</targetReference>
            </connector>
            <label>Yes - Related Parties in Leases</label>
        </rules>
    </decisions>
    <description>AB 25/02/2026 - Updates to Logic
AB 16/02/2026 - Updates to Logic
AB 11/02/2026 - Created by Prodigy</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Account Recalculate Party to Lease</label>
    <loops>
        <name>Loop_through_Related_Parties_in_Leases</name>
        <label>Loop through Related Parties in Leases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Parties_in_Leases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_current_Lease_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Were_Active_records_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Parties_in_Leases</name>
        <label>Get Related Parties in Leases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Related_Parties_in_Leases_retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Next Operator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Parties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_False</name>
        <label>Update Account - False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Pro_Party_to_an_active_lease__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Recalculate_Party_to_Active_Lease__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_True</name>
        <label>Update Account - True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Pro_Party_to_an_active_lease__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Recalculate_Party_to_Active_Lease__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Parties_in_Leases</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Recalculate_Party_to_Active_Lease__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_Active_Parties_In_Leases</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
