force-app/main/default/flows/pro_Claim_Approved_Set_Technical_And_Finance_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Comments_To_Finance_Comments_Field</name>
        <label>Assign Comments To Finance Comments Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.leaseworks__CFO_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Process_Instance_Steps.Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Process_Instance_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Comments_To_Technical_Comments_Field</name>
        <label>Assign Comments To Technical Comments Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.leaseworks__CTO_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Process_Instance_Steps.Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Process_Instance_Steps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Actor_Id_Match_The_Finance_Or_Technical_Sign_Off_User</name>
        <label>Does Actor Id Match The Finance Or Technical Sign Off User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Process_Instance_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Process_Instance_Steps.ActorId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Finance_Sign_Off_User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comments_To_Finance_Comments_Field</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
        <rules>
            <name>Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Process_Instance_Steps.ActorId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Technical_Sign_Off_User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comments_To_Technical_Comments_Field</targetReference>
            </connector>
            <label>Technical</label>
        </rules>
    </decisions>
    <description>When a Claim&apos;s status is moved to Approved, this flow fills in the Technical Comments and Finance Comments fields on the Claim records based on the approver comments made by the Technical and Finance approvers.</description>
    <environments>Default</environments>
    <interviewLabel>Claim - Approved Set Technical And Finance Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim - Approved Set Technical And Finance Comments</label>
    <loops>
        <name>Loop_Process_Instance_Steps</name>
        <label>Loop Process Instance Steps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Actor_Id_Match_The_Finance_Or_Technical_Sign_Off_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Approver_Fields_On_Claim</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_History</name>
        <label>Get Approval History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Process_Instance_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Process_Instance</name>
        <label>Get Approval Process Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Approver_Fields_On_Claim</name>
        <label>Set Approver Fields On Claim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Process_Instance</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Claim_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>leaseworks__Claims__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
