force-app/main/default/flows/pro_Screen_Target_Management_Console.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Asset_To_Collection_Variable</name>
        <label>Assign Asset To Collection Variable</label>
        <locationX>1304</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varAssetsWithoutTargets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assets_Without_Open_Targets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListOfIdsForAssetsWithoutTargetsQuery</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_IdListFormattedForSOQL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets_Without_Open_Targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Values_To_Placeholders</name>
        <label>Assign Screen Values To Placeholders</label>
        <locationX>1040</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varCurrentYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_A_Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Audits_Delete_Audits_Set_Target_Plan_or_Save_Changes_To_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Year_To_Text_Variable</name>
        <label>Assign Year To Text Variable</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varCurrentYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CurrentYearText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Edit_Target_Permission_Set</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Achieved</name>
        <choiceText>Achieved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Achieved</stringValue>
        </value>
    </choices>
    <choices>
        <description>All choice for Target Filter values</description>
        <name>c_All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Moved_To_Trading</name>
        <choiceText>Moved To Trading</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moved To Trading</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trading</name>
        <choiceText>Trading</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trading</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Current_Asset_In_Collection</name>
        <label>Current Asset In Collection?</label>
        <locationX>1216</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Assign_Asset_To_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add To Collection Variable</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collection_Of_Assets_Ids_LOI_Extended</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Assets_Without_Open_Targets.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assets_Without_Open_Targets</targetReference>
            </connector>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Audits_Delete_Audits_Set_Target_Plan_or_Save_Changes_To_Assets</name>
        <label>Update Audits, Delete Audits, Set Target Plan or Save Changes To Assets?</label>
        <locationX>1040</locationX>
        <locationY>2138</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Update_Targets</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Update_Selected_Targets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Asset_Targets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Via_Audits_or_Assets</targetReference>
            </connector>
            <label>Update Targets</label>
        </rules>
        <rules>
            <name>Delete_Targets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_DeleteTargets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Target(s)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Removed_Target_Asset_NameCollection</targetReference>
            </connector>
            <label>Delete Targets</label>
        </rules>
        <rules>
            <name>Delete_Target_Snapshots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_DeleteSnapshots.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Snapshots</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Snapshot_Warning_Screen</targetReference>
            </connector>
            <label>Delete Target Snapshots</label>
        </rules>
        <rules>
            <name>Set_Target_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveTargetPlan.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save Target Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Plan</targetReference>
            </connector>
            <label>Set Target Plan</label>
        </rules>
        <rules>
            <name>Save_Changes_To_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveChanges.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Fields_On_Asset</targetReference>
            </connector>
            <label>Save Changes To Assets</label>
        </rules>
        <rules>
            <name>Take_Target_Snapshot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_TargetSnapshot.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Target Snapshot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Snapshot_Warning_Screen</targetReference>
            </connector>
            <label>Take Target Snapshot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Via_Audits_or_Assets</name>
        <label>Update Via Audits or Assets?</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Update_With_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assets</defaultConnectorLabel>
        <rules>
            <name>Audits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Selected_Targets.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Progress_Status_Collection_For_Selected_Targets</targetReference>
            </connector>
            <label>Audits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Achieved_Targets_Selected_For_Update</name>
        <label>Were Achieved Targets Selected For Update?</label>
        <locationX>270</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected_Target_Progress_Statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Achieved Selected</defaultConnectorLabel>
        <rules>
            <name>Yes_Achieved_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Target_Progress_Statuses</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Achieved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Selected_Target_Progress_Statuses</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Moved To Trading</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AchievedTargetValidationScreen</targetReference>
            </connector>
            <label>Yes - Achieved Selected</label>
        </rules>
    </decisions>
    <description>Allows priviliged users to view Assets / Asset Target Audit records and filter based on status, outcome, year, and other criteria. Allows to filter for Assets with no open targets. Allows for setting and adjustment of targets.</description>
    <dynamicChoiceSets>
        <name>c_AssetStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>leaseworks__Status__c</picklistField>
        <picklistObject>leaseworks__Aircraft__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_AssetType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>leaseworks__Asset_Type_GP__c</picklistField>
        <picklistObject>leaseworks__Aircraft__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Target_Outcomes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pro_Target_Outcomes__c</picklistField>
        <picklistObject>pro_Global_Value_Set__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Year_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pro_Years__c</picklistField>
        <picklistObject>Flow_Picklist_Value__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccs_Targets</name>
        <collectionReference>Get_Target_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>pro_Target__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_targetOutcomes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pro_Progress_Picklist__c</picklistField>
        <picklistObject>pro_Asset_Target_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_TargetSnapshot</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>pro_Asset_Target_Snapshot__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Years</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Years__c</picklistField>
        <picklistObject>pro_Global_Value_Set__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_AchievedTargetAggregateQuery</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT SUM(pro_Achieved_Target_Count__c) &quot; &amp;
&quot;FROM pro_Target__c &quot; &amp;
&quot;WHERE pro_Target_Year__c = &apos;&quot; &amp;
TEXT(VALUE({!Select_A_Year}) + 1) &amp;
&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>f_AssetTableFormulaHeader</name>
        <dataType>String</dataType>
        <expression>IF({!View_Assets_Without_Any_Target} = True, &apos;Assets Without Target&apos;,
    IF({!Select_A_Year} = Null, &apos;All Assets&apos;,
                       &apos;Assets With Target In &apos; + {!Select_A_Year}
))</expression>
    </formulas>
    <formulas>
        <name>f_AssetTargetAuditStatusDefinitions</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!Select_An_Outcome},
    &apos;Achieved - LOI Other&apos;, &apos;Target closed by an Asset in Deal being LOId outside of the target year&apos;,
    &apos;Achieved - LOI&apos;, &apos;Target closed by an Asset in Deal being LOId within the target year&apos;,
    &apos;Achieved - No LOI&apos;, &apos;Target closed by a new Contract getting signed for the Asset. There is no related Deal in the system&apos;,
    &apos;Achieved - Contract Extended&apos;, &apos;Target closed by a Contract being extended&apos;,
    &apos;Target Cancelled&apos;, &apos;Either the target was manually readjusted, the Contract is Cancelled, the Contract is Expired / Terminated&apos;,
    &apos;Open&apos;, &apos;The Asset needs to be placed and has a Target Forecast date in the future&apos;,
    &apos;Open - Target Date Exceeded&apos;, &apos;The Asset needs to be placed and has a Target Forecast date in the past&apos;,
    &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>f_AssetTargetSnapshotItemQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Choose_Snapshot}),
    
    /* No snapshot selected → return no records */
    &quot;SELECT Id, Name FROM pro_Asset_Target_Snapshot_Item__c WHERE Id = null&quot;,
    
    /* Snapshot selected → return related snapshot items */
    &quot;SELECT Id, Name, pro_Asset__c, pro_Asset_Id__c, pro_Asset_Name__c, pro_Asset_In_Deal__c, pro_Asset_In_Deal_Id__c, pro_Asset_In_Deal_Name__c, &quot; &amp;
    &quot;pro_Asset_Target_Snapshot__c, pro_Contract__c, pro_Contract_Id__c, pro_Contract_Name__c, pro_Likely_Outcome__c, pro_LOId_Deal_Type__c, &quot; &amp;
    &quot;pro_Marketing_Trading__c, pro_Progress__c, pro_Target_End_Date__c, pro_Target_Forecast__c, pro_Target_Forecast_Id__c, pro_Target_Forecast_Name__c, &quot; &amp;
    &quot;pro_Target_Reached__c, pro_Target_Reached_Id__c, pro_Target_Reached_Name__c &quot; &amp;
    &quot;FROM pro_Asset_Target_Snapshot_Item__c &quot; &amp;
    &quot;WHERE pro_Asset_Target_Snapshot__r.Name = &apos;&quot; &amp; {!Choose_Snapshot} &amp; &quot;&apos;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Based on the checkbox View Target Snashot return either a query to show Targets by selected year or show only Targets that are part of current snapshot</description>
        <name>f_ChooseTargetQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Target_Snapshot} = TRUE, {!f_TargetSnapshotQuery}, {!f_DataTable1AuditQuery}
)</expression>
    </formulas>
    <formulas>
        <name>f_CurrentDateText</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!$Flow.CurrentDate})), 2, &quot;0&quot;) &amp; &quot;-&quot; &amp;
LPAD(TEXT(MONTH({!$Flow.CurrentDate})), 2, &quot;0&quot;) &amp; &quot;-&quot; &amp;
TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>f_CurrentYearText</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>f_DataFetcherAssetQueries</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Assets_Without_Any_Target},

    &quot;SELECT Id, Name, leaseworks__Status__c, leaseworks__Assigned_To__c, leaseworks__Availability_Date__c, Likely_Outcome__c, pro_Marketing_Trading__c, pro_Impact_Type__c, leaseworks__RecordTypeDevName__c, pro_Target_Year__c, pro_Lease_Status__c, leaseworks__Y_Hidden_Lease_End_Date__c, pro_Target_Moved_To_Trading__c, pro_Target_Forecast_Date__c &quot; &amp;
    &quot;FROM leaseworks__Aircraft__c &quot; &amp;
    &quot;WHERE Id IN (&quot; &amp; TRIM({!varListOfIdsForAssetsWithoutTargetsQuery}) &amp; &quot;) &quot; &amp;
    &quot;ORDER BY leaseworks__Y_Hidden_Lease_End_Date__c ASC&quot;,

    IF(
        ISBLANK({!Select_A_Year}),

        &quot;SELECT Id, Name, leaseworks__Status__c, leaseworks__Assigned_To__c, leaseworks__Availability_Date__c, Likely_Outcome__c, pro_Marketing_Trading__c, pro_Impact_Type__c, leaseworks__RecordTypeDevName__c, pro_Target_Year__c, pro_Lease_Status__c, leaseworks__Y_Hidden_Lease_End_Date__c, pro_Target_Moved_To_Trading__c, pro_Target_Forecast_Date__c &quot; &amp;
        &quot;FROM leaseworks__Aircraft__c &quot; &amp;
        &quot;ORDER BY leaseworks__Y_Hidden_Lease_End_Date__c ASC&quot;,

        &quot;SELECT Id, Name, leaseworks__Status__c, leaseworks__Assigned_To__c, leaseworks__Availability_Date__c, Likely_Outcome__c, pro_Marketing_Trading__c, pro_Impact_Type__c, leaseworks__RecordTypeDevName__c, pro_Target_Year__c, pro_Lease_Status__c, leaseworks__Y_Hidden_Lease_End_Date__c, pro_Target_Moved_To_Trading__c, pro_Target_Forecast_Date__c &quot; &amp;
        &quot;FROM leaseworks__Aircraft__c &quot; &amp;
        &quot;WHERE (pro_Target_Year__c = &apos;&quot; &amp; {!Select_A_Year} &amp; &quot;&apos; &quot; &amp;
        &quot;OR pro_Most_Recent_Achieved_Target_Year__c = &apos;&quot; &amp; {!Select_A_Year} &amp; &quot;&apos;) &quot; &amp;
        &quot;ORDER BY leaseworks__Y_Hidden_Lease_End_Date__c ASC&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>f_DataTable1AuditQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Select_A_Year})),
    
    /* Year is selected */
    IF(
        ISBLANK({!Select_An_Outcome}) || {!Select_An_Outcome} = &quot;All&quot;,
        
        /* All outcomes except Target Cancelled and Moved To Trading */
        {!varTargetQueryFields} &amp;
        &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
        &quot; WHERE pro_Target_Year__c = &apos;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&apos;&quot; &amp;
        &quot; AND pro_Progress__c NOT IN (&apos;Target Cancelled&apos;,&apos;Moved To Trading&apos;)&quot; &amp;
        &quot; ORDER BY pro_Target_End_Date__c ASC&quot;,
        
        /* Specific outcomes */
        IF(
            {!Select_An_Outcome} = &quot;Open&quot;,
            {!varTargetQueryFields} &amp;
            &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
            &quot; WHERE pro_Target_Year__c = &apos;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&apos;&quot; &amp;
            &quot; AND pro_Progress__c IN (&apos;Open&apos;,&apos;Open - Target Date Exceeded&apos;)&quot; &amp;
            &quot; ORDER BY pro_Target_End_Date__c ASC&quot;,
            
            IF(
                {!Select_An_Outcome} = &quot;Achieved&quot;,
                /* Achieved — filter where Progress contains &apos;Achieved&apos;, and apply Achieved_By logic */
                {!varTargetQueryFields} &amp;
                &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
                &quot; WHERE pro_Target_Year__c = &apos;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&apos;&quot; &amp;
                &quot; AND pro_Progress__c LIKE &apos;%Achieved%&apos;&quot; &amp;
                IF(
                    ISBLANK({!Achieved_By}),
                    &quot;&quot;,
                    IF(
                        {!Achieved_By} = &quot;Marketing&quot;,
                        &quot; AND pro_Marketing_Trading__c LIKE &apos;%Marketing%&apos;&quot;,
                        IF(
                            {!Achieved_By} = &quot;Trading&quot;,
                            &quot; AND pro_Marketing_Trading__c LIKE &apos;%Trading%&apos;&quot;,
                            &quot;&quot;
                        )
                    )
                ) &amp;
                &quot; ORDER BY pro_Target_End_Date__c ASC&quot;,
                
                /* Moved To Trading */
                {!varTargetQueryFields} &amp;
                &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
                &quot; WHERE pro_Target_Year__c = &apos;&quot; &amp; TEXT(VALUE({!Select_A_Year})) &amp; &quot;&apos;&quot; &amp;
                &quot; AND pro_Moved_To_Trading__c = True&quot; &amp;
                &quot; ORDER BY pro_Target_End_Date__c ASC&quot;
            )
        )
    ),
    
    /* No year selected → return 0 records */
    &quot;SELECT Name, Id FROM pro_Asset_Target_Audit__c WHERE Id = NULL&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_Datatable_1_Header</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Target_Snapshot} = TRUE,
    /* Snapshot view */
    &quot;Target Snapshot&quot;,
    
    IF(
        ISBLANK({!Select_A_Year}),
        /* No year selected */
        &quot;Select A Year&quot;,
        
        /* Year selected — decide message based on outcome */
        IF(
            {!Select_An_Outcome} = &quot;Open&quot;,
            {!Select_A_Year} &amp; &quot; Targets Open&quot; ,
            
            IF(
                {!Select_An_Outcome} = &quot;Achieved&quot;,
                {!Select_A_Year} &amp; &quot; Targets Achieved &quot;  ,
                
                IF(
                    {!Select_An_Outcome} = &quot;Moved To Trading&quot;,
                    {!Select_A_Year} &amp; &quot; Targets Moved To Trading &quot; ,
                    
                    /* Fallback — just show total for year */
                    {!Select_A_Year} &amp; &apos; Targets&apos;
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>f_FormattedSnapshotName</name>
        <dataType>String</dataType>
        <expression>TRIM(
    RIGHT({!Choose_Snapshot}, LEN({!Choose_Snapshot}) - FIND(&quot;:&quot;, {!Choose_Snapshot}))
) 
&amp; &quot; Snapshot&quot;</expression>
    </formulas>
    <formulas>
        <name>f_IdListFormattedForSOQL</name>
        <dataType>String</dataType>
        <expression>IF({!varListOfIdsForAssetsWithoutTargetsQuery} = Null, 
           &quot;&apos;&quot; + {!Assets_Without_Open_Targets.Id} + &quot;&apos;&quot; , &quot;,&apos;&quot; + {!Assets_Without_Open_Targets.Id}  +  &quot;&apos;&quot; )</expression>
    </formulas>
    <formulas>
        <name>f_Report_URL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/Report/00OaA000002WzlZUAS/view?fv0=&quot; &amp; {!Choose_Snapshot}</expression>
    </formulas>
    <formulas>
        <name>f_RollOffTargetAggregateQuery</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT &quot; &amp;
&quot;SUM(pro_Forecast_Target_Count2__c)  &quot; &amp;
&quot;FROM pro_Target__c &quot; &amp;
&quot;WHERE pro_Target_Year__c = &apos;&quot; &amp;
TEXT(VALUE({!Select_A_Year}) + 1) &amp;
&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>f_RunRateTargetAggregateQuery</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT SUM(pro_Target_Amount__c) &quot; &amp;
&quot;FROM pro_Target__c &quot; &amp;
&quot;WHERE pro_Target_Year__c = &apos;&quot; &amp;
TEXT(VALUE({!Select_A_Year}) + 1) &amp;
&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>f_TargetNameDateFormatting</name>
        <dataType>String</dataType>
        <expression>CASE(
    MONTH(TODAY()),
    1, &quot;Jan&quot;,
    2, &quot;Feb&quot;,
    3, &quot;Mar&quot;,
    4, &quot;Apr&quot;,
    5, &quot;May&quot;,
    6, &quot;Jun&quot;,
    7, &quot;Jul&quot;,
    8, &quot;Aug&quot;,
    9, &quot;Sep&quot;,
    10, &quot;Oct&quot;,
    11, &quot;Nov&quot;,
    12, &quot;Dec&quot;,
    &quot;&quot;
)
&amp; &quot;-&quot;
&amp; RIGHT(TEXT(YEAR(TODAY())), 2)</expression>
    </formulas>
    <formulas>
        <name>f_TargetRecordsFilteredBySelectedYear</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, pro_Target_Amount__c, pro_Forecast_Target_Count2__c, pro_Achieved_Target_Count__c FROM pro_Target__c WHERE pro_Target_Year__c = &apos;&quot; 
&amp; TEXT(VALUE({!Select_A_Year}) + 1) 
&amp; &quot;&apos; ORDER BY pro_End_Date__c ASC&quot;</expression>
    </formulas>
    <formulas>
        <name>f_TargetsAchievedQueryFilteredByYear</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT COUNT(Id) FROM pro_Asset_Target_Audit__c WHERE pro_Progress__c IN (&apos;Achieved - LOI&apos;,&apos;Achieved - LOI Other&apos;,&apos;Achieved - Contract Extended&apos;,&apos;Achieved - No LOI&apos;) AND pro_Target_Year__c = &apos;&quot; &amp; {!Select_A_Year} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>f_TargetSnapshotQuery</name>
        <dataType>String</dataType>
        <expression>IF(
    {!View_Target_Snapshot} = TRUE,
    /* Only return records where snapshot date exists */
    {!varTargetQueryFields} &amp; 
    &quot; FROM pro_Asset_Target_Audit__c&quot; &amp;
    &quot; WHERE pro_Target_Snapshot_Date__c != NULL&quot; &amp;
    &quot; ORDER BY pro_Target_Snapshot_Date__c ASC&quot;,
    
    /* If user cannot view snapshot → return 0 records */
    &quot;SELECT Name, Id FROM pro_Asset_Target_Audit__c WHERE Id = NULL&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_TodayMinus3Years</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -36)</expression>
    </formulas>
    <formulas>
        <name>f_TodayPlusTenYears</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 120)</expression>
    </formulas>
    <formulas>
        <name>varEditTargetPermission</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Create_Collection_Of_User_Ids_Assigned_To_Permission_Set}, {!$User.Id})</expression>
    </formulas>
    <interviewLabel>Screen - Target Management Console {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Target Management Console</label>
    <loops>
        <name>Assets_Without_Open_Targets</name>
        <label>Assets Without Open Targets</label>
        <locationX>1040</locationX>
        <locationY>1430</locationY>
        <collectionReference>Get_Assets_Without_Open_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Asset_In_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MainScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Target_Progress_Statuses</name>
        <label>Loop Selected Target Progress Statuses</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <collectionReference>Create_Progress_Status_Collection_For_Selected_Targets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Were_Achieved_Targets_Selected_For_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Via_With_Audits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Selected_Target_Snapshot</name>
        <label>Delete Selected Target Snapshot</label>
        <locationX>842</locationX>
        <locationY>2462</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Snapshot</elementReference>
            </value>
        </filters>
        <object>pro_Asset_Target_Snapshot__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Selected_Targets</name>
        <label>Delete Selected Targets</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <inputReference>dt_DisplayAuditRecords.outputRemovedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Target_Snapshot_Items</name>
        <label>Delete Target Snapshot Items</label>
        <locationX>842</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Delete_Selected_Target_Snapshot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_Target_Snapshot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Snapshot</elementReference>
            </value>
        </filters>
        <object>pro_Asset_Target_Snapshot_Item__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Target_Audit_Records_For_LOI_Lease_Extension</name>
        <label>Get Asset Target Audit Records For LOI Lease Extension</label>
        <locationX>1040</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Target_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>pro_Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Assets_Without_Open_Targets_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_LOId_Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>pro_LOId_Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lease Extension</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_Target_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Target_Snapshots</name>
        <label>Get Asset Target Snapshots</label>
        <locationX>1040</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection_Of_Assets_Ids_LOI_Extended</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_Target_Snapshot__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_Without_Open_Targets</name>
        <label>Get Assets Without Open Targets</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assets_Without_Open_Targets_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Create_Asset_With_Open_Target_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consigned - Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__MSN_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Purchased</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Edit_Target_Permission_Set</name>
        <label>Get Edit Target Permission Set</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Manage_Targets_Edit_Permission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Asset_Target_Audits</name>
        <label>Get Open Asset Target Audits</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset_With_Open_Target_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Progress__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_Target_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignees</name>
        <label>Get Permission Set Assignees</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection_Of_User_Ids_Assigned_To_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Edit_Target_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Target_Records</name>
        <label>Get Target Records</label>
        <locationX>1040</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Target_Snapshots</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>f_TodayMinus3Years</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>f_TodayPlusTenYears</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Target__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target_Fields_On_Asset</name>
        <label>Update Target Fields On Asset</label>
        <locationX>1370</locationX>
        <locationY>2246</locationY>
        <inputReference>dt_DisplayAllAssets.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Plan</name>
        <label>Update Target Plan</label>
        <locationX>1106</locationX>
        <locationY>2246</locationY>
        <inputReference>dt_TargetRecords.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AchievedTargetValidationScreen</name>
        <label>AchievedTargetValidationScreen</label>
        <locationX>138</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Target_Progress_Statuses</targetReference>
        </connector>
        <fields>
            <name>AchievedTargetValidationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;⚠️ &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Update Not Allowed&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;One or more selected Asset Targets are marked as &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Achieved&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt; The &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Target Forecast&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt; cannot be updated for Asset Targets with an &lt;/span&gt;&lt;em style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Achieved&lt;/em&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt; status.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Please select only &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Open&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt; Asset Targets and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Snapshot_Warning_Screen</name>
        <label>Delete Snapshot Warning Screen</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Target_Snapshot_Items</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_WarningDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;⚠️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;You are about to delete the Asset Target Snapshot: {!Choose_Snapshot}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;Once you click &lt;/span&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;Delete Target Snapshot&lt;/strong&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;, this snapshot will be permanently deleted. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delete_Snapshot_Warning_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Delete_Snapshot_Warning_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Delete_Snapshot_Warning_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Delete_Snapshot_Warning_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Delete_Snapshot_Warning_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Delete Target Snapshot</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeleteWarningScreen</name>
        <label>DeleteWarningScreen</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Selected_Targets</targetReference>
        </connector>
        <fields>
            <name>WarningDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;⚠️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;You are about to delete the targets for {!Create_Removed_Target_Asset_NameCollection}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Once you click &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;Delete Targets&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;, these Targets will be permanently deleted. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteWarningScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DeleteWarningScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DeleteWarningScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DeleteWarningScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DeleteWarningScreen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Delete Targets</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MainScreen</name>
        <label>MainScreen</label>
        <locationX>1040</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Screen_Values_To_Placeholders</targetReference>
        </connector>
        <fields>
            <name>MainScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenToggleButtons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>selection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Assets&quot;,&quot;value&quot;:&quot;Assets&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Targets&quot;,&quot;value&quot;:&quot;Audits&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Target Performance&quot;,&quot;value&quot;:&quot;Set Target Plan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <stringValue>Assets</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MainScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_A_Year</name>
                    <choiceReferences>c_Year_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Filter by Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>(1 AND 3) OR 2 OR (4 AND 5)</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Assets</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Set Target Plan</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Assets_Without_Any_Target</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>View_Assets_Without_Any_Target</name>
                    <dataType>Boolean</dataType>
                    <fieldText>View Assets Without Target</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Assets</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>View_Target_Snapshot</name>
                    <dataType>Boolean</dataType>
                    <fieldText>View Target Snapshot</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_An_Outcome</name>
                    <choiceReferences>c_Open</choiceReferences>
                    <choiceReferences>c_Achieved</choiceReferences>
                    <choiceReferences>c_Moved_To_Trading</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Filter by Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Choose_Snapshot</name>
                    <choiceReferences>rcs_TargetSnapshot</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Snapshot</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>bb_DeleteSnapshots</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Delete Selected Snapshot&quot;,&quot;value&quot;:&quot;Delete Snapshots&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>bottom</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Choose_Snapshot</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TargetPlanTotalsDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Select_A_Year} Totals&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Run Rate: {!df_FetchRunRateTargetCount.aggQueryResult}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Roll Off: {!df_FetchRollOffTargetCount.aggQueryResult}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Achieved: {!df_FetchAchievedTargetCount.aggQueryResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Set Target Plan</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_A_Year</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Achieved_By</name>
                    <choiceReferences>Marketing</choiceReferences>
                    <choiceReferences>Trading</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Achieved By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_An_Outcome</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Achieved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ViewSnapshotReport</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!f_Report_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;View Report: {!Choose_Snapshot}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_Snapshot</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bb_TargetSnapshot</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Take Target Snapshot&quot;,&quot;value&quot;:&quot;Target Snapshot&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:campaign&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND 8 AND  (2 OR 4) AND (3 OR 5) AND 6 AND 7</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Audits</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsEdited</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsEdited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>View_Target_Snapshot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varEditTargetPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_A_Year</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Line1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TargetDeletionInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;You have selected Asset Target records for deletion. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;Click the &lt;/span&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;&quot;Delete Target(s)&lt;/strong&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;&quot; button at the foot of the data table to confirm the deletion. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dt_DisplayAuditRecords.numberOfRowsRemoved</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Audits</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_DisplayAuditRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Audit__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>pro_Asset_Target_Audit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AuditRecordQueries.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>pro_Target__r_lookup:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>pro_Asset_Name__c,pro_Contract__c,pro_Progress__c,pro_LOId_Deal_Type__c,pro_Likely_Outcome__c,pro_Marketing_Trading__c,pro_Target_Forecast_Name__c,pro_Target_Reached__c,pro_Current_Lease_Expiry_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>pro_Asset_Name__c:146, pro_Contract__c:180, pro_Progress__c:202, pro_LOId_Deal_Type__c:236, pro_Likely_Outcome__c:180, pro_Marketing_Trading__c:123, pro_Target_Forecast_Name__c:138, pro_Target_Reached__c:142, pro_Current_Lease_Expiry_Date__c:200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>f_Datatable_1_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRemoveRowAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRemoveRowAction</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeIcon</name>
                <value>
                    <stringValue>utility:close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeLabel</name>
                <value>
                    <stringValue>Delete Target</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>pro_Target_Forecast_Name__c:Target Forecast</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Audits</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>View_Target_Snapshot</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_DisplayAssetTargetSnapshotItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Snapshot_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>pro_Asset_Target_Snapshot_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>df_TargetSnapshotItemQuery.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>pro_Asset__c,pro_Contract__c,pro_Progress__c,pro_Likely_Outcome__c,pro_Marketing_Trading__c,pro_Target_Forecast__c,pro_Target_Reached__c,pro_Target_End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>pro_Asset__c:311, pro_Contract__c:311, pro_Progress__c:311, pro_Likely_Outcome__c:311, pro_Marketing_Trading__c:311, pro_Target_Forecast__c:311, pro_Target_Reached__c:311, pro_Target_End_Date__c:311</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Asset Target Snapshot Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>View_Target_Snapshot</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AuditRecordQueries</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Audit__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>pro_Target__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>pro_Asset_Target_Audit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName2</name>
                <value>
                    <stringValue>pro_Target__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>f_DataTable1AuditQuery</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>debounceTime</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>df_TargetSnapshotItemQuery</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Asset_Target_Snapshot_Item__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>pro_Asset_Target_Snapshot_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>f_AssetTargetSnapshotItemQuery</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Line2</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Audits</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MainScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cl_New_Target_ATA</name>
                    <choiceReferences>ccs_Targets</choiceReferences>
                    <defaultValue>
                        <elementReference>f_TargetNameDateFormatting</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>New Target</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varEditTargetPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsRemoved</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsRemoved</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Update_Selected_Targets</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Set New Target(s)&quot;,&quot;value&quot;:&quot;Audits&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:record_update&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varEditTargetPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>cl_New_Target_ATA.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>bb_DeleteTargets</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Delete Target(s)&quot;,&quot;value&quot;:&quot;Delete Target(s)&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAuditRecords.numberOfRowsRemoved</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Audits</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varEditTargetPermission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_DisplayAllAssets</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>leaseworks__Aircraft__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>leaseworks__Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssetRecordQueries.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,leaseworks__RecordTypeDevName__c,leaseworks__Status__c,leaseworks__Assigned_To__c,Likely_Outcome__c,pro_Target_Moved_To_Trading__c,pro_Marketing_Trading__c,pro_Target_Forecast_Date__c,leaseworks__Y_Hidden_Lease_End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:321, leaseworks__RecordTypeDevName__c:173, leaseworks__Status__c:252, leaseworks__Assigned_To__c:190, Likely_Outcome__c:173, pro_Target_Moved_To_Trading__c:189, pro_Marketing_Trading__c:169, pro_Target_Forecast_Date__c:172, leaseworks__Y_Hidden_Lease_End_Date__c:435</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>f_AssetTableFormulaHeader</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>leaseworks__RecordTypeDevName__c:Aircraft / Engine, pro_Target_Moved_To_Trading__c:Moved To Trading, pro_Target_Forecast_Date__c:Target Forecast</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Likely_Outcome__c:true, pro_Target_Moved_To_Trading__c:true, pro_Marketing_Trading__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRemoveRowAction</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showFirstLastButtons</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssetRecordQueries</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>leaseworks__Aircraft__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>pro_Target__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>leaseworks__Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName2</name>
                <value>
                    <stringValue>pro_Target__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>f_DataFetcherAssetQueries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>debounceTime</name>
                <value>
                    <stringValue>1000</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Line3</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginTop</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line4</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>marginTop</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Untargeted Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MainScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cl_New_Target</name>
                    <choiceReferences>ccs_Targets</choiceReferences>
                    <defaultValue>
                        <elementReference>f_TargetNameDateFormatting</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>New Target</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select A Target To Set</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varEditTargetPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Create_Asset_Targets</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Set Target(s)&quot;,&quot;value&quot;:&quot;Assets&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
                        <conditions>
                            <leftValueReference>varEditTargetPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsSelected</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>cl_New_Target.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>bb_SaveChanges</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save Changes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAllAssets.numberOfRowsEdited</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varEditTargetPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MainScreen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_TargetRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Target__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pro_Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,pro_Target_Amount__c,pro_Forecast_Target_Count2__c,pro_Achieved_Target_Count__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:249, pro_Target_Amount__c:233, pro_Forecast_Target_Count2__c:237, pro_Achieved_Target_Count__c:235</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FetchTargetRecords.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>pro_Target_Amount__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showSelectedCount</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>pro_Target_Amount__c:Run Rate Targets (Manual), pro_Forecast_Target_Count2__c:Roll Off Targets, pro_Achieved_Target_Count__c:Achieved Targets</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FetchTargetRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Target__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>pro_Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>f_TargetRecordsFilteredBySelectedYear</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>bb_SaveTargetPlan</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Save Target Plan&quot;,&quot;value&quot;:&quot;Save Target Plan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_TargetRecords.numberOfRowsEdited</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varEditTargetPermission</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>df_FetchRollOffTargetCount</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Target__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>pro_Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>aggQueryString</name>
                        <value>
                            <elementReference>f_RollOffTargetAggregateQuery</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>df_FetchAchievedTargetCount</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Target__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>pro_Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>aggQueryString</name>
                        <value>
                            <elementReference>f_AchievedTargetAggregateQuery</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>df_FetchRunRateTargetCount</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Target__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>pro_Target__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>aggQueryString</name>
                        <value>
                            <elementReference>f_RunRateTargetAggregateQuery</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenToggleButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Set Target Plan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Snapshot_Warning_Screen</name>
        <label>Snapshot Warning Screen</label>
        <locationX>1634</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Target_Snapshot</targetReference>
        </connector>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;⚠️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;You are about to create a target snapshot: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;{!Select_A_Year} {!Select_An_Outcome} Target Snapshot: {!f_CurrentDateText}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;Once you click &lt;/span&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;Confirm&lt;/strong&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;, any pre-existing snapshots named &lt;/span&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Select_A_Year} {!Select_An_Outcome}  Target Snapshot: {!f_CurrentDateText} &lt;/strong&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;will be overwritten.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Year_To_Text_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Target_Snapshot</name>
        <label>Create Target Snapshot</label>
        <locationX>1634</locationX>
        <locationY>2354</locationY>
        <flowName>pro_Autolaunched_Create_Target_Snapshot</flowName>
        <inputAssignments>
            <name>varAssetTargetAudits</name>
            <value>
                <elementReference>dt_DisplayAuditRecords.outputRemainingRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFilterName</name>
            <value>
                <elementReference>Select_An_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTargetYear</name>
            <value>
                <elementReference>Select_A_Year</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Via_With_Audits</name>
        <label>Update Via With Audits</label>
        <locationX>50</locationX>
        <locationY>2954</locationY>
        <flowName>Prodigy_Update_Target_Audits</flowName>
        <inputAssignments>
            <name>varTargetAuditCollection</name>
            <value>
                <elementReference>dt_DisplayAuditRecords.outputSelectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTargetId</name>
            <value>
                <elementReference>cl_New_Target_ATA.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_With_Assets</name>
        <label>Update With Assets</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <flowName>Prodigy_Update_Target_Audits</flowName>
        <inputAssignments>
            <name>varAssetCollection</name>
            <value>
                <elementReference>dt_DisplayAllAssets.outputSelectedRows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTargetId2</name>
            <value>
                <elementReference>cl_New_Target.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>varDataFetcherQuery</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Name, Id, pro_Asset__c, pro_Contract__c, pro_Outcome__c, pro_Target__c FROM pro_Asset_Target_Audit__c</text>
    </textTemplates>
    <transforms>
        <name>Assets_Without_Open_Targets_Collection</name>
        <label>Assets Without Open Targets Collection</label>
        <locationX>1040</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Asset_Target_Audit_Records_For_LOI_Lease_Extension</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Assets_Without_Open_Targets[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Asset_With_Open_Target_Id_Collection</name>
        <label>Create Asset With Open Target Id Collection</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Assets_Without_Open_Targets</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Open_Asset_Target_Audits[$EachItem].pro_Asset__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Collection_Of_Assets_Ids_LOI_Extended</name>
        <label>Create Collection Of Assets Ids LOI Extended</label>
        <locationX>1040</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assets_Without_Open_Targets</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Asset_Target_Audit_Records_For_LOI_Lease_Extension[$EachItem].pro_Asset__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Collection_Of_User_Ids_Assigned_To_Permission_Set</name>
        <label>Create Collection Of User Ids Assigned To Permission Set</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Open_Asset_Target_Audits</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Permission_Set_Assignees[$EachItem].AssigneeId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Progress_Status_Collection_For_Selected_Targets</name>
        <label>Create Progress Status Collection For Selected Targets</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Loop_Selected_Target_Progress_Statuses</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dt_DisplayAuditRecords.outputSelectedRows[$EachItem].pro_Progress__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Removed_Target_Asset_NameCollection</name>
        <label>Create Removed Target Asset Name Collection</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>DeleteWarningScreen</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dt_DisplayAuditRecords.outputRemovedRows[$EachItem].pro_Asset_Name__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Out_Assets_With_Open_Targets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Values_From_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>ProgressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;Open&apos;,&apos;Open - Target Date Exceeded&apos;,&apos;Achieved - LOI&apos;,&apos;Achieved - LOI Other&apos;,&apos;Achieved - Contract Extended&apos;,&apos;Achieved - No LOI&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAssetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <description>A collection of Assets that are neither Sold nor Consigned and have no open targets associated.</description>
        <name>varAssetsWithoutTargets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>varAssetTargetAuditsSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Asset_Target_Audit__c</objectType>
    </variables>
    <variables>
        <name>varCurrentYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>f_CurrentYearText</elementReference>
        </value>
    </variables>
    <variables>
        <description>Comma separated list of Ids for Assets without Targets formatted for reference in a flow resource building up a SOQL query</description>
        <name>varListOfIdsForAssetsWithoutTargetsQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSerialNumberPlaceholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTarget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Target__c</objectType>
    </variables>
    <variables>
        <name>varTarget2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Target__c</objectType>
    </variables>
    <variables>
        <name>varTargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetQueryFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SELECT Name, Id, pro_Asset__c, pro_Contract__c, pro_Likely_Outcome__c, pro_Target_Forecast__c, pro_Target_Year__c, pro_Target_End_Date__c,  pro_Asset_In_Deal__c, pro_Contract_Extended__c, pro_Asset_Name__c, pro_Progress__c, pro_Marketing_Trading__c, pro_Target_Reached__c , pro_LOId_Deal_Type__c, pro_Current_Lease_Expiry_Date__c, pro_Target_Forecast_Name__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTargetsPlanToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Target__c</objectType>
    </variables>
</Flow>
