force-app/main/default/flows/pro_Checklist_Item_Async_Orchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Notification_Service</name>
        <label>Call Notification Service</label>
        <locationX>253</locationX>
        <locationY>1200</locationY>
        <actionName>pro_NotificationService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>configName</name>
            <value>
                <elementReference>formulaConfigName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.pro_Asset_in_Deal__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pro_NotificationService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Event_Type</name>
        <label>Build Event Type</label>
        <locationX>253</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>eventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaConfigName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Notification_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Incomplete</name>
        <label>Increment Incomplete</label>
        <locationX>473</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>incompleteCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Phase_Complete</name>
        <label>Is Phase Complete</label>
        <locationX>385</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Phase_Complete_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incompleteCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Phase_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Event_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Counts_As_Incomplete</name>
        <label>Item Counts As Incomplete</label>
        <locationX>605</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Loop_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Item_Incomplete_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Items.pro_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Items.pro_Necessary__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Incomplete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_Async_Concern</name>
        <label>Route Async Concern</label>
        <locationX>583</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Concern</defaultConnectorLabel>
        <rules>
            <name>Phase_Completion_Notification</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Closing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pro_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Phase_Items</targetReference>
            </connector>
            <label>Phase Completion Notification</label>
        </rules>
    </decisions>
    <description>Async orchestrator for pro_Checklist_Item__c. Runs after commit on create/update when an item is marked Completed or Necessary=No. Routes to async concerns — currently phase-completion notification: when all items on an Asset in Deal for the same phase are Completed or Necessary=No, calls pro_NotificationService with an event type derived from the phase.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaConfigName</name>
        <dataType>String</dataType>
        <expression>&apos;pro_&apos; + SUBSTITUTE(SUBSTITUTE(TEXT({!$Record.pro_Phase__c}), &apos;-&apos;, &apos;_&apos;), &apos; &apos;, &apos;_&apos;) + &apos;_Checklist_Complete&apos;</expression>
    </formulas>
    <label>Checklist Item Async Orchestrator</label>
    <loops>
        <name>Loop_Items</name>
        <label>Loop Items</label>
        <locationX>385</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_All_Phase_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_Counts_As_Incomplete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Phase_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Phase_Items</name>
        <label>Get All Phase Items</label>
        <locationX>385</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Asset_in_Deal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Phase__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Checklist_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>OR(ISPICKVAL({!$Record.pro_Status__c}, &quot;Completed&quot;), ISPICKVAL({!$Record.pro_Necessary__c}, &quot;No&quot;))</filterFormula>
        <object>pro_Checklist_Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Route_Async_Concern</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incompleteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
