force-app/main/default/flows/Pro_Prodigy_RollUp_Target.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Number_of_child_records</name>
        <label>Assign Number of child records</label>
        <locationX>209</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>V_countNumberOfChildRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_related_lease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_countNumberOfChildRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_related_targets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_count</name>
        <label>Update count</label>
        <locationX>473</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>v_Variablecount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.pro_Roll_Off_Target__r.pro_Roll_Offs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Variablecount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_related_targetsrecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_prior_value_is_not_empty</name>
        <label>Check if prior value is not empty</label>
        <locationX>605</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.pro_Roll_Off_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_count</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_of_target_is_empty</name>
        <label>Check of target is empty</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_if_prior_value_is_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Roll_Off_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_lease</targetReference>
            </connector>
            <label>Target Is not empty</label>
        </rules>
    </decisions>
    <description>pp-11/12 -Roll up contracts to project.</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy-RollUp Target {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy-RollUp Target</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_lease</name>
        <label>Get related lease</label>
        <locationX>209</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_child_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Roll_Off_Target__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Roll_Off_Target__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Lease__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_targets</name>
        <label>Update related targets</label>
        <locationX>209</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Roll_Off_Target__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Roll_Offs__c</field>
            <value>
                <elementReference>V_countNumberOfChildRecords</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_targetsrecord</name>
        <label>Update related targets</label>
        <locationX>473</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.pro_Roll_Off_Target__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Roll_Offs__c</field>
            <value>
                <elementReference>V_countNumberOfChildRecords</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Target__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>pro_Roll_Off_Target__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Lease_End_Date_New__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Lease__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Ascheduled_path</name>
            <connector>
                <targetReference>Check_of_target_is_empty</targetReference>
            </connector>
            <label>Ascheduled path</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <triggerOrder>5</triggerOrder>
    <variables>
        <name>V_countNumberOfChildRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_Variablecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
