force-app/main/default/flows/Pro_Prodigy_Roll_Up_To_Target_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>V_countRollUp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Asset_in_deal_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_countRollUp</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Target_for_LOI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pro_Assign_Roll_Update</name>
        <label>Assign Roll Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>V_rollUpUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.pro_LOI_Target__r.pro_LOI_d__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_rollUpUpdate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pro_Update_Target_for_LOI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_prior_value_is_not_empty</name>
        <label>Check if prior value is not empty</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.pro_LOI_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pro_Assign_Roll_Update</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_LOI_Target_is_empty</name>
        <label>If LOI Target is empty</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_prior_value_is_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_LOI_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_in_deal_Records</targetReference>
            </connector>
            <label>Execute</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy-Roll Up To Target Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy-Roll Up To Target Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_in_deal_Records</name>
        <label>Get Asset in deal Records</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_LOI_Target__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_LOI_Target__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Pro_Update_Target_for_LOI</name>
        <label>Update Target for LOI</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.pro_LOI_Target__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_LOI_d__c</field>
            <value>
                <elementReference>V_rollUpUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_for_LOI</name>
        <label>Update Target for LOI</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_LOI_Target__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_LOI_d__c</field>
            <value>
                <elementReference>V_countRollUp</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Target__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_LOI_Target_is_empty</targetReference>
        </connector>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>V_countRollUp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_rollUpUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
