force-app/main/default/flows/pro_Backfill_Prior_Calendar_Year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>After_Loop_Done</name>
        <label>After Loop Done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnused</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_CAP_Prior_Year_False</name>
        <label>Assign CAP Prior Year False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Utilization_Reports.CAP_Is_Prior_Calendar_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CAP_Prior_Year_True</name>
        <label>Assign CAP Prior Year True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Utilization_Reports.CAP_Is_Prior_Calendar_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Last_Calendar_Year</name>
        <label>Last Calendar Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_CAP_Prior_Year_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Calendar_Year_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Utilization_Reports.leaseworks__End_Date_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Utilization_Reports.leaseworks__End_Date_F__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>StartLastYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Utilization_Reports.leaseworks__End_Date_F__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EndLastYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CAP_Prior_Year_True</targetReference>
            </connector>
            <label>Last Calendar Year is True</label>
        </rules>
    </decisions>
    <description>Auto-launched twin of Backfill Prior Calendar Year, driven by Apex on January 1st. Updates CAP_Is_Prior_Calendar_Year__c from leaseworks__End_Date_F__c.</description>
    <environments>Default</environments>
    <formulas>
        <name>EndLastYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR($Flow.CurrentDate)-1,12,31)</expression>
    </formulas>
    <formulas>
        <name>StartLastYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR($Flow.CurrentDate)-1,1,1)</expression>
    </formulas>
    <interviewLabel>pro Backfill Prior Calendar Year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pro Backfill Prior Calendar Year</label>
    <loops>
        <name>Loop_Utilization_Reports</name>
        <label>Loop Utilization Reports</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varUtilizationReports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Last_Calendar_Year</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>After_Loop_Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Utilization_Reports</targetReference>
        </connector>
        <inputReference>Loop_Utilization_Reports</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Utilization_Reports</targetReference>
        </connector>
        <inputReference>Loop_Utilization_Reports</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Utilization_Reports</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varUnused</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUtilizationReports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Utilization_Report__c</objectType>
    </variables>
</Flow>
