force-app/main/default/flows/Prodigy_Auto_Manage_Ticket_Permission_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_User_Email_To_A_Collection</name>
        <label>Assign User Email To A Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUserEmailInCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Access_Tickets_AND_Fields_Permission_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_or_Remove_User_From_Permission_Set</name>
        <label>Add or Remove User From Permission Set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_To_Permission_Set</name>
            <conditionLogic>1 AND (2 OR 3 OR  4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>varTriggeringUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carlyle Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User_Already_Assigned_To_Permission_Set</targetReference>
            </connector>
            <label>Add To Permission Set</label>
        </rules>
        <rules>
            <name>Remove_From_Permission_Set</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>varTriggeringUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Carlyle Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contracts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Executive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lease Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technical User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTriggeringUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User_Assigned_To_Permission_Set</targetReference>
            </connector>
            <label>Remove From Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_running_users_email_invalid</name>
        <label>Is running users email invalid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Running_User_Email_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>invalid</stringValue>
                </rightValue>
            </conditions>
            <label>Yes - Running User Email Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Already_Assigned_To_Permission_Set</name>
        <label>Is User Already Assigned To Permission Set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Permission_Set_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collection_Of_User_Ids_Assigned_To_Permission_Set</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varTriggeringUser.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Yes - Already Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Assigned_To_Permission_Set</name>
        <label>Is User Assigned To Permission Set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collection_Of_User_Ids_Assigned_To_Permission_Set</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varTriggeringUser.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Yes - Assigned</label>
        </rules>
    </decisions>
    <description>Flow automatically manages assignments to the permission set Access Tickets AND Fields. 

Users who are active and on the profile Back Office External, Lease Management, System Administrator should be assigned the permission set. Users who are updated or created to fall outside of these parameteres should be removed form the permissions set.</description>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Auto - Manage Ticket Permission Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Auto - Manage Ticket Permission Assignments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Is_running_users_email_invalid</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>varTriggeringUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Access_Tickets_AND_Fields_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Permission_Set_Assignment</name>
        <label>Delete Permission Set Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Access_Tickets_AND_Fields_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Access_Tickets_AND_Fields_Permission_Set</name>
        <label>Get Access Tickets AND Fields Permission Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Access_Tickets_AND_Fields</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignments</name>
        <label>Get Permission Set Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection_Of_User_Ids_Assigned_To_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Access_Tickets_AND_Fields_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_User_Email_To_A_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The user whose permission assignements need to be assessed.</description>
        <name>varTriggeringUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varUserEmailInCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
