force-app/main/default/flows/Prodigy_Ticket_Assignee_Set_Assignee_s_Send_Notifications_On_Ticket_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Assigned_To_User</name>
        <label>Email Assigned To User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmailRecipientAddressCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>$Record.pro_Ticket__r.pro_Requested_By__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>leaseworks@carlyle.aero</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tt_AssigneeEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tt_AssigneeEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Notify_Assignee</name>
        <label>Notify Assignee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_Assigned_To_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type_For_Assignee.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varAssigneeIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>🎫 Ticket Assigned To You</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tt_AssigneeNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.pro_Ticket__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send bell notification to the user in the Requestor field of the Ticket</description>
        <name>Notify_Requestor</name>
        <label>Notify Requestor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Is_Assignee_Id_Collection_Populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type_For_Requestor.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRequestorIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>🎫 Ticket Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tt_RequestorNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.pro_Ticket__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Name_To_Comma_Separated_List</name>
        <label>Assign Name To Comma Separated List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssigneeNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_AssigneeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Ids_Emails_To_List</name>
        <label>Assign Recipient Ids / Emails To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRequestorIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pro_Ticket__r.pro_Requested_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssigneeIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pro_Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailRecipientAddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pro_Assigned_To__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requestor_Id_Collection_Populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Assignee_Id_Collection_Populated</name>
        <label>Is Assignee Id Collection Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assignee_Collection_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Ticket</targetReference>
            </connector>
            <label>Yes - Assignee Collection Populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Requestor notifications should only be sent out for header tickets, not sub-tickets. This element checks what type of Ticket.</description>
        <name>Is_This_A_Header_Ticket</name>
        <label>Is This A Header Ticket?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Assignee_Id_Collection_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Header_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Ticket__r.pro_Is_SubTicket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Requestor</targetReference>
            </connector>
            <label>Yes - Header Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requestor_Id_Collection_Populated</name>
        <label>Requestor Id Collection Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Assignee_Id_Collection_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pro_Ticket__r.pro_Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_This_A_Header_Ticket</targetReference>
            </connector>
            <label>Yes - Populated</label>
        </rules>
    </decisions>
    <description>When a Ticket Assignee is created, this flow aggregates the names of all assignees to the same Ticket into a comma separated list and sets as the Assignee(s) field on the Ticket.

Sends bell notifications to the Requestor and Assignee. Sends a notification email to the Assignee.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formats the assignee name with a comma as appropriate to create a comma separated list</description>
        <name>f_AssigneeName</name>
        <dataType>String</dataType>
        <expression>IF(
       {!varAssigneeNames} = Null, {!Loop_Assignees.pro_Assigned_To__r.FirstName} + &apos; &apos; + {!Loop_Assignees.pro_Assigned_To__r.LastName}    , &apos;, &apos; + {!Loop_Assignees.pro_Assigned_To__r.FirstName} + &apos; &apos; + {!Loop_Assignees.pro_Assigned_To__r.LastName} )</expression>
    </formulas>
    <interviewLabel>Prodigy - Ticket Assignee - Set Assignee(s) &amp; Send Notifications On Ticket On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Ticket Assignee - Set Assignee(s) &amp; Send Notifications On Ticket On Create</label>
    <loops>
        <name>Loop_Assignees</name>
        <label>Loop Assignees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Ticket_Assignees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Name_To_Comma_Separated_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Ticket_Assignee_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type_For_Assignee</name>
        <label>Get Custom Notification Type For Assignee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Ids_Emails_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Ticket_Assigned_Notify_Assignee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type_For_Requestor</name>
        <label>Get Custom Notification Type For Requestor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type_For_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Ticket_Assigned_Notify_Requestor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Ticket</name>
        <label>Get Related Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Ticket__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all assignees to the same Ticket</description>
        <name>Get_Ticket_Assignees</name>
        <label>Get Ticket Assignees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assignees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Ticket__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Ticket_Assignee__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Ticket_Assignee_s</name>
        <label>Set Ticket Assignee(s)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type_For_Requestor</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_Assignees_Long_Text__c</field>
            <value>
                <elementReference>varAssigneeNames</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pro_Ticket__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ticket_Assignees</targetReference>
        </connector>
        <object>pro_Ticket_Assignee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_AssigneeEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.pro_Assigned_To__r.FirstName} {!$Record.pro_Assigned_To__r.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new support ticket has been created and assigned to you in Salesforce.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ticket Details:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;MSN: &lt;/strong&gt;{!$Record.pro_Ticket__r.pro_Assets__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;External Party: &lt;/strong&gt;{!Get_Related_Ticket.pro_External_Party__r.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Requested By: &lt;/strong&gt;{!Get_Related_Ticket.pro_Requested_By__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Related_Ticket.pro_Requested_By__r.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Assignee Instruction: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.pro_Assignee_Instruction__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Type:&lt;/strong&gt; {!Get_Related_Ticket.pro_Type__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Priority: &lt;/strong&gt;{!Get_Related_Ticket.pro_Priority__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!Get_Related_Ticket.pro_Status__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Created Date:&lt;/strong&gt; {!Get_Related_Ticket.CreatedDate}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Expected Due Date: &lt;/strong&gt;{!Get_Related_Ticket.pro_Expected_Due_Date__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Title: &lt;/strong&gt;{!Get_Related_Ticket.pro_Title__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Description:&lt;/strong&gt; {!Get_Related_Ticket.pro_Comments__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;You can view the full details and take action by clicking the link: &lt;a href=&quot;https://leaseworks-carlyle.lightning.force.com/{!$Record.pro_Ticket__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Ticket in Salesforce&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;Salesforce System Notification&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;This message was generated automatically. For assistance, please contact your Salesforce administrator.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_AssigneeEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>🎫 {!$Record.pro_Ticket__r.RecordType.Name} Ticket Assigned To You – [Ticket Number: {!$Record.pro_Ticket__r.Name}]</text>
    </textTemplates>
    <textTemplates>
        <name>tt_AssigneeNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Title: {!$Record.pro_Ticket__r.pro_Title__c}
Type: {!$Record.pro_Ticket__r.pro_Type__c}
Assignee Instruction: {!$Record.pro_Assignee_Instruction__c}
Requested By: {!$Record.pro_Ticket__r.pro_Requested_By__r.FirstName} {!$Record.pro_Ticket__r.pro_Requested_By__r.LastName}

Click this notification to view the Ticket</text>
    </textTemplates>
    <textTemplates>
        <name>tt_RequestorNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Title: {!$Record.pro_Ticket__r.pro_Title__c}
Type: {!$Record.pro_Ticket__r.pro_Type__c}
Assignee(s): {!varAssigneeNames}

Click this notification to view the Ticket</text>
    </textTemplates>
    <variables>
        <name>varAssigneeIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A comma separated list of the names of all assignees to the Ticket</description>
        <name>varAssigneeNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailRecipientAddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestorIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
