force-app/main/default/flows/Prodigy_AiD_Create_Documentation_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LOI_Signed_1</name>
        <label>LOI Signed +1</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <actionName>BusinessDayCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Documentation_Event_Names</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputDate</name>
            <value>
                <elementReference>$Record.LOI_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberOfBusinessDays</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Documentation_Event_Names</name>
        <label>Assign Documentation Event Names</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1 Engage Law Firm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2 Initial Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3 Review &amp; Comment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4 Draft To Counterparty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOI_Signed_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Names_To_Documentation_Event_Variable_and_Collection</name>
        <label>Assign Names To Documentation Event Variable and Collection</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documentation_Event_Names</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.pro_Asset_in_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.pro_Projected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_TodayPlus1BdForEngageLawFirm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.pro_Documentation_Event_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DocumentationEventType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDocEventToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documentation_Event_Names</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Documentation_Events_Relevant_To_Deal_Type</name>
        <label>Are Documentation Events Relevant To Deal Type?</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Documentation_Events_Relevant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Documentation_Events</targetReference>
            </connector>
            <label>Documentation Events Relevant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Documentation_Events_Found</name>
        <label>Were Documentation Events Found?</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Documentation_Event_Names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Documentation_Events_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Documentation_Events</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Documentation Events Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_DocumentationEventType</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Loop_Documentation_Event_Names}, LEN({!Loop_Documentation_Event_Names}) - 2)</expression>
    </formulas>
    <formulas>
        <name>f_TodayPlus1BdForEngageLawFirm</name>
        <dataType>Date</dataType>
        <expression>IF({!Loop_Documentation_Event_Names} = &#39;1 Engage Law Firm&#39;, {!LOI_Signed_1.targetDate}, Null)</expression>
    </formulas>
    <interviewLabel>Prodigy - AiD - Create Documentation Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - AiD - Create Documentation Events</label>
    <loops>
        <name>Loop_Documentation_Event_Names</name>
        <label>Loop Documentation Event Names</label>
        <locationX>226</locationX>
        <locationY>863</locationY>
        <collectionReference>varDocumentationEventNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Names_To_Documentation_Event_Variable_and_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Documentation_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Documentation_Events</name>
        <label>Create Documentation Events</label>
        <locationX>226</locationX>
        <locationY>1163</locationY>
        <inputReference>varDocEventsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Documentation_Events</name>
        <label>Get Existing Documentation Events</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Documentation_Events_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Documentation_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Documentation_Events_Relevant_To_Deal_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LOI_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDocEventsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varDocEventToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varDocumentationEventNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
