force-app/main/default/flows/Prodigy_Screen_Approval_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Summary_Of_Approval_Request_To_Deal</name>
        <label>Assign Summary Of Approval Request To Deal</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>recordId.pro_Financial_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>irt_FinancialComments.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Summary_Of_Approval_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary_Of_Approval_Request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Text_Collections_To_Variables</name>
        <label>Assign Text Collections To Variables</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamAssigneeNameCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Assigned_To_Name_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_AiDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Approval_Status</name>
        <label>Reset Approval Status</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_Deal_Teams.pro_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Deal_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triggering_Deal_To_Submitted</name>
        <label>Set Triggering Deal To Submitted</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>recordId.leaseworks__Deal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.leaseworks__Inactive_MA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Summary_Of_Approval_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary_Of_Approval_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Financial_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>irt_FinancialComments.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_For_Approvals_History</name>
        <label>Set Variables For Approvals History</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_User_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_RunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Approval_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Approval_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary_Of_Approval_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approvals_History</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Save_Draft_Or_Submit</name>
        <label>Save Draft Or Submit?</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Set_Triggering_Deal_To_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submit</defaultConnectorLabel>
        <rules>
            <name>Save_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveOrSubmit.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Summary_Of_Approval_Request_To_Deal</targetReference>
            </connector>
            <label>Save Draft</label>
        </rules>
    </decisions>
    <description>Non Deal Approvals

Screen flow presents users with key information, takes required inputs and moves record into Submitted status.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_RunningUserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Approval Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Approval Submission</label>
    <loops>
        <name>Loop_Deal_Teams</name>
        <label>Loop Deal Teams</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Deal_Teams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Approval_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assigned_To_Name_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approvals_History</name>
        <label>Create Approvals History</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <inputReference>varApprovalsHistoryToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_AiDs</name>
        <label>Get Active AiDs</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset_Id_Text_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Inactive_AT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attached_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Asset_Id_Text_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get ContentDocumentLink records associated to the Deal from which this flow got triggered.</description>
        <name>Get_Attached_Files</name>
        <label>Get Attached Files</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Content_Document_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocument_Records</name>
        <label>Get ContentDocument Records</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Document_Name_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Content_Document_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deal_Teams</name>
        <label>Get Deal Teams</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Deal_Teams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non Deal Approver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Deal</name>
        <label>Update Triggering Deal</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Set_Variables_For_Approvals_History</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>SubmissionFormScreen</name>
        <label>SubmissionFormScreen</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Draft_Or_Submit</targetReference>
        </connector>
        <fields>
            <name>SubmissionFormScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SubmissionFormScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Name</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SubmissionFormScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DealTeam</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Approver(s): &lt;/strong&gt;{!varDealTeamAssigneeNameCollection}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Attached Files: &lt;/strong&gt;{!Create_Document_Name_Collection}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SubmissionFormScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SubmissionFormScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_AssetDisplay</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Aircraft__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Asset Display</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Assets</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5aa4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Fund__c&quot;,&quot;guid&quot;:&quot;column-8c9a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fund&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Entity__c&quot;,&quot;guid&quot;:&quot;column-7d64&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Entity&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;leaseworks__Asset_Type_GP__c&quot;,&quot;guid&quot;:&quot;column-696e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Asset Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;leaseworks__Engine_Type_GP__c&quot;,&quot;guid&quot;:&quot;column-5a55&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Engine Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Summary_Of_Approval_Request</name>
                    <defaultValue>
                        <stringValue>{!recordId.pro_Summary_Of_Approval_Request__c}</stringValue>
                    </defaultValue>
                    <fieldText>Summary Of Approval Request</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>irt_FinancialComments</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Financial Comments</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.pro_Financial_Comments__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>bb_SaveOrSubmit</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Save Draft&quot;,&quot;value&quot;:&quot;Save Draft&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Submit&quot;,&quot;value&quot;:&quot;Submit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Deal_Teams</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_ConcattenatedMSNNotes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Create_Asset_Id_Text_Collection</name>
        <label>Create Asset Id Text Collection</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Active_AiDs[$EachItem].leaseworks__Aircraft__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Assigned_To_Name_Collection</name>
        <label>Create Assigned To Name Collection</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Assign_Text_Collections_To_Variables</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Deal_Teams[$EachItem].pro_Assigned_To_Name__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Content_Document_Id_Collection</name>
        <label>Create Content Document Id Collection</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Get_ContentDocument_Records</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Attached_Files[$EachItem].ContentDocumentId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Document_Name_Collection</name>
        <label>Create Document Name Collection</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>SubmissionFormScreen</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_ContentDocument_Records[$EachItem].Title</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>varAiDNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApprovalsHistoryToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Approvals_History__c</objectType>
    </variables>
    <variables>
        <name>varDealTeamAssigneeNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
