force-app/main/default/flows/Prodigy_Auto_Populate_Assets_and_Assemblies_Fields_On_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorEmail</name>
        <label>ErrorEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>leaseworks@carlyle.aero</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>f_ErrorEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;There was an error updating this Ticket. Please, contact your Salesforce administrator if this issue persists. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Assembly_Names_To_Comma_Separated_List</name>
        <label>Assign Assembly Names To Comma Separated List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssemblyNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_AssemblyOnTicketName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assemblies_On_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Names_To_Comma_Separated_List</name>
        <label>Assign Asset Names To Comma Separated List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_AssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransactionCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_TransactionCodeFormatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets_On_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Names_To_Comma_Separated_List</name>
        <label>Assign Contract Names To Comma Separated List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContractOnTicketNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_ContractNameFormatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts_On_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Assemblies_and_Assets_Fields_On_Ticket</name>
        <label>Populate Assemblies and Assets Fields On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTriggeringTicket.pro_Assemblies_Long_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssemblyNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTriggeringTicket.pro_Assets_Long_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTriggeringTicket.pro_Transaction_Codes_Long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTransactionCodes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTriggeringTicket.pro_Contracts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractOnTicketNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Ticket</targetReference>
        </connector>
    </assignments>
    <description>Flow takes a reference to a Ticket as an input variable, searches all Assets and Assemblies related to that Ticket, and updates the Assemblies and Assets fields on the Ticket to show tha names of all Assets and Assemblies related to the Ticket.</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns the Assembly On Ticket Name formatted for the creation of a comma separated list.</description>
        <name>f_AssemblyOnTicketName</name>
        <dataType>String</dataType>
        <expression>IF(
     {!varAssemblyNames} = Null, {!Loop_Assemblies_On_Ticket.Name}, &apos;, &apos; + {!Loop_Assemblies_On_Ticket.Name}
)</expression>
    </formulas>
    <formulas>
        <description>Formula returns the Asset name formatted for the creation of a comma delimited list</description>
        <name>f_AssetName</name>
        <dataType>String</dataType>
        <expression>IF(
   {!varAssetNames} = Null, {!Loop_Assets_On_Ticket.pro_Asset__r.Name}, &apos;, &apos; + {!Loop_Assets_On_Ticket.pro_Asset__r.Name})</expression>
    </formulas>
    <formulas>
        <name>f_ContractNameFormatted</name>
        <dataType>String</dataType>
        <expression>IF(
    {!varContractOnTicketNames} = Null, {!Loop_Contracts_On_Ticket.Name}, &apos;, &apos; + {!Loop_Contracts_On_Ticket.Name}
)</expression>
    </formulas>
    <formulas>
        <name>f_ErrorEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Error Updating Ticket &apos; + {!varTriggeringTicket.Name}</expression>
    </formulas>
    <formulas>
        <name>f_RunningUserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Formatted for the creation of a comma separated list within a loop.</description>
        <name>f_TransactionCodeFormatted</name>
        <dataType>String</dataType>
        <expression>IF(
   {!varTransactionCodes} = Null, {!Loop_Assets_On_Ticket.pro_Asset__r.leaseworks__MSN_Number__c} + &apos;(&apos; + {!Loop_Assets_On_Ticket.pro_Asset__r.Transaction_Code__c} + &apos;)&apos;, &apos;, &apos; + {!Loop_Assets_On_Ticket.pro_Asset__r.leaseworks__MSN_Number__c} + &apos;(&apos; + {!Loop_Assets_On_Ticket.pro_Asset__r.Transaction_Code__c} + &apos;)&apos;)</expression>
    </formulas>
    <interviewLabel>Prodigy - Auto - Populate Assets and Assemblies Fields On Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Auto - Populate Assets and Assemblies Fields On Ticket</label>
    <loops>
        <name>Loop_Assemblies_On_Ticket</name>
        <label>Loop Assemblies On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Assemblies_On_Ticket</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Assembly_Names_To_Comma_Separated_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Contracts_On_Ticket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assets_On_Ticket</name>
        <label>Loop Assets On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Assets_On_Ticket</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_Names_To_Comma_Separated_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Assemblies_On_Ticket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contracts_On_Ticket</name>
        <label>Loop Contracts On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Contracts_On_Ticket</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Names_To_Comma_Separated_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populate_Assemblies_and_Assets_Fields_On_Ticket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ErrorEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_Automation_Name__c</field>
            <value>
                <stringValue>Prodigy - Auto - Populate Assets and Assemblies Fields On Ticket</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Context_Record_Id__c</field>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_User__c</field>
            <value>
                <elementReference>f_RunningUserFullName</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Assemblies_On_Ticket</name>
        <label>Get All Assemblies On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Contracts_On_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Assembly_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Assets_On_Ticket</name>
        <label>Get All Assets On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Assemblies_On_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contracts_On_Ticket</name>
        <label>Get All Contracts On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assets_On_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Contract_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Ticket</name>
        <label>Update Triggering Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>varTriggeringTicket</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Assets_On_Ticket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A comma separated list of Assembly names from Assembly On Ticket records related to this Ticket</description>
        <name>varAssemblyNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A comma delimited list of the names of Assets related to the Ticket through the Assets On Ticket junction object.</description>
        <name>varAssetNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractOnTicketNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold a comma separated list of Transaction Codes related to assets processed in this flow.</description>
        <name>varTransactionCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A reference to the Ticket for which Assets and Assemblies field should be populated.</description>
        <name>varTriggeringTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Ticket__c</objectType>
    </variables>
</Flow>
