force-app/main/default/flows/Prodigy_Task_Completed_Email_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varUserEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tt_NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tt_NotificationBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Creator_Email_To_Collection</name>
        <label>Assign Creator Email To Collection</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varUserEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_current_user_different_from_task_creator</name>
        <label>Is current user different from task creator?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>The Same</defaultConnectorLabel>
        <rules>
            <name>Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>f_TruncatedTaskCreatorId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Creator_Email_To_Collection</targetReference>
            </connector>
            <label>Different</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_RelatedToRecordNameOrPlaceholderText</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.leaseworks__Related_Record_Name__c} != Null, {!$Record.leaseworks__Related_Record_Name__c} , &#39;No Related Record&#39;)</expression>
    </formulas>
    <formulas>
        <name>f_TruncatedTaskCreatorId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CreatedById}, LEN({!$Record.CreatedById}) - 3)</expression>
    </formulas>
    <interviewLabel>Prodigy - Task Completed Email Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Task Completed Email Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_current_user_different_from_task_creator</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>tt_NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.CreatedBy.FirstName} {!$Record.CreatedBy.LastName}, 

A Task which you created has been closed by {!$User.FirstName} {!$User.LastName}. See the details below:

  Subject: {!$Record.Subject}
  Priority: {!$Record.Priority}
  Created Date: {!$Record.CreatedDate}
  
View Record: https://leaseworks-carlyle--full.sandbox.lightning.force.com/{!$Record.Id}

Thanks,
Carlyle Team</text>
    </textTemplates>
    <textTemplates>
        <name>tt_NotificationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Task Completed - {!$Record.Subject}</text>
    </textTemplates>
    <variables>
        <name>varUserEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
