force-app/main/default/flows/Prodigy_Run_Update_On_Variance_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Count_Variance_in_Business_Days_Draft_To_Counterparty</name>
        <label>Count Variance in Business Days - Draft To Counterparty</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>BusinessDayCounter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Draft_To_Counterparty_Variance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actualDate</name>
            <value>
                <elementReference>$Record.pro_Actual_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectedDate</name>
            <value>
                <elementReference>$Record.pro_Projected_Date__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Count_Variance_in_Business_Days_Engage_Law_Firm</name>
        <label>Count Variance in Business Days - Engage Law Firm</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>BusinessDayCounter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Engage_Law_Firm_Variance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actualDate</name>
            <value>
                <elementReference>$Record.pro_Actual_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectedDate</name>
            <value>
                <elementReference>$Record.pro_Projected_Date__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Count_Variance_in_Business_Days_Initial_Draft</name>
        <label>Count Variance in Business Days - Initial Draft</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>BusinessDayCounter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Initial_Draft_Variance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actualDate</name>
            <value>
                <elementReference>$Record.pro_Actual_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectedDate</name>
            <value>
                <elementReference>$Record.pro_Projected_Date__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Count_Variance_in_Business_Days_Review_comment</name>
        <label>Count Variance in Business Days - Review &amp; comment</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>BusinessDayCounter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Review_Comment_Variance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actualDate</name>
            <value>
                <elementReference>$Record.pro_Actual_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectedDate</name>
            <value>
                <elementReference>$Record.pro_Projected_Date__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>What_Is_The_Event_Name</name>
        <label>What Is The Event Name?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engage_Law_Firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Engage Law Firm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Variance_in_Business_Days_Engage_Law_Firm</targetReference>
            </connector>
            <label>Engage Law Firm</label>
        </rules>
        <rules>
            <name>Initial_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Initial Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Variance_in_Business_Days_Initial_Draft</targetReference>
            </connector>
            <label>Initial Draft</label>
        </rules>
        <rules>
            <name>Review_Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Review &amp; Comment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Variance_in_Business_Days_Review_comment</targetReference>
            </connector>
            <label>Review &amp; Comment</label>
        </rules>
        <rules>
            <name>Draft_To_Counterparty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Draft To Counterparty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Variance_in_Business_Days_Draft_To_Counterparty</targetReference>
            </connector>
            <label>Draft To Counterparty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Run Update On Variance Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Run Update On Variance Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Draft_To_Counterparty_Variance</name>
        <label>Set Draft To Counterparty Variance</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pro_Variance_Working_Days__c</field>
            <value>
                <elementReference>Count_Variance_in_Business_Days_Draft_To_Counterparty.businessDaysDifference</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Engage_Law_Firm_Variance</name>
        <label>Set Engage Law Firm Variance</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pro_Variance_Working_Days__c</field>
            <value>
                <elementReference>Count_Variance_in_Business_Days_Engage_Law_Firm.businessDaysDifference</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Initial_Draft_Variance</name>
        <label>Set Initial Draft Variance</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pro_Variance_Working_Days__c</field>
            <value>
                <elementReference>Count_Variance_in_Business_Days_Initial_Draft.businessDaysDifference</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Review_Comment_Variance</name>
        <label>Set Review &amp; Comment Variance</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>pro_Variance_Working_Days__c</field>
            <value>
                <elementReference>Count_Variance_in_Business_Days_Review_comment.businessDaysDifference</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Is_The_Event_Name</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Actual_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pro_Documentation_Event__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
