force-app/main/default/flows/Prodigy_Screen_Deal_Approval_Console.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Approver_Values_To_Deal_Teams</name>
        <label>Assign Approver Values To Deal Teams</label>
        <locationX>490</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Deal_Teams_Update_LOI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdate.pro_LOI_Signed_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ApproveOrRejectLOI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDealTeamToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Deal_Teams_Update_LOI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_Values_To_Record_Variable</name>
        <label>Assign Approver Values To Record Variable</label>
        <locationX>842</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>varApproverToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Approvers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApproverToUpdate.pro_Lease_Documentation_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ApproveOrRejectDocumentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApproverToUpdate.pro_Department_Approval_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DepartmentApprovalComplete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApproversToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varApproverToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deal_Team_To_Single_Variable</name>
        <label>Assign Deal Team To Single Variable</label>
        <locationX>1986</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Deal_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Deal_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Triggering_Deal_To_List</name>
        <label>Assign Triggering Deal To List and Assign Running User</label>
        <locationX>1183</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varDealCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AiD_Id_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_To_Approvals_History</name>
        <label>Assign Values To Approvals History</label>
        <locationX>1898</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_User_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DealTeamFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Approval_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Approval_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_ApprovalEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApprovalsHistoryToCreate.pro_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approvals_History_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Collections_To_Blank</name>
        <label>Reset Collections To Blank</label>
        <locationX>1183</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApproversToUpdateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_DisplayAllDocumentationApprovers.selectedRows</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_DisplayAllLOIApprovers.selectedRows</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_DisplayAllDocumentationApprovers.firstSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_DisplayAllLOIApprovers.firstSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Triggering_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_As_Approved</name>
        <label>Set As Approved</label>
        <locationX>1634</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdate.pro_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDealTeamToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deal_Team_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deal_To_Rejected</name>
        <label>Set Deal To Rejected</label>
        <locationX>1898</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>recordId.leaseworks__Deal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.leaseworks__Inactive_MA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deal_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lease_Documentation_Required_Status</name>
        <label>Set Lease Documentation Required Status</label>
        <locationX>1194</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>varApproverToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Documentation_Approvers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApproverToUpdate.pro_Include_In_Documentation_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_RequireApproval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApproversToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varApproverToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Documentation_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LOI_As_Required_Status</name>
        <label>Set LOI As Required Status</label>
        <locationX>1194</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_LOI_Approvers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdate.pro_Include_In_LOI_Approvals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_RequireApproval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDealTeamToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_LOI_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varAidApproversFound_To_False</name>
        <label>Set varAidApproversFound To False</label>
        <locationX>1315</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varAidApproversFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Deal_Approval_Or_Non_Deal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varAidApproversFound_To_True</name>
        <label>Set varAidApproversFound To True</label>
        <locationX>1051</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varAidApproversFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Deal_Approval_Or_Non_Deal_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varDealTeamsFound_To_False</name>
        <label>Set varDealTeamsFound To False</label>
        <locationX>1315</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_AiD_Approvers_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varDealTeamsFound_To_True</name>
        <label>Set varDealTeamsFound To True</label>
        <locationX>1051</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_AiD_Approvers_Found</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Documentation_Approval</name>
        <choiceText>Documentation Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documentation Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ExcludeFromApproval</name>
        <choiceText>Exclude From Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exclude From Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_LOI_Approval</name>
        <choiceText>LOI Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LOI Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_RequireApproval</name>
        <choiceText>Require Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Require Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exclude_Include_Approver</name>
        <choiceText>Exclude / Include Approver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exclude / Include Approver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject_Approve</name>
        <choiceText>Reject / Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject / Approve</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_This_Deal_Approval_Or_Non_Deal_Approval</name>
        <label>Is This Deal Approval Or Non Deal Approval?</label>
        <locationX>1183</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>NonDealApprovalConsoleScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Deal Approval</defaultConnectorLabel>
        <rules>
            <name>Deal_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_LOI_Approvers_For_Deal</targetReference>
            </connector>
            <label>Deal Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Approval_Reminder_Notification</name>
        <label>Send Approval Reminder Notification?</label>
        <locationX>468</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>What_Update_Action_To_Take</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Approval_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_ApprovalReminderNotification.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Approval Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_Reminder</targetReference>
            </connector>
            <label>Yes - Send Approval Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Approval_Rejected_OR_Given_OR_Resubmission_Requested</name>
        <label>Was Approval Rejected OR Given OR Resubmission Requested?</label>
        <locationX>1898</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Update_Deal_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Approval_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_NonDealApprovalButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_As_Approved</targetReference>
            </connector>
            <label>Approval Given</label>
        </rules>
        <rules>
            <name>Approval_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_NonDealApprovalButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deal_To_Rejected</targetReference>
            </connector>
            <label>Approval Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_AiD_Approvers_Found</name>
        <label>Were AiD Approvers Found?</label>
        <locationX>1183</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Set_varAidApproversFound_To_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>AiD_Approvers_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_In_Deal_Approvers_For_Running_User</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varAidApproversFound_To_True</targetReference>
            </connector>
            <label>AiD Approvers Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Deal_Teams_Found_For_Running_User</name>
        <label>Were Deal Teams Found For Running User?</label>
        <locationX>1183</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_varDealTeamsFound_To_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deal_Teams_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_LOI_Deal_Team_Records_For_Running_User</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Non_Deal_Approver_Deal_Team_Records_For_Running_User</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varDealTeamsFound_To_True</targetReference>
            </connector>
            <label>Deal Teams Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Update_Action_To_Take</name>
        <label>What Update Action To Take?</label>
        <locationX>886</locationX>
        <locationY>2354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bulk_Update_LOI_Signature_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bb_LoiSignatureButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve LOI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bb_LoiSignatureButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject LOI Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Deal_Teams_Update_LOI</targetReference>
            </connector>
            <label>Bulk Update LOI Signature Approval</label>
        </rules>
        <rules>
            <name>Bulk_Update_Documentation_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bb_DocumentationApprovalButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bb_DocumentationApprovalButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject Documentation Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Approvers</targetReference>
            </connector>
            <label>Bulk Update Documentation Approval</label>
        </rules>
        <rules>
            <name>Bulk_Exclude_Include_LOI_Approver</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>bb_IncludeOrExcludeFromApprovals.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_LOI_Approvers</targetReference>
            </connector>
            <label>Bulk Exclude/Include LOI Approver</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_ApprovalEvent</name>
        <dataType>String</dataType>
        <expression>IF({!bb_NonDealApprovalButtons.value} = &#39;Approve&#39;, &#39;Approved&#39;,
     IF({!bb_NonDealApprovalButtons.value} = &#39;Reject&#39;, &#39;Rejected&#39;, &#39;Resubmission Requested&#39;))</expression>
    </formulas>
    <formulas>
        <name>f_ApproveOrRejectDocumentation</name>
        <dataType>Boolean</dataType>
        <expression>IF({!bb_DocumentationApprovalButtons.value} = &#39;Approve Documentation&#39;, True, False)</expression>
    </formulas>
    <formulas>
        <name>f_ApproveOrRejectLOI</name>
        <dataType>Boolean</dataType>
        <expression>IF({!bb_LoiSignatureButtons.value} = &#39;Reject LOI Approval&#39;, False, True)</expression>
    </formulas>
    <formulas>
        <name>f_DealTeamFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &#39; &#39; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>f_DepartmentApprovalComplete</name>
        <dataType>Boolean</dataType>
        <expression>IF({!bb_DocumentationApprovalButtons.value} = &#39;Approve Documentation&#39;, True, False)</expression>
    </formulas>
    <formulas>
        <name>f_NonDealApprovalStatus</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    {!bb_NonDealApprovalButtons.value} = &#39;Approve&#39;,
    TRUE,
    FALSE
)</expression>
    </formulas>
    <formulas>
        <name>f_RequireApproval</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Choose_An_Action} = {!c_RequireApproval}, True, False)</expression>
    </formulas>
    <interviewLabel>Prodigy - Deal Approval Console {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Deal Approval Console</label>
    <loops>
        <name>Loop_Selected_Approvers</name>
        <label>Loop Selected Approvers</label>
        <locationX>754</locationX>
        <locationY>2462</locationY>
        <collectionReference>dt_UpdateDocumentationApproval.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver_Values_To_Record_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Documentation_As_Approved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Deal_Teams_Update_LOI</name>
        <label>Loop Selected Deal Teams - Update LOI</label>
        <locationX>402</locationX>
        <locationY>2462</locationY>
        <collectionReference>dt_EditLoiSignatureApproval.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver_Values_To_Deal_Teams</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Deal_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Documentation_Approvers</name>
        <label>Loop Selected Documentation Approvers</label>
        <locationX>1106</locationX>
        <locationY>2762</locationY>
        <collectionReference>dt_DisplayAllDocumentationApprovers.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Lease_Documentation_Required_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LOI_Required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_LOI_Approvers</name>
        <label>Loop Selected LOI Approvers</label>
        <locationX>1106</locationX>
        <locationY>2462</locationY>
        <collectionReference>dt_DisplayAllLOIApprovers.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_LOI_As_Required_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Selected_Documentation_Approvers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Single_Deal_Team</name>
        <label>Loop Single Deal Team</label>
        <locationX>1898</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Non_Deal_Approver_Deal_Team_Records_For_Running_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deal_Team_To_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Values_To_Approvals_History</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approvals_History_Record</name>
        <label>Create Approvals History Record</label>
        <locationX>1898</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Was_Approval_Rejected_OR_Given_OR_Resubmission_Requested</targetReference>
        </connector>
        <inputReference>varApprovalsHistoryToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Documentation_Approvers_For_Deal</name>
        <label>Get All Documentation Approvers For Deal</label>
        <locationX>468</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApproverConsoleScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_AiD_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_In_Deal_Approver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_LOI_Approvers_For_Deal</name>
        <label>Get All LOI Approvers For Deal</label>
        <locationX>468</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Documentation_Approvers_For_Deal</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_In_Deal_Approvers_For_Running_User</name>
        <label>Get Asset In Deal Approvers For Running User</label>
        <locationX>1183</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Deal_Teams_Found_For_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_AiD_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Exclude_From_Documentation_Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Department_Approval_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Include_In_Documentation_Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_In_Deal_Approver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_In_Deal</name>
        <label>Get Assets In Deal</label>
        <locationX>1183</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Triggering_Deal_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manage_Deal_Approval_Permission_Set</name>
        <label>Get Manage Deal Approval Permission Set</label>
        <locationX>1183</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manage_Deal_Approval_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Approval_Console_Approval_Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manage_Deal_Approval_Permission_Set_Assignment</name>
        <label>Get Manage Deal Approval Permission Set Assignment</label>
        <locationX>1183</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_LOI_Deal_Team_Records_For_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manage_Deal_Approval_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Deal_Approver_Deal_Team_Records_For_Running_User</name>
        <label>Get Non Deal Approver Deal Team Records For Running User</label>
        <locationX>1183</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assets_In_Deal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non Deal Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_LOI_Deal_Team_Records_For_Running_User</name>
        <label>Get Open LOI Deal Team Records For Running User</label>
        <locationX>1183</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Deal_Approver_Deal_Team_Records_For_Running_User</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 9 AND 10) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>leaseworks__Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </filters>
        <filters>
            <field>pro_LOI_Signed_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Include_In_LOI_Approvals__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Deal</name>
        <label>Get Triggering Deal</label>
        <locationX>1183</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manage_Deal_Approval_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Marketing_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Deal_Team_Approval</name>
        <label>Reset Deal Team Approval</label>
        <locationX>1898</locationX>
        <locationY>3170</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__Deal_Team__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deal_Status</name>
        <label>Update Deal Status</label>
        <locationX>1898</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Reset_Deal_Team_Approval</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deal_Team</name>
        <label>Update Deal Team</label>
        <locationX>402</locationX>
        <locationY>2762</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Collections_To_Blank</targetReference>
        </connector>
        <inputReference>varDealTeamToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deal_Team_Approval</name>
        <label>Update Deal Team Approval</label>
        <locationX>1634</locationX>
        <locationY>2762</locationY>
        <inputReference>varDealTeamToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Documentation_As_Approved</name>
        <label>Update Documentation As Approved</label>
        <locationX>754</locationX>
        <locationY>2762</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Collections_To_Blank</targetReference>
        </connector>
        <inputReference>varApproversToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lease_Documentation_Required</name>
        <label>Update Lease Documentation Required</label>
        <locationX>1106</locationX>
        <locationY>3170</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Collections_To_Blank</targetReference>
        </connector>
        <inputReference>varApproversToUpdateCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LOI_Required</name>
        <label>Update LOI Required</label>
        <locationX>1106</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Update_Lease_Documentation_Required</targetReference>
        </connector>
        <inputReference>varDealTeamToUpdateCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>ApproverConsoleScreen</name>
        <label>ApproverConsoleScreen</label>
        <locationX>468</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Approval_Reminder_Notification</targetReference>
        </connector>
        <fields>
            <name>ApproverConsoleScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ApproverConsoleScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_LoiSignatureApproval</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Marketing_Activity__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>LOI Signature Approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Triggering_Deal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;pro_LOI_Team_Approval__c&quot;,&quot;guid&quot;:&quot;column-2ae0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;LOI Team Approval&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_LOI_Approval_Progress__c&quot;,&quot;guid&quot;:&quot;column-1307&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;LOI Approval Progress&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ApproverConsoleScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_DocumentationApproval</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Aircraft_Proposal__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Documentation Approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Assets_In_Deal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d962&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name (MSN)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_AiD_Team_Approval__c&quot;,&quot;guid&quot;:&quot;column-660c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;AiD Team Approval&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Lease_Documentation_Approval_Prog__c&quot;,&quot;guid&quot;:&quot;column-e35f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Lease Documentation Approval Progress&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Approve_LOI_Signature</name>
            <fieldText>Approve LOI Signature</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approve_LOI_Signature_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankSpace3</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dt_EditLoiSignatureApproval</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Deal_Team__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>leaseworks__Deal_Team__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Open_LOI_Deal_Team_Records_For_Running_User</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,pro_LOI_Signed_Approved_Formula__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:230, pro_LOI_Signed_Approved_Formula__c:245</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>bb_LoiSignatureButtons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Approve LOI&quot;,&quot;value&quot;:&quot;Approve LOI&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select role(s) from the table</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.leaseworks__Deal_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>LOI Signed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varDealTeamsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approve_Documentation</name>
            <fieldText>Approve Documentation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approve_Documentation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BlankSpace4</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dt_UpdateDocumentationApproval</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Asset_In_Deal_Approver__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pro_Asset_In_Deal_Approver__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Asset_In_Deal_Approvers_For_Running_User</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>pro_AiD_Name__c,Name,pro_Lease_Documentation_Approved__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>pro_AiD_Name__c:166, Name:177, pro_Lease_Documentation_Approved__c:276</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>bb_DocumentationApprovalButtons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Approve Documentation&quot;,&quot;value&quot;:&quot;Approve Documentation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select role(s) from the table</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.leaseworks__Deal_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Documentation</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varAidApproversFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval_Management</name>
            <fieldText>Approval Management</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Management_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_DisplayAllLOIApprovers</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Deal_Team__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>LOI</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_All_LOI_Approvers_For_Deal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c76e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Role&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Deal Team&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Assigned_To_Name__c&quot;,&quot;guid&quot;:&quot;column-af2a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Assigned To&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Assigned To Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Include_In_LOI_Approvals__c&quot;,&quot;guid&quot;:&quot;column-4cfa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Include In LOI Approvals&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;pro_LOI_Signed_Approved__c&quot;,&quot;guid&quot;:&quot;column-309d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;LOI Signed Approved&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Choose_An_Action</name>
                    <choiceReferences>c_RequireApproval</choiceReferences>
                    <choiceReferences>c_ExcludeFromApproval</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose An Action</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>dt_DisplayAllDocumentationApprovers.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllLOIApprovers.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approval_Management_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_DisplayAllDocumentationApprovers</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Asset_In_Deal_Approver__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lease Documentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_All_Documentation_Approvers_For_Deal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;pro_AiD_Name__c&quot;,&quot;guid&quot;:&quot;column-1828&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Asset In Deal&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;AiD Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1d78&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Assigned_Approver__c&quot;,&quot;guid&quot;:&quot;column-be8b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Assigned To&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Assigned Approver&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Include_In_Documentation_Approval__c&quot;,&quot;guid&quot;:&quot;column-8831&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Include In Documentation Approval&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;pro_Lease_Documentation_Approved__c&quot;,&quot;guid&quot;:&quot;column-9711&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Lease Documentation Approved&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Blank10</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>bb_ApprovalReminderNotification</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Send Approval Reminder&quot;,&quot;value&quot;:&quot;Send Approval Reminder&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:notification&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.leaseworks__Deal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>LOI Signed</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordId.leaseworks__Deal_Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Documentation</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Manage_Deal_Approval_Permission_Set_Assignment.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ApproverConsoleScreen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ApproverConsoleScreen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_For_LOI_Exclusion</name>
                    <fieldText>Reason For LOI Exclusion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_An_Action</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_ExcludeFromApproval</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllLOIApprovers.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ApproverConsoleScreen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_For_Lease_Documentation_Exclusion</name>
                    <fieldText>Reason For Lease Documentation Exclusion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_An_Action</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_ExcludeFromApproval</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dt_DisplayAllDocumentationApprovers.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>bb_IncludeOrExcludeFromApprovals</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save Changes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_An_Action</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dt_DisplayAllLOIApprovers.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dt_DisplayAllDocumentationApprovers.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close Console</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NonDealApprovalConsoleScreen</name>
        <label>NonDealApprovalConsoleScreen</label>
        <locationX>1898</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Single_Deal_Team</targetReference>
        </connector>
        <fields>
            <name>dt_DisplayApprovalStatus</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>leaseworks__Marketing_Activity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approval Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Triggering_Deal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;pro_Team_Approval__c&quot;,&quot;guid&quot;:&quot;column-467e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Team Approval&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Non_Deal_Approval_Progress__c&quot;,&quot;guid&quot;:&quot;column-8d49&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Approval Progress&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Non Deal Approval Progress&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NonDealApprovalConsoleScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NonDealApprovalConsoleScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank5</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Approver_Comment</name>
                    <fieldText>Approver Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>bb_NonDealApprovalButtons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Reject&quot;,&quot;value&quot;:&quot;Reject&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Approve&quot;,&quot;value&quot;:&quot;Approve&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varDealTeamsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NonApproverMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;No approver records have been assigned to you for this approval request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varDealTeamsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close Console</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notification_Success_Screen</name>
        <label>Notification Success Screen</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ApproverConsoleScreen</targetReference>
        </connector>
        <fields>
            <name>ApprovalReminderSuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Notifications have successfully been sent to all outstanding approvers.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leaseworks-carlyle--full.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068du000001VESj?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Return To Console</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1057</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Collections_To_Blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Autolaunched flow to send a reminder notification to any outstanding approvers</description>
        <name>Send_Approval_Reminder</name>
        <label>Send Approval Reminder</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Notification_Success_Screen</targetReference>
        </connector>
        <flowName>Prodigy_Auto_Approval_Reminder_Notification</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>varAidApproversFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varApprovalsHistoryToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Approvals_History__c</objectType>
    </variables>
    <variables>
        <name>varApproversToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Asset_In_Deal_Approver__c</objectType>
    </variables>
    <variables>
        <name>varApproverToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Asset_In_Deal_Approver__c</objectType>
    </variables>
    <variables>
        <name>varDealCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>varDealTeamCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDealTeamsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDealTeamToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
    <variables>
        <name>varDealTeamToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
    <variables>
        <description>Please, select the role(s) that you wish to approve as.</description>
        <name>varValidationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
