force-app/main/default/flows/Prodigy_Screen_Ticket_Multi_Attach_Console.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Asset_Name_Input_To_Variable</name>
        <label>Assign Asset Name Input To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetNameInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractSerialNumberInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_OR_Remove_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Variables_For_Assemblies_To_Link</name>
        <label>Build Variables For Assemblies To Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssemblyOnTicketToCreate.pro_Assembly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Assemblies.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssemblyOnTicketToCreate.pro_Ticket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssemblyOnTicketToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Assemblies.pro_Assembly_Name_And_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssembliesOnTicketToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssemblyOnTicketToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Assemblies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Variables_For_Assets_To_Link</name>
        <label>Build Variables For Assets To Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetOnTicketToCreate.pro_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetOnTicketToCreate.pro_Ticket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetOnTicketToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Assets.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetsOnTicketToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssetOnTicketToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Variables_For_Contracts_To_Link</name>
        <label>Build Variables For Contracts To Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContractOnTicketToCreate.pro_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractOnTicketToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Contracts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractOnTicketToCreate.pro_Ticket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Ticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractsOnTicketToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContractOnTicketToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset values from datatable selections and buttons to the state that they were in when the flow started running.</description>
        <name>Reset_Flow_Values</name>
        <label>Reset Flow Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dt_DisplatAssemblies.firstSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_DisplayAssets.firstSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bb_LinkSelectedRecords.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bb_RemoveSelectedRecords.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTriggeringTicket</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Ticket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bb_RemoveSelectedRecords.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_LinkedAssemblies.firstSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_LinkedAsssets.firstSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetsToLink</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssembliesToLink</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetsOnTicketToCreateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssembliesOnTicketToCreateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_AttachedContracts.firstSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_AttachedContracts.selectedRows</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_DisplayAllContracts.firstSelectedRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dt_DisplayAllContracts.selectedRows</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assets_On_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Attachments_To_Add</name>
        <label>Set Selected Attachments To Add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetsSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_DisplayAssets.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssembliesSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_DisplatAssemblies.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractsSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_DisplayAllContracts.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Assets</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Assemblies</name>
        <choiceText>Assemblies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assemblies</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Assets</name>
        <choiceText>Assets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assets</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Asembly_Already_On_Ticket</name>
        <label>Is Asembly Already On Ticket?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Build_Variables_For_Assemblies_To_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assembly_Already_On_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Assembly_On_Ticket_Name_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Selected_Assemblies.pro_Assembly_Name_And_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Assemblies</targetReference>
            </connector>
            <label>Yes - Assembly Already On Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_Already_On_Ticket</name>
        <label>Is Asset Already On Ticket?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Build_Variables_For_Assets_To_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset_Already_On_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Asset_On_Ticket_Name_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Selected_Assets.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Assets</targetReference>
            </connector>
            <label>Yes - Asset Already On Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Already_On_Ticket</name>
        <label>Is Contract Already On Ticket?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Build_Variables_For_Contracts_To_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Already_On_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Contract_On_Ticket_Name_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Selected_Contracts.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Contracts</targetReference>
            </connector>
            <label>Yes - Contract Already On Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <description>Choose path to take based on the button clicked on the Asset / Assembly Selection Screen</description>
        <name>Link_OR_Remove_Records</name>
        <label>Link OR Remove Records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Were_Assets_Selected_For_Removal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove Records</defaultConnectorLabel>
        <rules>
            <name>Link_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_LinkSelectedRecords.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Selected Records</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Attachments_To_Add</targetReference>
            </connector>
            <label>Link Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_Changes_Exit_Console</name>
        <label>Save Changes - Exit Console</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Asset_Name_Input_To_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exit_Console</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveChanges.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save Changes</stringValue>
                </rightValue>
            </conditions>
            <label>Yes - Exit Console</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Assemblies_Selected_For_Removal</name>
        <label>Were Assemblies Selected For Removal?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Were_Contracts_Selected_For_Removal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Assemblies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dt_LinkedAssemblies.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dt_LinkedAssemblies.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Assemblies_On_Ticket</targetReference>
            </connector>
            <label>Yes - Remove Assemblies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Assets_Selected_For_Removal</name>
        <label>Were Assets Selected For Removal?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Were_Assemblies_Selected_For_Removal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dt_LinkedAsssets.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dt_LinkedAsssets.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Assets_On_Ticket</targetReference>
            </connector>
            <label>Yes - Remove Assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Contracts_Selected_For_Removal</name>
        <label>Were Contracts Selected For Removal?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Assets_and_Assemblies_Fields_On_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dt_AttachedContracts.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dt_AttachedContracts.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Contracts_On_Ticket</targetReference>
            </connector>
            <label>Yes - Remove Contracts</label>
        </rules>
    </decisions>
    <description>A console for multi-attaching Assets and Assemblies to a Ticket</description>
    <environments>Default</environments>
    <formulas>
        <name>f_AssembliesQuery</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Serial_Number}),
  &quot;SELECT Id, Name, leaseworks__Type__c, pro_Assembly_Name_And_Type__c &quot; &amp;
  &quot;FROM leaseworks__Constituent_Assembly__c &quot; &amp;
  &quot;LIMIT 4&quot;,

  &quot;SELECT Id, Name, leaseworks__Type__c, pro_Assembly_Name_And_Type__c &quot; &amp;
  &quot;FROM leaseworks__Constituent_Assembly__c &quot; &amp;
  &quot;WHERE Name LIKE &apos;&quot; &amp; {!Serial_Number} &amp; &quot;%&apos; &quot; &amp;
  &quot;OR leaseworks__Asset__r.leaseworks__MSN_Number__c LIKE &apos;&quot; &amp; {!Serial_Number} &amp; &quot;%&apos; &quot; &amp;
  &quot;OR leaseworks__Attached_Aircraft__r.leaseworks__MSN_Number__c LIKE &apos;&quot; &amp; {!Serial_Number} &amp; &quot;%&apos; &quot; &amp;
  &quot;LIMIT 4&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_AssemblyOnTicketNameConcatenation</name>
        <dataType>String</dataType>
        <expression>{!Loop_Selected_Assemblies.leaseworks__Asset__r.Name} + &apos; - &apos; + {!Loop_Selected_Assemblies.Name} + &apos; - &apos;   +TEXT({!Loop_Selected_Assemblies.leaseworks__Type__c})</expression>
    </formulas>
    <formulas>
        <name>f_AssetsQuery</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Serial_Number}),
  &quot;SELECT Id, Name, leaseworks__Asset_Type_GP__c, leaseworks__MSN_Number__c FROM leaseworks__Aircraft__c LIMIT 4&quot;,
  &quot;SELECT Id, Name, leaseworks__Asset_Type_GP__c, leaseworks__MSN_Number__c FROM leaseworks__Aircraft__c WHERE leaseworks__MSN_Number__c LIKE &apos;&quot; &amp; {!Serial_Number} &amp; &quot;%&apos; LIMIT 4&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_AttachedAssembliesOrPlaceholder</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Assembly_On_Ticket_Name_Collection} != Null,
    SUBSTITUTE(SUBSTITUTE({!Create_Assembly_On_Ticket_Name_Collection}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), 
      &apos;No Assemblies on Ticket&apos;
)</expression>
    </formulas>
    <formulas>
        <name>f_AttachedAssetsOrPlaceholder</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Asset_On_Ticket_Name_Collection} != Null, 
           SUBSTITUTE(SUBSTITUTE({!Create_Asset_On_Ticket_Name_Collection}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;) ,
            &apos;No Assets on Ticket&apos;)</expression>
    </formulas>
    <formulas>
        <name>f_AttachedContractsOrPlaceholder</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Contract_On_Ticket_Name_Collection} != Null,
  SUBSTITUTE(
    SUBSTITUTE(
      SUBSTITUTE({!Create_Contract_On_Ticket_Name_Collection}, &quot;[&quot;, &quot;&quot;),
    &quot;]&quot;, &quot;&quot;),
  &quot;,&quot;, &quot;, &quot;),
  &quot;No Contracts on Ticket&quot;
)</expression>
    </formulas>
    <formulas>
        <name>f_ContractsQuery</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Serial_Number_Contract}),
  &quot;SELECT Id, Name, leaseworks__Lease_Type_Status__c FROM leaseworks__Lease__c LIMIT 8&quot;,
  &quot;SELECT Id, Name, leaseworks__Lease_Type_Status__c &quot; &amp;
  &quot;FROM leaseworks__Lease__c &quot; &amp;
  &quot;WHERE pro_Asset_Name__c LIKE &apos;&quot; &amp; {!Serial_Number_Contract} &amp; &quot;%&apos; &quot; &amp;
  &quot;LIMIT 8&quot;
)</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Ticket Multi-Attach Console {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Ticket Multi-Attach Console</label>
    <loops>
        <name>Loop_Selected_Assemblies</name>
        <label>Loop Selected Assemblies</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varAssembliesToLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Asembly_Already_On_Ticket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assemblies_On_Ticket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Assets</name>
        <label>Loop Selected Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dt_DisplayAssets.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Asset_Already_On_Ticket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets_On_Ticket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Contracts</name>
        <label>Loop Selected Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dt_DisplayAllContracts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contract_Already_On_Ticket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contracts_On_Ticket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assemblies_On_Ticket</name>
        <label>Create Assemblies On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Selected_Contracts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>varAssembliesOnTicketToCreateCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Assets_On_Ticket</name>
        <label>Create Assets On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Selected_Assemblies</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>varAssetsOnTicketToCreateCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contracts_On_Ticket</name>
        <label>Create Contracts On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Assets_and_Assemblies_Fields_On_Ticket</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>varContractsOnTicketToCreateCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Selected_Assemblies_On_Ticket</name>
        <label>Delete Selected Assemblies On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Were_Contracts_Selected_For_Removal</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>dt_LinkedAssemblies.selectedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Selected_Assets_On_Ticket</name>
        <label>Delete Selected Assets On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Were_Assemblies_Selected_For_Removal</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>dt_LinkedAsssets.selectedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Selected_Contracts_On_Ticket</name>
        <label>Delete Selected Contracts On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Assets_and_Assemblies_Fields_On_Ticket</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>dt_AttachedContracts.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assemblies_On_Ticket</name>
        <label>Get Assemblies On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contracts_On_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Assembly_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_On_Ticket</name>
        <label>Get Assets On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assemblies_On_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_On_Ticket</name>
        <label>Get Contracts On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset_On_Ticket_Name_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringTicket.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Contract_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Ticket</name>
        <label>Get Triggering Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Flow_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Asset_Assembly_Selection_Screen</name>
        <label>Asset / Assembly Selection Screend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Changes_Exit_Console</targetReference>
        </connector>
        <fields>
            <name>AttachedAssetsAssembliesDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Assets: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!f_AttachedAssetsOrPlaceholder}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Assemblies: &lt;/strong&gt;{!f_AttachedAssembliesOrPlaceholder}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Triggering_Ticket.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Lease_Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AttachedContractsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Contract: &lt;/strong&gt;{!f_AttachedContractsOrPlaceholder}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Triggering_Ticket.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lease_Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>bb_AddOrRemoveAssetsAssemblies</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Attachments&quot;,&quot;value&quot;:&quot;Add Assets / Assemblies&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Remove Attachments&quot;,&quot;value&quot;:&quot;Remove Assets / Assemblies&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>Add Assets / Assemblies</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Assembly_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Assembly_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddAssetsInstructionText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Enter a serial number to search for any Asset or Assembly. Select the desired Assets or Assemblies in the datatables and click the button &lt;/span&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Add&lt;/strong&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Serial_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varAssetNameInput</elementReference>
                    </defaultValue>
                    <fieldText>Serial Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_DisplayAssets</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Aircraft__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assets</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>df_FetchAssets.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1994&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;leaseworks__Asset_Type_GP__c&quot;,&quot;guid&quot;:&quot;column-908e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Asset Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_DisplatAssemblies</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Constituent_Assembly__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assemblies</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>df_FetchAssemblies.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c3c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Assembly Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;leaseworks__Type__c&quot;,&quot;guid&quot;:&quot;column-21d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Assembly Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>df_FetchAssets</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Aircraft__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>leaseworks__Aircraft__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>f_AssetsQuery</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>debounceTime</name>
                        <value>
                            <stringValue>800</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>df_FetchAssemblies</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Constituent_Assembly__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>leaseworks__Constituent_Assembly__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>f_AssembliesQuery</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>debounceTime</name>
                        <value>
                            <stringValue>800</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bb_AddOrRemoveAssetsAssemblies.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Add Assets / Assemblies</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Triggering_Ticket.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Lease_Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Asset_Assembly_Selection_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Assembly_Selection_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RemoveAssetsInstructionText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 12px;&quot;&gt;Select the desired Assets or Assemblies from the datatables then click &lt;/span&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 12px;&quot;&gt;Remove&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_LinkedAsssets</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Asset_On_Ticket__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assets</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Assets_On_Ticket</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-10db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset On Ticket Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-77ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>dt_LinkedAssemblies</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Assembly_On_Ticket__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assemblies</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Assemblies_On_Ticket</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5b2c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Assembly On Ticket Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bb_AddOrRemoveAssetsAssemblies.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Remove Assets / Assemblies</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Triggering_Ticket.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Lease_Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Asset_Assembly_Selection_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Assembly_Selection_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddContractsInstructionText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Enter a serial number to search for any Contract. Select the desired Contracts in the datatable and click the button &lt;/span&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Add&lt;/strong&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bb_AddOrRemoveAssetsAssemblies.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Add Assets / Assemblies</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RemoveContractsInstructionText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(1, 118, 211); font-size: 12px;&quot;&gt;Select the desired Contracts from the datatable then click &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(1, 118, 211); font-size: 12px;&quot;&gt;Remove&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bb_AddOrRemoveAssetsAssemblies.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Remove Assets / Assemblies</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Serial_Number_Contract</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varContractSerialNumberInput</elementReference>
                    </defaultValue>
                    <fieldText>Serial Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bb_AddOrRemoveAssetsAssemblies.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Add Assets / Assemblies</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dt_DisplayAllContracts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Lease__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contracts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>df_FetchContracts.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a0e1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contract Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;leaseworks__Lease_Type_Status__c&quot;,&quot;guid&quot;:&quot;column-d0b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bb_AddOrRemoveAssetsAssemblies.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Add Assets / Assemblies</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dt_AttachedContracts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Contract_On_Ticket__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contracts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Contracts_On_Ticket</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7e73&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contract On Ticket Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Status__c&quot;,&quot;guid&quot;:&quot;column-f9fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bb_AddOrRemoveAssetsAssemblies.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Remove Assets / Assemblies</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>df_FetchContracts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Lease__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>leaseworks__Lease__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>f_ContractsQuery</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Triggering_Ticket.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lease_Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bb_LinkSelectedRecords</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add&quot;,&quot;value&quot;:&quot;Link Selected Records&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:add&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>dt_DisplayAssets.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dt_DisplatAssemblies.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dt_DisplayAllContracts.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bb_RemoveSelectedRecords</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;Remove Selected Records&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:clear&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>dt_LinkedAssemblies.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dt_LinkedAsssets.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dt_AttachedContracts.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bb_SaveChanges</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save Changes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Link Records To Ticket</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;There was an error processing your request:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Ticket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Assets_and_Assemblies_Fields_On_Ticket</name>
        <label>Update Assets and Assemblies Fields On Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Flow_Values</targetReference>
        </connector>
        <flowName>Prodigy_Auto_Populate_Assets_and_Assemblies_Fields_On_Ticket</flowName>
        <inputAssignments>
            <name>varTriggeringTicket</name>
            <value>
                <elementReference>varTriggeringTicket</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <transforms>
        <name>Create_Assembly_On_Ticket_Name_Collection</name>
        <label>Create Assembly On Ticket Name Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Contract_On_Ticket_Name_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Assemblies_On_Ticket[$EachItem].pro_Assembly_Name_Type__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Asset_On_Ticket_Name_Collection</name>
        <label>Create Asset On Ticket Name Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Assembly_On_Ticket_Name_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Assets_On_Ticket[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Contract_On_Ticket_Name_Collection</name>
        <label>Create Contract On Ticket Name Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asset_Assembly_Selection_Screen</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contracts_On_Ticket[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Out_Assets_That_Are_Already_Attached</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssembliesOnTicketToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Assembly_On_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varAssembliesSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Constituent_Assembly__c</objectType>
    </variables>
    <variables>
        <name>varAssembliesToLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Constituent_Assembly__c</objectType>
    </variables>
    <variables>
        <name>varAssemblyOnTicketToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Assembly_On_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varAssetNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetOnTicketToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Asset_On_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varAssetsOnTicketToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Asset_On_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varAssetsSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>varAssetsToLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft__c</objectType>
    </variables>
    <variables>
        <name>varContractOnTicketToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Contract_On_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varContractSerialNumberInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractsOnTicketToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Contract_On_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varContractsSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
    <variables>
        <name>varTriggeringTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Ticket__c</objectType>
    </variables>
</Flow>
