force-app/main/default/flows/Prodigy_Screen_Create_Time_Log_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Consultant_To_time_Log</name>
        <label>Assign Consultant To time Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTimeLogEntryToCreate.pro_Project_Consultant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Time_log_Entry</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>pcs_LocationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pro_Work_Location__c</picklistField>
        <picklistObject>pro_Time_Log_Entry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_ProjectConsultants</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Technical_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>pro_Project_Consultant__c</object>
        <sortField>pro_Contact_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Create Time Log Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Create Time Log Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Time_log_Entry</name>
        <label>Create Time log Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varTimeLogEntryToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Consultants</name>
        <label>Get Project Consultants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Consultant_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Technical_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Project_Consultant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Log_Entries</name>
        <label>Get Time Log Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TimeLogScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Project_Consultant__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Project_Consultant_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Time_Log_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>TimeLogScreen</name>
        <label>TimeLogScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Consultant_To_time_Log</targetReference>
        </connector>
        <fields>
            <name>Existing_Time_Logs</name>
            <fieldText>Existing Time Logs</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Time_Logs_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt_DisplayTimeLogEntries</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>pro_Time_Log_Entry__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Time Logs</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Time_Log_Entries</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;pro_Project_Consultant_Name__c&quot;,&quot;guid&quot;:&quot;column-ae3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Project Consultant&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Project Consultant Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Work_Location__c&quot;,&quot;guid&quot;:&quot;column-c17f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Location&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Day_Worked__c&quot;,&quot;guid&quot;:&quot;column-a2cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Day Worked&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;pro_Time_Log_Date__c&quot;,&quot;guid&quot;:&quot;column-9432&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Time Log Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Time_Log_Input</name>
            <fieldText>Time Log Input</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Time_Log_Input_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consultant</name>
                    <choiceReferences>rcs_ProjectConsultants</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Consultant</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Time_Log_Input_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTimeLogEntryToCreate.pro_Work_Location__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Time_Log_Input_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTimeLogEntryToCreate.pro_Day_Worked__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Time_Log_Input_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTimeLogEntryToCreate.pro_Time_Log_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Time Log</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Consultants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Project_Consultant_Id_Collection</name>
        <label>Create Project Consultant Id Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Log_Entries</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Project_Consultants[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Technical_Project__c</objectType>
    </variables>
    <variables>
        <name>varTimeLogEntryToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Time_Log_Entry__c</objectType>
    </variables>
</Flow>
