force-app/main/default/flows/Prodigy_Plaintiff_In_Litigation_On_Delete_Update_Litigation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Plaintiff_Names_To_text_Variable</name>
        <label>Assign Plaintiff Names To text Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPlaintiffsInLigitationText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_CurrentlaintiffFromLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Plaintiffs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>f_CurrentlaintiffFromLoop</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varPlaintiffsInLigitationText}), {!Loop_Plaintiffs.Name}, &#39;, &#39; + {!Loop_Plaintiffs.Name})</expression>
    </formulas>
    <interviewLabel>Prodigy - Plaintiff In Litigation On Delete Update Litigation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Plaintiff In Litigation On Delete Update Litigation</label>
    <loops>
        <name>Loop_Plaintiffs</name>
        <label>Loop Plaintiffs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Plaintiffs_In_Litigation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Plaintiff_Names_To_text_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Plaintiffs_In_Litigation_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Plaintiffs_In_Litigation</name>
        <label>Get Plaintiffs In Litigation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Plaintiffs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Litigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Litigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Plaintiff_In_Litigation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Plaintiffs_In_Litigation_Field</name>
        <label>Set Plaintiffs In Litigation Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>pro_Plaintiffs_In_Litigation__c</field>
            <value>
                <elementReference>varPlaintiffsInLigitationText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pro_Litigation__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Plaintiffs_In_Litigation</targetReference>
        </connector>
        <object>pro_Plaintiff_In_Litigation__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varPlaintiffsInLigitationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
