force-app/main/default/flows/Prodigy_Set_Projected_Dates_For_Documentation_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>What_Is_The_Event_Name</name>
        <label>What Is The Event Name?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engage_Law_Firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Engage Law Firm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calcilate_Working_Days_Engage_Law_Firm</targetReference>
            </connector>
            <label>Engage Law Firm</label>
        </rules>
        <rules>
            <name>Initial_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Initial Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Working_Days_Initial_Draft</targetReference>
            </connector>
            <label>Initial Draft</label>
        </rules>
        <rules>
            <name>Review_Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Review &amp; Comment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caluclate_Working_Days_Review_Comment</targetReference>
            </connector>
            <label>Review &amp; Comment</label>
        </rules>
        <rules>
            <name>Draft_To_Counterparty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Draft To Counterparty</stringValue>
                </rightValue>
            </conditions>
            <label>Draft To Counterparty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Set Projected Dates For Documentation Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Set Projected Dates For Documentation Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Draft_To_Counterparty_Projected_Date</name>
        <label>Set Draft To Counterparty Projected Date</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Asset_in_Deal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>Draft To Counterparty</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Projected_Date__c</field>
            <value>
                <elementReference>Caluclate_Working_Days_Review_Comment.varTargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Initial_Draft_Projected_Date</name>
        <label>Set Initial Draft Projected Date</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Asset_in_Deal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>Initial Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Projected_Date__c</field>
            <value>
                <elementReference>Calcilate_Working_Days_Engage_Law_Firm.varTargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Review_Comment_Projected_Date</name>
        <label>Set Review &amp; Comment Projected Date</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Asset_in_Deal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>Review &amp; Comment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Projected_Date__c</field>
            <value>
                <elementReference>Calculate_Working_Days_Initial_Draft.varTargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Is_The_Event_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Actual_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pro_Documentation_Event__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calcilate_Working_Days_Engage_Law_Firm</name>
        <label>Calcilate Working Days - Engage Law Firm</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Initial_Draft_Projected_Date</targetReference>
        </connector>
        <flowName>Prodigy_Auto_Working_Day_Date_Calculator</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>$Record.pro_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumWorkingDays</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Calculate_Working_Days_Initial_Draft</name>
        <label>Calculate Working Days - Initial Draft</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Review_Comment_Projected_Date</targetReference>
        </connector>
        <flowName>Prodigy_Auto_Working_Day_Date_Calculator</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>$Record.pro_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumWorkingDays</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Caluclate_Working_Days_Review_Comment</name>
        <label>Caluclate Working Days - Review &amp; Comment</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Draft_To_Counterparty_Projected_Date</targetReference>
        </connector>
        <flowName>Prodigy_Auto_Working_Day_Date_Calculator</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>$Record.pro_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumWorkingDays</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
