force-app/main/default/flows/Prodigy_Deal_Team_Time_Stamp_LOI_Approval_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Were_Same_Department_Approvers_Found</name>
        <label>Were Same Department Approvers Found?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Same_Department_LOI_Approvers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Same_Department_LOI_Approvers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Approver_ID_Collection</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Deal Team - Time Stamp LOI Approval Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Deal Team - Time Stamp LOI Approval Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Same_Department_LOI_Approvers</name>
        <label>Get Same Department LOI Approvers</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Same_Department_Approvers_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Member_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pro_Member_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Flag_Same_Department_Approvers</name>
        <label>Flag Same Department Approvers</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Approver_ID_Collection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Department_Approval_Complete__c</field>
            <value>
                <elementReference>$Record.pro_Department_Approval_Complete__c</elementReference>
            </value>
        </inputAssignments>
        <object>leaseworks__Deal_Team__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Date_LOI_Approved_To_Current_Date_Time</name>
        <label>Set Date LOI Approved To Current Date Time</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Same_Department_LOI_Approvers</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_Date_LOI_Approved__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Date_LOI_Approved_To_Current_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Department_Approval_Complete__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_LOI_Signed_Approved__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Deal_Team__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Approver_ID_Collection</name>
        <label>Create Approver ID Collection</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Flag_Same_Department_Approvers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Same_Department_LOI_Approvers[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
