force-app/main/default/flows/Prodigy_Manage_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Account_And_Deal_Teams</name>
        <label>Update Account And Deal Teams</label>
        <locationX>1634</locationX>
        <locationY>2906</locationY>
        <actionName>TeamMemberUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AccountAndDealTeamFaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>varAccountsToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChangeOwner</name>
            <value>
                <elementReference>Change_Account_Owners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dealTeams</name>
            <value>
                <elementReference>Get_Deal_Teams</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacee</name>
            <value>
                <elementReference>Get_Replacee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacer</name>
            <value>
                <elementReference>Get_Replacer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roleTypes</name>
            <value>
                <elementReference>varCheckboxValues</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Account_Country_and_Deal_Teams</name>
        <label>Update Account, Country and Deal Teams</label>
        <locationX>2162</locationX>
        <locationY>2906</locationY>
        <actionName>TeamMemberUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CountryAccountAndDealTeamFaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>varAccountsToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChangeOwner</name>
            <value>
                <elementReference>Change_Account_Owners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>varCountriesToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dealTeams</name>
            <value>
                <elementReference>Get_Deal_Teams</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacee</name>
            <value>
                <elementReference>Get_Replacee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacer</name>
            <value>
                <elementReference>Get_Replacer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roleTypes</name>
            <value>
                <elementReference>varCheckboxValues</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Account_Teams</name>
        <label>Update Account Teams</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <actionName>TeamMemberUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AccountFaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>varAccountsToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChangeOwner</name>
            <value>
                <elementReference>Change_Account_Owners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacee</name>
            <value>
                <elementReference>Get_Replacee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacer</name>
            <value>
                <elementReference>Get_Replacer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roleTypes</name>
            <value>
                <elementReference>varCheckboxValues</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Country_and_Account_Teams</name>
        <label>Update Country and Account Teams</label>
        <locationX>1106</locationX>
        <locationY>2906</locationY>
        <actionName>TeamMemberUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AccountAndCountryFaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>varAccountsToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChangeOwner</name>
            <value>
                <elementReference>Change_Account_Owners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>varCountriesToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacee</name>
            <value>
                <elementReference>Get_Replacee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacer</name>
            <value>
                <elementReference>Get_Replacer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roleTypes</name>
            <value>
                <elementReference>varCheckboxValues</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Country_Teams</name>
        <label>Update Country Teams</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <actionName>TeamMemberUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>countries</name>
            <value>
                <elementReference>varCountriesToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacee</name>
            <value>
                <elementReference>Get_Replacee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacer</name>
            <value>
                <elementReference>Get_Replacer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>roleTypes</name>
            <value>
                <elementReference>varCheckboxValues</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Account_Ids_To_Collection</name>
        <label>Assign Account Ids To Collection</label>
        <locationX>1260</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varAccountsToUpdateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Deal_Ids_To_Collection</name>
        <label>Assign Active Deal Ids To Collection</label>
        <locationX>1128</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>varActiveDealIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Active_Deals.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Active_Deals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Accounts_To_Collection</name>
        <label>Assign All Accounts To Collection</label>
        <locationX>1040</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varAccountsToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Countries_To_Collection</name>
        <label>Assign All Countries To Collection</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCountriesToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Countries_All_Branch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Accounts_To_Collection</name>
        <label>Assign Selected Accounts To Collection</label>
        <locationX>1304</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varAccountsToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_AccountTeamsWithUser.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Countries_To_Collection</name>
        <label>Assign Selected Countries To Collection</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCountriesToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_CountryTeams.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Checkbox_Choices</name>
        <label>Assign User Checkbox Choices</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varCheckboxValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Member_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Replacee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Account_Owner</name>
        <choiceText>Account Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounting</name>
        <choiceText>Accounting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountTeam</name>
        <choiceText>Account Team Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliance</name>
        <choiceText>Compliance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contracts</name>
        <choiceText>Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contracts</stringValue>
        </value>
    </choices>
    <choices>
        <name>CountryAndAccount</name>
        <choiceText>Country and Account Teams</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Country and Account Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>CountryTeam</name>
        <choiceText>Country Team Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Country Team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit</name>
        <choiceText>Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Debt</name>
        <choiceText>Debt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Investment_Strategy</name>
        <choiceText>Investment Strategy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investment Strategy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>MR</name>
        <choiceText>MR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MR </stringValue>
        </value>
    </choices>
    <choices>
        <name>MR_Claims</name>
        <choiceText>MR Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MR Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portfolio_Management</name>
        <choiceText>Portfolio Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portfolio Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Powerplant</name>
        <choiceText>Powerplant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Powerplant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing</name>
        <choiceText>Pricing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receivables</name>
        <choiceText>Receivables</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receivables</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax</name>
        <choiceText>Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technical</name>
        <choiceText>Technical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trading</name>
        <choiceText>Trading</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trading</stringValue>
        </value>
    </choices>
    <decisions>
        <name>All_Accounts_or_Selected_Accounts</name>
        <label>All Accounts or Selected Accounts?</label>
        <locationX>1172</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>DisplayAccountsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Accounts</defaultConnectorLabel>
        <rules>
            <name>All_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_For_All_Available_Accounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Accounts_To_Collection</targetReference>
            </connector>
            <label>All Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Accounts</name>
        <label>Manage Accounts?</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>What_Objects_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&#39;t Manage</defaultConnectorLabel>
        <rules>
            <name>Manage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>Manage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manage_Selected_Countries_All_Countries_or_None</name>
        <label>Manage Selected Countries, All Countries or None?</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Manage_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Selected_Countries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManageCountryTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Change_For_All_Countries</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Countries</targetReference>
            </connector>
            <label>Selected Countries</label>
        </rules>
        <rules>
            <name>All_Countries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_For_All_Countries</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Countries_All_Branch</targetReference>
            </connector>
            <label>All Countries</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Active_Deals_or_Not</name>
        <label>Update Active Deals or Not?</label>
        <locationX>1172</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>What_Objects_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&#39;t Update Active Deals</defaultConnectorLabel>
        <rules>
            <name>Update_Active_Deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Active_Deal_Teams</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Deals</targetReference>
            </connector>
            <label>Update Active Deals</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Objects_To_Update</name>
        <label>What Objects To Update?</label>
        <locationX>1370</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Countries_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManageCountryTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Country_Teams</targetReference>
            </connector>
            <label>Countries Only</label>
        </rules>
        <rules>
            <name>Accounts_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManageCountryTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Active_Deal_Teams</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Teams</targetReference>
            </connector>
            <label>Accounts Only</label>
        </rules>
        <rules>
            <name>Countries_and_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManageCountryTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Active_Deal_Teams</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Country_and_Account_Teams</targetReference>
            </connector>
            <label>Countries and Accounts</label>
        </rules>
        <rules>
            <name>Accounts_and_Active_Deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManageCountryTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Active_Deal_Teams</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_And_Deal_Teams</targetReference>
            </connector>
            <label>Accounts and Active Deals</label>
        </rules>
        <rules>
            <name>Countries_Accounts_and_Active_Deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManageCountryTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Active_Deal_Teams</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Country_and_Deal_Teams</targetReference>
            </connector>
            <label>Countries, Accounts and Active Deals</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Manage Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Manage Team Members</label>
    <loops>
        <name>Loop_Selected_Accounts</name>
        <label>Loop Selected Accounts</label>
        <locationX>1172</locationX>
        <locationY>1706</locationY>
        <collectionReference>varAccountsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Ids_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Active_Deals_or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Active_Deals</name>
        <label>Loop Through Active Deals</label>
        <locationX>1040</locationX>
        <locationY>2222</locationY>
        <collectionReference>Get_Active_Deals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Active_Deal_Ids_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Deal_Teams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>1172</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Accounts_or_Selected_Accounts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Trading__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Technical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tax__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Receivables__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Powerplant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portfolio_Fund_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marketing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MR_Claims__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Legal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investment_Strategy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Debt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Credit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contracts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Compliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Accounting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Marketing__c</queriedFields>
        <queriedFields>Trading__c</queriedFields>
        <queriedFields>Contracts__c</queriedFields>
        <queriedFields>Tax__c</queriedFields>
        <queriedFields>Credit__c</queriedFields>
        <queriedFields>Accounting__c</queriedFields>
        <queriedFields>MR_Claims__c</queriedFields>
        <queriedFields>Pricing__c</queriedFields>
        <queriedFields>Debt__c</queriedFields>
        <queriedFields>Technical__c</queriedFields>
        <queriedFields>Powerplant__c</queriedFields>
        <queriedFields>Legal__c</queriedFields>
        <queriedFields>Portfolio_Fund_Management__c</queriedFields>
        <queriedFields>Compliance__c</queriedFields>
        <queriedFields>Receivables__c</queriedFields>
        <queriedFields>Investment_Strategy__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Deals</name>
        <label>Get Active Deals</label>
        <locationX>1040</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Active_Deals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Inactive_MA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Counter_Party__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varAccountsToUpdateIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Marketing_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get a list of any Country with a lookup to the selected user</description>
        <name>Get_Countries</name>
        <label>Get Countries</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayCountriesScreen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>pro_Compliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Receivables__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Accounting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Contracts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Tax__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Credit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Investment_Strategy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Portfolio_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Trading__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Marketing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_MR_Claims__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Debt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Technical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Powerplant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Legal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get a list of any Country with a lookup to the selected user</description>
        <name>Get_Countries_All_Branch</name>
        <label>Get Countries All Branch</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_All_Countries_To_Collection</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>pro_Compliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Receivables__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Accounting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Contracts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Tax__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Credit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Investment_Strategy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Portfolio_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Trading__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Marketing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_MR_Claims__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Debt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Technical__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Powerplant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Legal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deal_Teams</name>
        <label>Get Deal Teams</label>
        <locationX>1040</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Objects_To_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varActiveDealIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Deal_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Replacee</name>
        <label>Get Replacee</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Replacer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeFrom.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Replacer</name>
        <label>Get Replacer</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Selected_Countries_All_Countries_or_None</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeTo.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AccountAndCountryFaultScreen</name>
        <label>AccountAndCountryFaultScreen</label>
        <locationX>1370</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_AccountFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Looks like there was an issue with the execution Apex. No worries. Contact your System Administrator and pass along the error message. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountAndDealTeamFaultScreen</name>
        <label>AccountAndDealTeamFaultScreen</label>
        <locationX>1898</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountAndDealTeamFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Looks like there was an issue with the execution Apex. No worries. Contact your System Administrator and pass along the error message. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountFaultScreen</name>
        <label>AccountFaultScreen</label>
        <locationX>842</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Looks like there was an issue with the execution Apex. No worries. Contact your System Administrator and pass along the error message. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CountryAccountAndDealTeamFaultScreen</name>
        <label>CountryAccountAndDealTeamFaultScreen</label>
        <locationX>2426</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_AccountAndDealTeamFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Looks like there was an issue with the execution Apex. No worries. Contact your System Administrator and pass along the error message. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayAccountsScreen</name>
        <label>DisplayAccountsScreen</label>
        <locationX>1304</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Accounts_To_Collection</targetReference>
        </connector>
        <fields>
            <name>AccountTeamPrompt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(31, 95, 191);&quot;&gt;Choose Account Teams To Change&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_AccountTeamsWithUser</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Teams</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0a87&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayCountriesScreen</name>
        <label>DisplayCountriesScreen</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Countries_To_Collection</targetReference>
        </connector>
        <fields>
            <name>CountryTeamPrompt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 14px;&quot;&gt;Choose The Country Teams To Change&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_CountryTeams</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>leaseworks__Country__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country Teams</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Countries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a982&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Country Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>314</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Looks like there was an issue with the execution Apex. No worries. Contact your System Administrator and pass along the error message. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SearchParameterScreen</name>
        <label>SearchParameterScreen</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_User_Checkbox_Choices</targetReference>
        </connector>
        <fields>
            <name>SearchParameterScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SearchParameterScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PromptChangeFrom</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 14px;&quot;&gt;Reassign From&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChangeFrom</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Accounting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Change From</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchParameterScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PromptChangeTo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 14px;&quot;&gt;Reassign To&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChangeTo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Accounting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Change To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchParameterScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChooseTeamPrompt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 14px;&quot;&gt;Level(s) Of Change&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ManageCountryTeamsToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manage Country Teams</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Change_For_All_Countries</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Change For All Available Countries</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ManageCountryTeamsToggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ManageAccountTeamsToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manage Account Teams</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Change_For_All_Available_Accounts</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Change For All Available Accounts</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Change_Account_Owners</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Change Account Owners</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Update_Active_Deal_Teams</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Update Active Deal Teams</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ManageAccountTeamsToggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchParameterScreen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MemberRolePrompt</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 95, 191); font-size: 14px;&quot;&gt;Limit Changes To Specific Roles &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Member_Roles</name>
                    <choiceReferences>Accounting</choiceReferences>
                    <choiceReferences>Compliance</choiceReferences>
                    <choiceReferences>Contracts</choiceReferences>
                    <choiceReferences>Credit</choiceReferences>
                    <choiceReferences>Debt</choiceReferences>
                    <choiceReferences>Investment_Strategy</choiceReferences>
                    <choiceReferences>Legal</choiceReferences>
                    <choiceReferences>Marketing</choiceReferences>
                    <choiceReferences>MR_Claims</choiceReferences>
                    <choiceReferences>Portfolio_Management</choiceReferences>
                    <choiceReferences>Powerplant</choiceReferences>
                    <choiceReferences>Pricing</choiceReferences>
                    <choiceReferences>Receivables</choiceReferences>
                    <choiceReferences>Tax</choiceReferences>
                    <choiceReferences>Technical</choiceReferences>
                    <choiceReferences>Trading</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varCheckboxValues</elementReference>
                    </defaultValue>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1370</locationX>
        <locationY>3338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(40, 167, 69);&quot;&gt;&lt;u&gt;Records Updated Successfully&lt;/u&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://leaseworks-carlyle--pc.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UD000002ptFp?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;CheckMark.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SearchParameterScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Selected_Member_Roles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
    <variables>
        <name>varAccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountsToUpdateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActiveDealIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCheckboxValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Trading;Technical;Tax;Receivables;Pricing;Powerplant;Portfolio Management;Marketing;MR Claims;Legal;Investment Strategy;Debt;Credit;Contracts;Compliance;Accounting</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCountriesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Country__c</objectType>
    </variables>
</Flow>
