force-app/main/default/flows/Prodigy_AiD_Concatenate_Names_and_Statuses_In_Report_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Asset_Name_And_Status_To_Text</name>
        <label>Assign Asset Name And Status To Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssetNameAndStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_AssetNameStatusAndLineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_AiDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Text_Variable_To_Record_Field</name>
        <label>Assign Text Variable To Record Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Deal.leaseworks__Y_Hidden_MSN_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetNameAndStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AiDs_With_Status_As_Report_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Current_Values_From_MSN_Report_Field</name>
        <label>Clear Current Values From MSN Report Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Deal.leaseworks__Y_Hidden_MSN_Report__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_AiDs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>f_AssetNameStatusAndLineBreak</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_AiDs.leaseworks__Serial_Number__c} != Null, {!Loop_AiDs.leaseworks__Serial_Number__c} + &apos; - &apos; + TEXT({!Loop_AiDs.leaseworks__Status__c}) + &apos;, &apos; + BR(), Null)</expression>
    </formulas>
    <interviewLabel>Prodigy - AiD Concatenate Names and Statuses In Report Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - AiD Concatenate Names and Statuses In Report Field</label>
    <loops>
        <name>Loop_AiDs</name>
        <label>Loop AiDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Assets_In_Deal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_Name_And_Status_To_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Text_Variable_To_Record_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assets_In_Deal</name>
        <label>Get Assets In Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deal</name>
        <label>Get Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Current_Values_From_MSN_Report_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Marketing_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_AiDs_With_Status_As_Report_Field</name>
        <label>Set AiDs With Status As Report Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Deal</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assets_In_Deal</targetReference>
        </connector>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_AiDsWithStatus</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Test&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Test&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Test&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Test&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1000</triggerOrder>
    <variables>
        <name>varAidsWithStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAiDsWithStatusCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetNameAndStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDealToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
</Flow>
