force-app/main/default/flows/Prodigy_Approval_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Approval_Decision_User</name>
        <label>Assign Approval Decision &amp; Userd</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>approvalDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rd_ApproveOrReject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBankAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bank_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApproverRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Running_User</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approve_Choice</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>RejectChoice</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Did_The_Running_User_Submit_This_For_Approval</name>
        <label>Did The Running User Submit This For Approval?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Bank_Account_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Running_User_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bank_Account.pro_User_To_Submit_For_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmitterCannotApproveScreen</targetReference>
            </connector>
            <label>Running User Submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Approval Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Approval Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bank_Account</name>
        <label>Get Bank Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_The_Running_User_Submit_This_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Bank_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bank_Account_Branch</name>
        <label>Get Bank Account Branch</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bank_Account.pro_Bank_Branch_Pending__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Bank_Branch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bank_Account_Country</name>
        <label>Get Bank Account Country</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bank_Account_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bank_Account.pro_Country_Pending__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User</name>
        <label>Get Running User</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApprovalScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ApprovalScreen</name>
        <label>ApprovalScreen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Approval_Decision_User</targetReference>
        </connector>
        <fields>
            <name>ApprovalScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ApprovalScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Account_Name_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_Bank_Account_Name_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank Account Name (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Account_Number_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_Bank_Account_Number_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank Account Number (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Financial_Institution_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_Financial_Institution_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>Financial Institution (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Branch_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account_Branch.Name</elementReference>
                    </defaultValue>
                    <fieldText>Bank Branch (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Identification_Code_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_Bank_Identification_Code_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank Identification Code (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ApprovalScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account_Country.Name</elementReference>
                    </defaultValue>
                    <fieldText>Country (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Account_Currency_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_Account_Currency_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>Account Currency (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Routing_ABA_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_Routing_ABA_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>Routing/ABA (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IBAN_Code_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_IBAN_Code_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>IBAN Code (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SWIFT_Code_Pending</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Bank_Account.pro_SWIFT_Code_Pending__c</elementReference>
                    </defaultValue>
                    <fieldText>SWIFT Code (Pending)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Line1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thickness</name>
                <value>
                    <stringValue>2px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Approver_Comments</name>
            <fieldText>Approver Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rd_ApproveOrReject</name>
            <choiceReferences>Approve_Choice</choiceReferences>
            <choiceReferences>RejectChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approver Decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Confirm Decision</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SubmitterCannotApproveScreen</name>
        <label>SubmitterCannotApproveScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The user who submitted the Bank Account for approval is not allowed to give approval. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please, wait for another member of the Lease  Management team or a system administrator to approve this Bank Account. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bank_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApproverRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varBankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
