force-app/main/default/flows/Prodigy_Auto_Working_Day_Date_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Increase_Working_Day_Count</name>
        <label>Increase Working Day Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varWorkingDaysIncremented</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_All_Working_Days_Been_Incremented</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Target_Date</name>
        <label>Increment Target Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTargetDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Target_Date_A_Weekday</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_All_Working_Days_Been_Incremented</name>
        <label>Have All Working Days Been Incremented?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Increment_Target_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Yet</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Incremented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varWorkingDaysIncremented</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNumWorkingDays</elementReference>
                </rightValue>
            </conditions>
            <label>Yes - All Incremented</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Target_Date_A_Holiday</name>
        <label>Is Target Date A Holiday?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Increase_Working_Day_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Working Day</defaultConnectorLabel>
        <rules>
            <name>Yes_Holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collection_Of_Dates</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varTargetDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Increment_Target_Date</targetReference>
            </connector>
            <label>Yes - Holiday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Target_Date_A_Weekday</name>
        <label>Is Target Date  A Weekday?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Increment_Target_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Weekend</defaultConnectorLabel>
        <rules>
            <name>Yes_Weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_IsTargetDateWeekday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Target_Date_A_Holiday</targetReference>
            </connector>
            <label>Yes - Weekday</label>
        </rules>
    </decisions>
    <description>This flow accepts inputs of a date and a number of working days. It calculates a target date based on these inputs and taking holidays from Ireland, UK and USA into consideration.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_InitialTargetDate</name>
        <dataType>Date</dataType>
        <expression>{!inputDate} + {!varNumWorkingDays}</expression>
    </formulas>
    <formulas>
        <name>f_IsTargetDateWeekday</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
  OR(
    WEEKDAY({!varTargetDate}) = 1, 
    WEEKDAY({!varTargetDate}) = 7 
  )
)</expression>
    </formulas>
    <interviewLabel>Prodigy - Auto - Working Day Date Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Auto - Working Day Date Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Holiday_Event_Calendars</name>
        <label>Get Holiday Event Calendars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collection_Of_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Holiday_Schedule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Holiday_Schedule_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Holiday_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Holiday_Schedules</name>
        <label>Get Holiday Schedules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Holiday_Schedule_Id_Collection</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>leaseworks__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ireland</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Holiday_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Holiday_Schedules</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Collection_Of_Dates</name>
        <label>Create Collection Of Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Target_Date</targetReference>
        </connector>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Holiday_Event_Calendars[$EachItem].leaseworks__Event_Date__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Holiday_Schedule_Id_Collection</name>
        <label>Create Holiday Schedule Id Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Holiday_Event_Calendars</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Holiday_Schedules[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>inputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumWorkingDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTargetDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>inputDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varWorkingDaysIncremented</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
