force-app/main/default/flows/Prodigy_Screen_Document_Link_Across_Objects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Doc_Link_From_Account_To_Variable</name>
        <label>Assign Doc Link From Account To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Account.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Assembly_Event_To_Variable</name>
        <label>Assign Doc Link From Assembly Event To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Assembly_Event.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Assembly_To_Variable</name>
        <label>Assign Doc Link From Assembly To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Assembly.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Asset_Occurrence_To_Variable</name>
        <label>Assign Doc Link From Asset Occurrence To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Asset_Occurrence.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Asset_To_Variable</name>
        <label>Assign Doc Link From Asset To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Asset.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Certificates_To_Variable</name>
        <label>Assign Doc Link From Certificates To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Certificates.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Claim_To_Variable</name>
        <label>Assign Doc Link From Claim To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Claim.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Commitments_To_Variable</name>
        <label>Assign Doc Link From Commitments To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Commitments.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Contract_To_Variable</name>
        <label>Assign Doc Link From Contract To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Contract.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Deal_To_Variable</name>
        <label>Assign Doc Link From Deal To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Deal.pro_Long_Document_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Delivery_Details_To_Variable</name>
        <label>Assign Doc Link From Delivery Details To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Delivery_Details.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Delivery_Return_Conditions_To_Variable</name>
        <label>Assign Doc Link From Delivery / Return Conditions To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Delivery_Return_Conditions.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Insurance_Certificate_To_Variable</name>
        <label>Assign Doc Link From Insurance Certificate To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Insurance_Certificate.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Insurance_Stipulation_To_Variable</name>
        <label>Assign Doc Link From Insurance Stipulation To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Insurance_Stipulations.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Insurance_Variability_Schedule_To_Variable</name>
        <label>Assign Doc Link From Insurance Variability Schedule To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Insurance_Variability_Schedule.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Lease_Agreement_Section_To_Variable</name>
        <label>Assign Doc Link From Lease Agreement Section To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Lease_Agreement_Section.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Letter_Of_Credit_To_Variable</name>
        <label>Assign Doc Link From Letter Of Credit To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Letter_Of_Credit.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Non_Lease_Agreement_To_Variable</name>
        <label>Assign Doc Link From Non-Lease Agreement To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Non_Lease_Agreement.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Technical_Audit_To_Variable</name>
        <label>Assign Doc Link From Technical Audit To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Technical_Audit.pro_External_Document_Link_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Link_From_Utilization_To_Variable</name>
        <label>Assign Doc Link From Utilization To Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRetrievedDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Utilization.External_Document_Link_Utilization__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocumentLinkScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Send the flow down the appropriate path based on the object definition it got triggered from.</description>
        <name>Entity_Definition_of_Triggering_Object</name>
        <label>Entity Definition of Triggering Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Lease__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Contract</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
        <rules>
            <name>Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Claims__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Claim</targetReference>
            </connector>
            <label>Claim</label>
        </rules>
        <rules>
            <name>Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Aircraft__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Asset</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Insurance_Variability_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Variability_Schedule__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Insurance_Variability_Schedule</targetReference>
            </connector>
            <label>Insurance Variability Schedule</label>
        </rules>
        <rules>
            <name>Technical_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Technical_Audit__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Technical_Audit</targetReference>
            </connector>
            <label>Technical Audit</label>
        </rules>
        <rules>
            <name>Non_Lease_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Non_Lease_Agreements__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Non_Lease_Agreement</targetReference>
            </connector>
            <label>Non-Lease Agreement</label>
        </rules>
        <rules>
            <name>Letter_Of_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Letter_Of_Credit__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Letter_Of_Credit</targetReference>
            </connector>
            <label>Letter Of Credit</label>
        </rules>
        <rules>
            <name>Lease_Agreement_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Lease_Sections__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Lease_Agreement_Section</targetReference>
            </connector>
            <label>Lease Agreement Section</label>
        </rules>
        <rules>
            <name>Insurance_Stipulations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Insurance_Stipulation__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurance_Stipulations</targetReference>
            </connector>
            <label>Insurance Stipulations</label>
        </rules>
        <rules>
            <name>Insurance_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Insurance_Cert__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Insurance_Certificate</targetReference>
            </connector>
            <label>Insurance Certificate</label>
        </rules>
        <rules>
            <name>Assembly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Constituent_Assembly__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Assembly</targetReference>
            </connector>
            <label>Assembly</label>
        </rules>
        <rules>
            <name>Delivery_Return_Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Component_Return_Condition__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Delivery_Return_Conditions</targetReference>
            </connector>
            <label>Delivery / Return Conditions</label>
        </rules>
        <rules>
            <name>Commitments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Commitment__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Commitments</targetReference>
            </connector>
            <label>Commitments</label>
        </rules>
        <rules>
            <name>Certificates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Certificates__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Certificates</targetReference>
            </connector>
            <label>Certificates</label>
        </rules>
        <rules>
            <name>Delivery_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Base_Readings__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Delivery_Details</targetReference>
            </connector>
            <label>Delivery Details</label>
        </rules>
        <rules>
            <name>Asset_Occurrence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Asset_Events__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Asset_Occurrence</targetReference>
            </connector>
            <label>Asset Occurrence</label>
        </rules>
        <rules>
            <name>Assembly_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Assembly_Eligible_Event__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Assembly_Event</targetReference>
            </connector>
            <label>Assembly Event</label>
        </rules>
        <rules>
            <name>Utilization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Utilization_Report__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Utilization</targetReference>
            </connector>
            <label>Utilization</label>
        </rules>
        <rules>
            <name>Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>leaseworks__Marketing_Activity__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Triggering_Deal</targetReference>
            </connector>
            <label>Deal</label>
        </rules>
    </decisions>
    <description>Flow can be embedded on the record page of any object where the External Document Link field appears. Surfaces the link through a screen flow allowing for long links that don&#39;t break.</description>
    <environments>Default</environments>
    <formulas>
        <description>Shows up to the first 150 characters of the document link variable</description>
        <name>f_DocumentLinkTruncated</name>
        <dataType>String</dataType>
        <expression>LEFT({!varRetrievedDocumentLink}, 150) &amp; &#39;...&#39;</expression>
    </formulas>
    <formulas>
        <description>Isolates the first 3 characters of recordId to be used for getting the Entity Definition of record from which the screen flow was launched.</description>
        <name>f_KeyPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Document Link Across Objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Document Link Across Objects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Entity</name>
        <label>Get Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entity_Definition_of_Triggering_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_KeyPrefix</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_Stipulations</name>
        <label>Get Insurance Stipulations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Insurance_Stipulation_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Insurance_Stipulation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Account</name>
        <label>Get Triggering Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Account_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Assembly</name>
        <label>Get Triggering Assembly</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Assembly_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Constituent_Assembly__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Assembly_Event</name>
        <label>Get Triggering Assembly Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Assembly_Event_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Assembly_Eligible_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Asset</name>
        <label>Get Triggering Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Asset_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Aircraft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Asset_Occurrence</name>
        <label>Get Triggering Asset Occurrence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Asset_Occurrence_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Asset_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Certificates</name>
        <label>Get Triggering Certificates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Certificates_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Certificates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Claim</name>
        <label>Get Triggering Claim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Claim_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Claims__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Commitments</name>
        <label>Get Triggering Commitments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Commitments_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Commitment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Contract</name>
        <label>Get Triggering Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Contract_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Lease__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Deal</name>
        <label>Get Triggering Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Deal_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Marketing_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Delivery_Details</name>
        <label>Get Triggering Delivery Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Delivery_Details_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Base_Readings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Delivery_Return_Conditions</name>
        <label>Get Triggering Delivery / Return Conditions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Delivery_Return_Conditions_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Component_Return_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Insurance_Certificate</name>
        <label>Get Triggering Insurance Certificate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Insurance_Certificate_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Insurance_Cert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Insurance_Variability_Schedule</name>
        <label>Get Triggering Insurance Variability Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Insurance_Variability_Schedule_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Variability_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Lease_Agreement_Section</name>
        <label>Get Triggering Lease Agreement Section</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Lease_Agreement_Section_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Lease_Sections__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Letter_Of_Credit</name>
        <label>Get Triggering Letter Of Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Letter_Of_Credit_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Letter_Of_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Non_Lease_Agreement</name>
        <label>Get Triggering Non-Lease Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Non_Lease_Agreement_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Non_Lease_Agreements__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Technical_Audit</name>
        <label>Get Triggering Technical Audit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Technical_Audit_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Technical_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Utilization</name>
        <label>Get Triggering Utilization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doc_Link_From_Utilization_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Utilization_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DocumentLinkScreen</name>
        <label>DocumentLinkScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayLink</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Document Link&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!tt_DocumentLink}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRetrievedDocumentLink</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Document_Link</name>
            <defaultValue>
                <stringValue>{!varPlaceholderDocumentLink}</stringValue>
            </defaultValue>
            <fieldText>New Document Link</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRetrievedDocumentLink</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UpdateDocumentLink</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Update Document Link&quot;,&quot;value&quot;:&quot;Update Document Link&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRetrievedDocumentLink</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bb_SaveDocumentLink</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save Document Link&quot;,&quot;value&quot;:&quot;Save Document Link&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRetrievedDocumentLink</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Entity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Text template that surfaces the document link variable with an inbuilt link to the document link&#39;s url.</description>
        <name>tt_DocumentLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!varRetrievedDocumentLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!f_DocumentLinkTruncated}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>The Id of the record from which this flow got launched.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>When a user selects to update a document link, this variable is used to store the old (deleted) document link and populate it as a default in the input for creating a new document link</description>
        <name>varPlaceholderDocumentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the document link from whichever Get Query is triggered in the flow&#39;s path.</description>
        <name>varRetrievedDocumentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
