force-app/main/default/flows/Prodigy_Display_Document_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_New_Document_Link</name>
        <label>Assign New Document Link</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.pro_Long_Document_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Document_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_With_New_Documentation_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Existing_Document_Link</name>
        <label>Remove Existing Document Link</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varDocLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.pro_Long_Document_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Long_Document_Link__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_With_Document_Link_Removed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_or_Remove_Document_Link</name>
        <label>Update or Remove Document Link?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Remove_Existing_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Link</defaultConnectorLabel>
        <rules>
            <name>Save_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveDocumentLink.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save Document Link</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Document_Link</targetReference>
            </connector>
            <label>Save Link</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_DocumentLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.pro_Long_Document_Link__c}, 150) &amp; &#39;...&#39;</expression>
    </formulas>
    <interviewLabel>Prodigy - Display Document Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Display Document Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_With_Document_Link_Removed</name>
        <label>Update With Document Link Removed</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LinkScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Doc_Link_Error_Log_On_Removal</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_With_New_Documentation_Link</name>
        <label>Update With New Documentation Link</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LinkScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Create_Doc_Link_Error_Log_On_Removal</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Copy_1_of_Error_Screen_Remove_Link_Branch</name>
        <label>Copy 1 of Error Screen Remove Link Branch</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorTextRemoveLinkBranch</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An unexpected error occurred while processing your request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please try again or contact your system administrator if the issue persists.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Remove_Link_Branch</name>
        <label>Error Screen Remove Link Branch</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextRemoveLinkBranch</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An unexpected error occurred while processing your request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please try again or contact your system administrator if the issue persists.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LinkScreen</name>
        <label>LinkScreen</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_or_Remove_Document_Link</targetReference>
        </connector>
        <fields>
            <name>DisplayLink</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Document Link &lt;/strong&gt;&lt;strong style=&quot;color: rgb(96, 96, 96);&quot;&gt;(Deal Sharepoint Folder Link)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!tt_DocumentLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.pro_Long_Document_Link__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Document_Link</name>
            <defaultValue>
                <stringValue>{!varDocLink}</stringValue>
            </defaultValue>
            <fieldText>New Document Link</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.pro_Long_Document_Link__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bb_RemoveDocumentLink</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Update Document Link&quot;,&quot;value&quot;:&quot;Update Document Link&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.pro_Long_Document_Link__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bb_SaveDocumentLink</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save Document Link&quot;,&quot;value&quot;:&quot;Save Document Link&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.pro_Long_Document_Link__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LinkScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Create_Doc_Link_Error_Log_On_Removal</name>
        <label>Copy 1 of Create Doc Link Error Log On Removal</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_Error_Screen_Remove_Link_Branch</targetReference>
        </connector>
        <flowName>Prodigy_Autolaunched_Create_Doc_Link_Error_Log</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Prodigy - Display Document Link</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Doc_Link_Error_Log_On_Removal</name>
        <label>Create Doc Link Error Log On Removal</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Error_Screen_Remove_Link_Branch</targetReference>
        </connector>
        <flowName>Prodigy_Autolaunched_Create_Doc_Link_Error_Log</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Prodigy - Display Document Link</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_DocumentLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!recordId.pro_Long_Document_Link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!f_DocumentLink}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>varDocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
