force-app/main/default/flows/Prodigy_Screen_Print_Options_On_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Screen_Values_To_Print_Options_Config_Record</name>
        <label>Assign Screen Values To Print Options Config Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Print_Options_Config_Record.pro_Include_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Include_PO_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Print_Options_Config_Record.pro_Include_Aircraft_Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Include_Aircraft_Registration_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Print_Options_Config_Record.pro_Include_Bank_Account_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Include_Bank_Account_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Print_Options_Config_Record.pro_MR_Invoice_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MR_Invoice_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Print_Options_Config_Record.pro_Optional_Footer_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Optional_Footer_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Print_Options_Config_Record.pro_Include_USD_Euro_Conversion_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Include_USD_Euro_Conversion_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Print_Options_Config_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear variables of buttons for rerunning the flow</description>
        <name>Clear_Variables</name>
        <label>Clear Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bb_SaveChanges.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Print_Options_Input_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Permission_Set_Assigned_To_Running_User</name>
        <label>Is Permission Set Assigned To Running User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PermissionErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Permission_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Assignment_For_Running_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralErrorScreen</targetReference>
            </connector>
            <label>Yes - Permission Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Print_Options_On_Active_Contracts</name>
        <label>Set Print Options On Active Contracts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Related_Print_Options_Config_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_Print_Options_On_Active_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bb_SaveChanges.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Set Print Options On Active Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Parties</targetReference>
            </connector>
            <label>Yes - Set Print Options On Active Contracts</label>
        </rules>
    </decisions>
    <description>Screen flow acts as a UI which is surfaced on the Account where users can set the default print options that should be set for each Contract under the Account.</description>
    <dynamicChoiceSets>
        <description>The values from the Mr Invoice Names picklist on the Print Options Config object</description>
        <name>pcs_MrInvoiceNames</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pro_MR_Invoice_Name__c</picklistField>
        <picklistObject>pro_Print_Options_Config__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>If changes were made to the Print Options Config record values in the input screen, this returns true. Otherwise, returns false. Used to conditionally display the Save Changes button.</description>
        <name>f_ChangesMadeInInputScreen</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!Include_PO_Number} != {!Get_Related_Print_Options_Config_Record.pro_Include_PO_Number__c} || {!Include_Aircraft_Registration_Number} != {!Get_Related_Print_Options_Config_Record.pro_Include_Aircraft_Registration_Number__c} || {!Include_Bank_Account_Address} != {!Get_Related_Print_Options_Config_Record.pro_Include_Bank_Account_Address__c}, True, False)</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Print Options On Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Print Options On Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get all active contracts whose Ids are in the list created previously</description>
        <name>Get_Active_Contracts</name>
        <label>Get Active Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Active_Contract_Id_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Contract_Id_List</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Lease__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Party records related to this account and with Role set to &apos;Invoiced Party&apos;</description>
        <name>Get_Contract_Parties</name>
        <label>Get Contract Parties</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract_Id_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoiced Party</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Parties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Assignment_For_Running_User</name>
        <label>Get Permission Assignment For Running User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Permission_Set_Assigned_To_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Print_Options_Full_Access_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Print_Options_Full_Access_Permission_Set</name>
        <label>Get Print Options Full Access Permission Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Assignment_For_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pro_Print_Option_Config_Full_Access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Print_Options_Config_Record</name>
        <label>Get Related Print Options Config Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Variables</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Print_Options_Full_Access_Permission_Set</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTriggeringAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Print_Options_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Print Options Config record associated to each aactive contract under the account from which this flow was triggered.</description>
        <name>Update_Contract_s_Print_Options_Config_Records</name>
        <label>Update Contract&apos;s Print Options Config Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Related_Print_Options_Config_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Contract__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Active_Contract_Id_List</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Attention_To__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Attention_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Aircraft_Registration_Number__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Aircraft_Registration_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Attention_To__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Attention_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Bank_Account_Address__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Bank_Account_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Customer_VAT_Number__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Customer_VAT_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Email_Address__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Optional_Footer_Note__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Optional_Footer_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_PO_Number__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_USD_Euro_Conversion_Rate__c</field>
            <value>
                <elementReference>Include_USD_Euro_Conversion_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_MR_Invoice_Name__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_MR_Invoice_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Optional_Footer_Note__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_Optional_Footer_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_PO_Number__c</field>
            <value>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Print_Options_Config__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Save any changes made to the record within the previous screen.</description>
        <name>Update_Print_Options_Config_Record</name>
        <label>Update Print Options Config Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggering_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Print_Options_Full_Access_Permission_Set</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Print_Options_Config_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Account</name>
        <label>Update Triggering Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Print_Options_On_Active_Contracts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Permission_Set_Assigned_To_Running_User</targetReference>
        </faultConnector>
        <inputReference>varTriggeringAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>GeneralErrorScreen</name>
        <label>GeneralErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;There was an error processing your request:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PermissionErrorScreen</name>
        <label>PermissionErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PermissionErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The running user does not have permission to make changes to print options. To grant this permission, assign the user to the permission set: Print Option Config Full Access&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Print_Options_Input_Screen</name>
        <label>Print Options Input Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Values_To_Print_Options_Config_Record</targetReference>
        </connector>
        <fields>
            <name>ScreenTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Invoice Print Option Defaults&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Print_Options_Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Print_Options_Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Include_Aircraft_Registration_Number</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Aircraft_Registration_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Include Aircraft Registration Number?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Print_Options_Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Include_Bank_Account_Address</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_Bank_Account_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Include Bank Account Address?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Print_Options_Input_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Print_Options_Input_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Include_USD_Euro_Conversion_Rate</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_USD_Euro_Conversion_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Include USD-Euro Conversion Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Print_Options_Input_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Print_Options_Input_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Print_Options_Input_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Include_PO_Number</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Print_Options_Config_Record.pro_Include_PO_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Include PO Number?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Print_Options_Input_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Related_Print_Options_Config_Record.pro_PO_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Print_Options_Input_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Print_Options_Input_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Related_Print_Options_Config_Record.pro_Include_Optional_Footer_Note__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Print_Options_Input_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Optional_Footer_Note</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Print_Options_Config_Record.pro_Optional_Footer_Note__c</elementReference>
                    </defaultValue>
                    <fieldText>Optional Footer Note</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Print_Options_Input_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Print_Options_Input_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Related_Print_Options_Config_Record.pro_Include_Customer_VAT_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Print_Options_Input_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTriggeringAccount.Other_VAT_GST_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Print_Options_Input_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Print_Options_Input_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Related_Print_Options_Config_Record.pro_Include_Attention_To__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Print_Options_Input_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Related_Print_Options_Config_Record.pro_Attention_To__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Print_Options_Input_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Print_Options_Input_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Related_Print_Options_Config_Record.pro_Include_Email_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Print_Options_Input_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTriggeringAccount.leaseworks__Main_Email_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MR_Invoice_Name</name>
            <choiceReferences>pcs_MrInvoiceNames</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Related_Print_Options_Config_Record.pro_MR_Invoice_Name__c</elementReference>
            </defaultValue>
            <fieldText>MR Invoice Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>bb_SaveChanges</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save Print Options&quot;,&quot;value&quot;:&quot;Save Print Options&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Set Print Options On Active Contracts&quot;,&quot;value&quot;:&quot;Set Print Options On Active Contracts&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save Changes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Print_Options_Config_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Active_Contract_Id_List</name>
        <label>Create Active Contract Id List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract_s_Print_Options_Config_Records</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Active_Contracts[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>Create a list of contract Ids which can be used to filter for Print Options Config records that should be updated</description>
        <name>Create_Contract_Id_List</name>
        <label>Create Contract Id List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Contracts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Contract_Parties[$EachItem].leaseworks__Contract__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>The account record on which this screen flow is being run</description>
        <name>varTriggeringAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Holds a reference to the Contract record from which this flow was launched.</description>
        <name>varTriggeringContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
</Flow>
