force-app/main/default/flows/Prodigy_AutolaunchedFlow_Contract_Extended_Create_New_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Values_To_Close_Existing_Asset_Target_Audit</name>
        <label>Assign Values To Close Existing Asset Target Audit</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset_Target_Audit_To_Be_Updated.pro_Contract_Extended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Target_Audit_To_Be_Updated.pro_Target_Reached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Closed_Target_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_out_the_exisitng_Audit_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Associate_Asset_In_Deal_To_Associated_Record</name>
        <label>Associate Asset In Deal To Associated Record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset_Target_Audit_To_Be_Updated.pro_Asset_in_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Asset_In_Deal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_To_Close_Existing_Asset_Target_Audit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_In_Deal_Found_To_Associate</name>
        <label>Asset In Deal Found To Associate?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_To_Close_Existing_Asset_Target_Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AiD_To_Associate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Asset_In_Deal.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Asset_In_Deal_To_Associated_Record</targetReference>
            </connector>
            <label>Yes - AiD To Associate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Target_Record_Found</name>
        <label>Target Record Found?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>Target Not Found</defaultConnectorLabel>
        <rules>
            <name>Target_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Forecast_Target_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset_Target_Audit</targetReference>
            </connector>
            <label>Target Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_ContractExtendedPlusAYear</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!varContract.leaseworks__Extended_On__c}, 12 )</expression>
    </formulas>
    <interviewLabel>Prodigy - AutolaunchedFlow - Contract Exteneded Create New Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - AutolaunchedFlow - Contract Extended Create New Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset_Target_Audit</name>
        <label>Create Asset Target Audit</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Target_Information_On_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>pro_Asset__c</field>
            <value>
                <elementReference>varContract.leaseworks__Aircraft__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Contract__c</field>
            <value>
                <elementReference>varContract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Target_Forecast__c</field>
            <value>
                <elementReference>Get_Forecast_Target_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Asset_Target_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Deals_Related_To_Contract_s_Lessee</name>
        <label>Get All Deals Related To Contract&#39;s Lessee</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Deal_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Counter_Party__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContract.leaseworks__Lessee_New__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Marketing_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Target_Audit_To_Be_Updated</name>
        <label>Get Asset Target Audit To Be Updated</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Closed_Target_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Contract_Extended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Asset_Target_Audit__c</object>
        <sortField>pro_Target_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Asset_In_Deal</name>
        <label>Get Associated Asset In Deal</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_In_Deal_Found_To_Associate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Aircraft__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContract.leaseworks__Aircraft__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Deal_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the target record that corresponds to the date the target got closed out (The Contract&#39;s Extended On date)</description>
        <name>Get_Closed_Target_Record</name>
        <label>Get Closed Target Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Deals_Related_To_Contract_s_Lessee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_ContractExtendedPlusAYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_ContractExtendedPlusAYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forecast_Target_Record</name>
        <label>Get Forecast Target Record</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Target_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>varContract.leaseworks__Lease_End_Date_New__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varContract.leaseworks__Lease_End_Date_New__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_out_the_exisitng_Audit_record</name>
        <label>Close out the exisitng Audit record</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_Forecast_Target_Record</targetReference>
        </connector>
        <inputReference>Get_Asset_Target_Audit_To_Be_Updated</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Target_Audit_To_Be_Updated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Target_Information_On_Asset</name>
        <label>Update Target Information On Asset</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <flowName>pro_Autolaunched_Update_Target_Information_On_Asset</flowName>
        <inputAssignments>
            <name>varTriggeringTargetId</name>
            <value>
                <elementReference>Create_Asset_Target_Audit</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Lease__c</objectType>
    </variables>
</Flow>
