force-app/main/default/flows/Prodigy_Create_Non_Deal_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Approver_Values_To_Variable</name>
        <label>Assign Approver Values To Variable</label>
        <locationX>704</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamToCreate.leaseworks__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamToCreate.pro_Member_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Deal Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Deal Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDealTeamsToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDealTeamToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Deal_Team_To_Deal</name>
        <label>Link Deal Team To Deal</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varDealTeamToCreate.leaseworks__Marketing_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Approvers_Custom_Metadata_Type</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Throw_Username_Error</name>
        <label>Throw Username Error</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>A designated approver record was not found. 
{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Does_Inner_Loop_User_Match_Outer_Loop_User</name>
        <label>Does Inner Loop User Match Outer Loop User?</label>
        <locationX>836</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Match</defaultConnectorLabel>
        <rules>
            <name>Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Users.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Approvers.pro_Assigned_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_Values_To_Variable</targetReference>
            </connector>
            <label>Matches</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Create Non Deal Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Create Non Deal Approvers</label>
    <loops>
        <name>Loop_Approvers</name>
        <label>Loop Approvers</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Custom_Approvers_Custom_Metadata_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Non_Deal_Approvers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>616</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Approvers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Inner_Loop_User_Match_Outer_Loop_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Approvers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Non_Deal_Approvers</name>
        <label>Create Non Deal Approvers</label>
        <locationX>176</locationX>
        <locationY>1439</locationY>
        <inputReference>varDealTeamsToCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Approvers</name>
        <label>Get Approvers</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Approvers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Throw_Username_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Approver_Username_List</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Approvers_Custom_Metadata_Type</name>
        <label>Get Custom Approvers Custom Metadata Type</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Approver_Username_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Approval_Type_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Approval_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Non_Deal_Approver_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Link_Deal_Team_To_Deal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Marketing_Activity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Approver_Username_List</name>
        <label>Create Approver Username List</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Approvers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Custom_Approvers_Custom_Metadata_Type[$EachItem].pro_Assigned_To__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>varDealTeamsToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
    <variables>
        <name>varDealTeamToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Deal_Team__c</objectType>
    </variables>
</Flow>
