force-app/main/default/flows/Prodigy_Screen_Documentation_Events_Datatable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Draft_To_Counterparty</name>
        <label>Assign Draft To Counterparty</label>
        <locationX>138</locationX>
        <locationY>2696</locationY>
        <assignmentItems>
            <assignToReference>varDraftToCounterparty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Updated_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Engage_Law_Firm</name>
        <label>Assign Engage Law Firm</label>
        <locationX>138</locationX>
        <locationY>1796</locationY>
        <assignmentItems>
            <assignToReference>varEngageLawFirm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Draft</name>
        <label>Assign Initial Draft</label>
        <locationX>138</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>varInitialDraft</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Comment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Comment</name>
        <label>Assign Review &amp; Comment</label>
        <locationX>138</locationX>
        <locationY>2396</locationY>
        <assignmentItems>
            <assignToReference>varReviewComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updated_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draft_To_Counterparty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Events</name>
        <label>Assign Updated Events</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedDocumentationEvents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_DisplayRelatedDocumentationEvents.outputRemainingRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Deal_Documentation_Synced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Events_Missed_Deadline</name>
        <label>Assign Updated Events - Missed Deadline</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedDocumentationEvents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_dt_DisplayRelatedDocumentationEvents.outputRemainingRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Deal_Documentation_Synced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varDocEventsFound</name>
        <label>Assign varDocEventsFound</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varDocEventsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>710</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>dt_DisplayRelatedDocumentationEvents.numberOfRowsEdited</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMissedDeadlineReasonRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DatatableScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LOI_Date_on_Related_AiDs</name>
        <label>Set LOI Date on Related AiDs</label>
        <locationX>314</locationX>
        <locationY>3404</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_AiDs.LOI_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.LOI_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAiDsToSetLoiDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_AiDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_AiDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Missed_Deadline_Reason_Required</name>
        <label>Set Missed Deadline Reason Required</label>
        <locationX>1238</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varMissedDeadlineReasonRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DatatableScreenProvideReason</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Documentation_Events_Found</name>
        <label>Documentation Events Found?</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Reset_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Doc_Events_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Documentation_Events</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Documentation_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varDocEventsFound</targetReference>
            </connector>
            <label>Yes - Doc Events Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Draft_To_Counterparty</name>
        <label>Draft To Counterparty</label>
        <locationX>270</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>Loop_Updated_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Draft_To_Counterparty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updated_Events.pro_Documentation_Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 Draft To Counterparty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Draft_To_Counterparty</targetReference>
            </connector>
            <label>Yes - Draft To Counterparty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Engage_Law_Firm</name>
        <label>Engage Law Firm?</label>
        <locationX>270</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>Initial_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Engage_Law_Firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updated_Events.pro_Documentation_Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 Engage Law Firm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engage_Law_Firm</targetReference>
            </connector>
            <label>Yes - Engage Law Firm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Draft</name>
        <label>Initial Draft?</label>
        <locationX>270</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>Review_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Initial_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updated_Events.pro_Documentation_Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Initial Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Draft</targetReference>
            </connector>
            <label>Yes - Initial Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deal_Documentation_Synced</name>
        <label>Is Deal Documentation Synced?</label>
        <locationX>710</locationX>
        <locationY>1472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Documentation_Synced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SyncEventsToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Updated_Events</targetReference>
            </connector>
            <label>Yes - Documentation Synced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LOI_Date_Populated</name>
        <label>Is LOI Date Populated?</label>
        <locationX>226</locationX>
        <locationY>3296</locationY>
        <defaultConnector>
            <targetReference>Set_LOI_Date_on_Related_AiDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Blank</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Related_AiDs.LOI_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_AiDs</targetReference>
            </connector>
            <label>Yes - Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Missed_Deadline_Reason_Requried</name>
        <label>Is Missed Deadline Reason Requried?</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Update_Documentation_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMissedDeadlineReasonRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Doc_Events_With_Missed_Deadline_Reason</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_Comment</name>
        <label>Review &amp; Comment?</label>
        <locationX>270</locationX>
        <locationY>2288</locationY>
        <defaultConnector>
            <targetReference>Draft_To_Counterparty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Review_Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updated_Events.pro_Documentation_Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 Review &amp; Comment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Review_Comment</targetReference>
            </connector>
            <label>Yes - Review &amp; Comment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_CurrentSyncDocumentationValueOrToggleValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ExcludeDealFromDocumentationTracking.value} = true, {!recordId.leaseworks__Marketing_Activity__r.pro_Sync_Documentation__c}, {!recordId.leaseworks__Marketing_Activity__r.pro_Sync_Documentation__c})</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Documentation Events Datatable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Documentation Events Datatable</label>
    <loops>
        <name>Loop_Related_AiDs</name>
        <label>Loop Related AiDs</label>
        <locationX>50</locationX>
        <locationY>3188</locationY>
        <collectionReference>Get_Related_AiDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_LOI_Date_Populated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_LOI_Date_On_Related_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Updated_Events</name>
        <label>Loop Updated Events</label>
        <locationX>50</locationX>
        <locationY>1580</locationY>
        <collectionReference>varUpdatedDocumentationEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Engage_Law_Firm</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Updated_Event_Id_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_AiDs</name>
        <label>Get Related AiDs</label>
        <locationX>50</locationX>
        <locationY>3080</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_AiDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Marketing_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.leaseworks__Marketing_Activity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Documentation_Events</name>
        <label>Get Related Documentation Events</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Documentation_Events_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Documentation_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Documentation_Events</name>
        <label>Get Synced Documentation Events</label>
        <locationX>50</locationX>
        <locationY>3896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Created_Documentation_Event_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_AiD_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Create_Updated_Event_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Documentation_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_LOI_Date_On_Related_Assets</name>
        <label>Set LOI Date On Related Assets</label>
        <locationX>50</locationX>
        <locationY>3680</locationY>
        <connector>
            <targetReference>Create_AiD_Id_Collection</targetReference>
        </connector>
        <inputReference>varAiDsToSetLoiDate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Doc_Events_With_Missed_Deadline_Reason</name>
        <label>Update Doc Events With Missed Deadline Reason</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Updated_Events_Missed_Deadline</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Missed_Deadline_Reason_Required</targetReference>
        </faultConnector>
        <inputReference>Copy_1_of_dt_DisplayRelatedDocumentationEvents.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Documentation_Event_Sync_And_Exclusion_Status</name>
        <label>Update Documentation Event Sync And Exclusion Status</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Is_Missed_Deadline_Reason_Requried</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DealSyncUpdateError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.leaseworks__Marketing_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Exclude_Deal_From_Doc_Tracking__c</field>
            <value>
                <elementReference>ExcludeDealFromDocumentationTracking.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Sync_Documentation__c</field>
            <value>
                <elementReference>SyncEventsToggle.value</elementReference>
            </value>
        </inputAssignments>
        <object>leaseworks__Marketing_Activity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Documentation_Events</name>
        <label>Update Documentation Events</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Updated_Events</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Missed_Deadline_Reason_Required</targetReference>
        </faultConnector>
        <inputReference>dt_DisplayRelatedDocumentationEvents.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Draft_To_Counterparty_Events</name>
        <label>Update Draft To Counterparty Events</label>
        <locationX>50</locationX>
        <locationY>4436</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SyncedEventUpdateErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Created_Documentation_Event_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Documentation_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 Draft To Counterparty</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Actual_Date__c</field>
            <value>
                <elementReference>varDraftToCounterparty.pro_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Delay_Comment__c</field>
            <value>
                <elementReference>varDraftToCounterparty.pro_Delay_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Primary_Delay__c</field>
            <value>
                <elementReference>varDraftToCounterparty.pro_Primary_Delay__c</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Engage_Law_Firm_Events</name>
        <label>Update Engage Law Firm Events</label>
        <locationX>50</locationX>
        <locationY>4112</locationY>
        <connector>
            <targetReference>Update_Initital_Draft_Events</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SyncedEventUpdateErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Created_Documentation_Event_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Documentation_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 Engage Law Firm</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Actual_Date__c</field>
            <value>
                <elementReference>varEngageLawFirm.pro_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Delay_Comment__c</field>
            <value>
                <elementReference>varEngageLawFirm.pro_Delay_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Primary_Delay__c</field>
            <value>
                <elementReference>varEngageLawFirm.pro_Primary_Delay__c</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initital_Draft_Events</name>
        <label>Update Initital Draft Events</label>
        <locationX>50</locationX>
        <locationY>4220</locationY>
        <connector>
            <targetReference>Update_Review_Comment_Events</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SyncedEventUpdateErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Created_Documentation_Event_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Documentation_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 Initial Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Actual_Date__c</field>
            <value>
                <elementReference>varInitialDraft.pro_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Delay_Comment__c</field>
            <value>
                <elementReference>varInitialDraft.pro_Delay_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Primary_Delay__c</field>
            <value>
                <elementReference>varInitialDraft.pro_Primary_Delay__c</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Comment_Events</name>
        <label>Update Review &amp; Comment Events</label>
        <locationX>50</locationX>
        <locationY>4328</locationY>
        <connector>
            <targetReference>Update_Draft_To_Counterparty_Events</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SyncedEventUpdateErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Created_Documentation_Event_Id_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Documentation_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 Review &amp; Comment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Actual_Date__c</field>
            <value>
                <elementReference>varReviewComment.pro_Actual_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Delay_Comment__c</field>
            <value>
                <elementReference>varReviewComment.pro_Delay_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Primary_Delay__c</field>
            <value>
                <elementReference>varReviewComment.pro_Primary_Delay__c</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DatatableScreen</name>
        <label>DatatableScreen</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Documentation_Event_Sync_And_Exclusion_Status</targetReference>
        </connector>
        <fields>
            <name>DatatableScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DatatableScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExcludeDealFromDocumentationTracking</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Exclude Deal From Documentation Tracking</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.leaseworks__Marketing_Activity__r.pro_Exclude_Deal_From_Doc_Tracking__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DatatableScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SyncEventsToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sync Documentation Under This Deal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.leaseworks__Marketing_Activity__r.pro_Sync_Documentation__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DatatableScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DatatableScreen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dt_DisplayRelatedDocumentationEvents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Documentation_Event__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>pro_Documentation_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Documentation_Events</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>pro_Actual_Date__c:true, pro_Primary_Delay__c:true, pro_Secondary_Delay__c:true, pro_Additional_Delay__c:true, pro_Delay_Comment__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,pro_Projected_Business_Days__c,pro_Projected_Date__c,pro_Actual_Date__c,pro_Variance_Indicator__c,pro_Variance_Working_Days_Formula__c,pro_Primary_Delay__c,pro_Secondary_Delay__c,pro_Additional_Delay__c,pro_Delay_Comment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:189, pro_Projected_Business_Days__c:134, pro_Projected_Date__c:120, pro_Actual_Date__c:125, pro_Variance_Indicator__c:93, pro_Variance_Working_Days_Formula__c:107, pro_Primary_Delay__c:129, pro_Secondary_Delay__c:144, pro_Additional_Delay__c:143, pro_Delay_Comment__c:267</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Documentation Timeline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Documentation Event, pro_Projected_Business_Days__c:Projected Days, pro_Variance_Indicator__c:Variance, pro_Variance_Working_Days_Formula__c:Days Variance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:false, pro_Projected_Date__c:false, pro_Actual_Date__c:false, pro_Variance_Indicator__c:false, pro_Variance_Days__c:false, pro_Missed_Deadline_Reason__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>14rem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExcludeDealFromDocumentationTracking.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>bb_SaveChanges</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save Changes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>dt_DisplayRelatedDocumentationEvents.numberOfRowsEdited</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SyncEventsToggle.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>recordId.leaseworks__Marketing_Activity__r.pro_Sync_Documentation__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExcludeDealFromDocumentationTracking.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>recordId.leaseworks__Marketing_Activity__r.pro_Exclude_Deal_From_Doc_Tracking__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save Changes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DatatableScreenProvideReason</name>
        <label>DatatableScreenProvideReason</label>
        <locationX>1238</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Missed_Deadline_Reason_Requried</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ErrorMissedDeadlineReason</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Error - Record Not Saved&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;If Actual Date is later than Projected Date, fill Delay and Delay Comment fields. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_dt_DisplayRelatedDocumentationEvents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Documentation_Event__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>pro_Documentation_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>pro_Projected_Date__c:true, pro_Actual_Date__c:true, pro_Primary_Delay__c:true, pro_Secondary_Delay__c:true, pro_Additional_Delay__c:true, pro_Delay_Comment__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,pro_Projected_Business_Days__c,pro_Projected_Date__c,pro_Actual_Date__c,pro_Variance_Indicator__c,pro_Primary_Delay__c,pro_Secondary_Delay__c,pro_Additional_Delay__c,pro_Delay_Comment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:189, pro_Projected_Business_Days__c:132, pro_Projected_Date__c:138, pro_Actual_Date__c:134, pro_Variance_Indicator__c:63, pro_Primary_Delay__c:154, pro_Secondary_Delay__c:153, pro_Additional_Delay__c:144, pro_Delay_Comment__c:228</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Documentation Timeline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Documentation Event, pro_Projected_Business_Days__c:Projected Days, pro_Variance_Indicator__c:Var</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:false, pro_Projected_Date__c:false, pro_Actual_Date__c:false, pro_Variance_Indicator__c:false, pro_Variance_Days__c:false, pro_Missed_Deadline_Reason__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>dt_DisplayRelatedDocumentationEvents.outputRemainingRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>14rem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_bb_SaveChanges</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save Changes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dt_DisplayRelatedDocumentationEvents.numberOfRowsEdited</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save Changes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DealSyncUpdateError</name>
        <label>DealSyncUpdateError</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DealSyncErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error updating the Sync Documentation field on the associated Deal:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SyncedEventUpdateErrorScreen</name>
        <label>SyncedEventUpdateErrorScreen</label>
        <locationX>1106</locationX>
        <locationY>4220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SynedEventUpdateErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error updating synchronized Documentation Events:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Documentation_Events</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_AiD_Id_Collection</name>
        <label>Create AiD Id Collection</label>
        <locationX>50</locationX>
        <locationY>3788</locationY>
        <connector>
            <targetReference>Get_Synced_Documentation_Events</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Related_AiDs[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Updated_Event_Id_Collection</name>
        <label>Create Updated Event Id Collection</label>
        <locationX>50</locationX>
        <locationY>2972</locationY>
        <connector>
            <targetReference>Get_Related_AiDs</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varUpdatedDocumentationEvents[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Created_Documentation_Event_Id_Collection</name>
        <label>Created Documentation Event Id Collection</label>
        <locationX>50</locationX>
        <locationY>4004</locationY>
        <connector>
            <targetReference>Update_Engage_Law_Firm_Events</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Synced_Documentation_Events[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft_Proposal__c</objectType>
    </variables>
    <variables>
        <name>varAiDsToSetLoiDate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft_Proposal__c</objectType>
    </variables>
    <variables>
        <name>varDocEventsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDraftToCounterparty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varEngageLawFirm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varInitialDraft</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varMissedDeadlineReasonRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReviewComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varUpdatedDocumentationEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
</Flow>
