force-app/main/default/flows/Prodigy_AiD_Create_Documentation_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Documentation_Event_Names</name>
        <label>Assign Documentation Event Names</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_EngageLawFirmDocEventName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_InitialDraftDocEventName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_ReviewCommentDocEventName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocumentationEventNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>f_DraftToCounterpartyDocEventName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documentation_Event_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Names_To_Documentation_Event_Variable_and_Collection</name>
        <label>Assign Names To Documentation Event Variable and Collection</label>
        <locationX>490</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documentation_Event_Names</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.pro_Asset_in_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.pro_Projected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_TodayPlus1BdForEngageLawFirm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventToCreate.pro_Documentation_Event_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_DocumentationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocEventsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDocEventToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documentation_Event_Names</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Documentation_Events_Relevant_To_Deal_Type</name>
        <label>Are Documentation Events Relevant To Deal Type?</label>
        <locationX>688</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Documentation_Events_Relevant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale_Novation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lease Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale_Off_Lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engine Exchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_LOI_Populated</targetReference>
            </connector>
            <label>Documentation Events Relevant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LOI_Populated</name>
        <label>Is LOI Populated?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No LOI</defaultConnectorLabel>
        <rules>
            <name>Yes_LOI_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOI_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Documentation_Events</targetReference>
            </connector>
            <label>Yes - LOI Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LOI_Pre_September_2024</name>
        <label>Is LOI Pre September 2024?</label>
        <locationX>237</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Are_Documentation_Events_Relevant_To_Deal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post September 2024</defaultConnectorLabel>
        <rules>
            <name>Yes_Pre_September_2024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOI_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2024-09-01</dateValue>
                </rightValue>
            </conditions>
            <label>Yes - Pre September 2024</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Documentation_Events_Found</name>
        <label>Were Documentation Events Found?</label>
        <locationX>226</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_Documentation_Event_Names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Documentation_Events_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Documentation_Events</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Documentation_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Projected_Date_On_Event</targetReference>
            </connector>
            <label>Documentation Events Found</label>
        </rules>
    </decisions>
    <description>Lease Documentation Timelines

When LOI Date field gets populated on AiD, this flow creates Documentation Event records and sets the Projected Date field.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_DocumentationType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!varDocEventToCreate.Name}, &quot;Engage Law Firm&quot;), &quot;1 Engage Law Firm&quot;, 
             IF(CONTAINS({!varDocEventToCreate.Name}, &quot;Initial Draft&quot;), &quot;2 Initial Draft&quot;,
                    IF(CONTAINS({!varDocEventToCreate.Name}, &quot;Review &amp; Comment&quot;), &quot;3 Review &amp; Comment&quot;, &quot;4 Draft To Counterparty&quot;)))</expression>
    </formulas>
    <formulas>
        <name>f_DraftToCounterpartyDocEventName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; -  Draft To Counterparty&apos;</expression>
    </formulas>
    <formulas>
        <name>f_EngageLawFirmDocEventName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; - Engage Law Firm&apos;</expression>
    </formulas>
    <formulas>
        <name>f_InitialDraftDocEventName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; -  Initial Draft&apos;</expression>
    </formulas>
    <formulas>
        <name>f_ReviewCommentDocEventName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; -  Review &amp; Comment&apos;</expression>
    </formulas>
    <formulas>
        <name>f_TodayPlus1BdForEngageLawFirm</name>
        <dataType>Date</dataType>
        <expression>IF(CONTAINS({!Loop_Documentation_Event_Names} , &apos;Engage Law Firm&apos;) , {!Calculate_1_Working_Day.varTargetDate}, Null)</expression>
    </formulas>
    <interviewLabel>Prodigy - AiD - Create Documentation Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - AiD - Create Documentation Events</label>
    <loops>
        <name>Loop_Documentation_Event_Names</name>
        <label>Loop Documentation Event Names</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <collectionReference>varDocumentationEventNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Names_To_Documentation_Event_Variable_and_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Documentation_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Documentation_Events</name>
        <label>Create Documentation Events</label>
        <locationX>402</locationX>
        <locationY>1379</locationY>
        <inputReference>varDocEventsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Documentation_Events</name>
        <label>Get Existing Documentation Events</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_1_Working_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Documentation_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Projected Date on the Engage Law Firm documentation event</description>
        <name>Set_New_Projected_Date_On_Event</name>
        <label>Set New Projected Date On Event</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset_in_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Documentation_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 Engage Law Firm</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pro_Projected_Date__c</field>
            <value>
                <elementReference>Calculate_1_Working_Day.varTargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Documentation_Event__c</object>
    </recordUpdates>
    <start>
        <locationX>111</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LOI_Pre_September_2024</targetReference>
        </connector>
        <filterFormula>AND(
        OR(
              ISNEW(),
              ISCHANGED({!$Record.LOI_Date__c})
          ),
         NOT(ISBLANK({!$Record.LOI_Date__c}))
)</filterFormula>
        <object>leaseworks__Aircraft_Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_1_Working_Day</name>
        <label>Calculate +1 Working Day</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Were_Documentation_Events_Found</targetReference>
        </connector>
        <flowName>Prodigy_Auto_Working_Day_Date_Calculator</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>$Record.LOI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNumWorkingDays</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Filter_For_Engage_Law_Firm_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varDocEventsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varDocEventToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Documentation_Event__c</objectType>
    </variables>
    <variables>
        <name>varDocumentationEventNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
