force-app/main/default/flows/Prodigy_Autolaunched_Asset_In_Deal_Relate_To_Asset_Target_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Update_Asset_In_Deal_Lookup</name>
        <label>Update Asset In Deal Lookup</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset_Target_Audit_Record.pro_Asset_in_Deal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Update_To_Database</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Asset_Target_Records</name>
        <label>Found Asset Target Records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Target_Audit_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_In_Deal_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prodigy - Autolaunched - Asset In Deal Relate To Asset Target Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Autolaunched - Asset In Deal Relate To Asset Target Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Target_Audit_Record</name>
        <label>Get Asset Target Audit Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Asset_Target_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>pro_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAID.leaseworks__Aircraft__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Asset_Target_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Commit_Update_To_Database</name>
        <label>Commit Update To Database</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputReference>Get_Asset_Target_Audit_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Target_Audit_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Aircraft_Proposal__c</objectType>
    </variables>
</Flow>
