force-app/main/default/flows/Prodigy_Screen_Display_Related_Record_Tickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>f_QueryRelatedTickets</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT pro_Subject_Name__c, pro_Ticket_Level__c, pro_Priority__c, pro_Status__c, pro_Assigned_To_Formula__c, pro_Requested_By_Formula__c, pro_Owner_Formula__c, pro_Comments__c FROM pro_Ticket__c WHERE (&quot; &amp; 
IF(NOT(ISBLANK({!recordId.pro_Asset__c})), &quot;pro_Asset__c = &apos;&quot; &amp; {!recordId.pro_Asset__c} &amp; &quot;&apos;&quot;, &quot;&quot;) &amp; 
IF(AND(NOT(ISBLANK({!recordId.pro_Asset__c})), NOT(ISBLANK({!recordId.pro_Lease__c}))), &quot; OR &quot;, &quot;&quot;) &amp; 
IF(NOT(ISBLANK({!recordId.pro_Lease__c})), &quot;pro_Lease__c = &apos;&quot; &amp; {!recordId.pro_Lease__c} &amp; &quot;&apos;&quot;, &quot;&quot;) &amp; 
IF(AND(OR(NOT(ISBLANK({!recordId.pro_Asset__c})), NOT(ISBLANK({!recordId.pro_Lease__c}))), NOT(ISBLANK({!recordId.pro_Deal__c}))), &quot; OR &quot;, &quot;&quot;) &amp; 
IF(NOT(ISBLANK({!recordId.pro_Deal__c})), &quot;pro_Deal__c = &apos;&quot; &amp; {!recordId.pro_Deal__c} &amp; &quot;&apos;&quot;, &quot;&quot;) &amp; 
IF(AND(OR(NOT(ISBLANK({!recordId.pro_Asset__c})), NOT(ISBLANK({!recordId.pro_Lease__c})), NOT(ISBLANK({!recordId.pro_Deal__c}))), NOT(ISBLANK({!recordId.pro_Technical_Project__c}))), &quot; OR &quot;, &quot;&quot;) &amp; 
IF(NOT(ISBLANK({!recordId.pro_Technical_Project__c})), &quot;pro_Technical_Project__c = &apos;&quot; &amp; {!recordId.pro_Technical_Project__c} &amp; &quot;&apos;&quot;, &quot;&quot;) &amp; 
&quot;) AND Id != &apos;&quot; &amp; {!recordId.Id} &amp; &quot;&apos; ORDER BY pro_Expected_Due_Date__c DESC&quot;</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Display Related Record Tickets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Display Related Record Tickets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Assemblies_On_Ticket_For_Assembly_ID_Collection</name>
        <label>Get All Assemblies On Ticket For Assembly ID Collection</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Ticket_Id_Collection_For_Assemblies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Assembly__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Assembly_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Assembly_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Assets_On_Ticket_For_Asset_Id_Collection</name>
        <label>Get All Assets On Ticket For Asset Id Collection</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Ticket_Id_Collection_For_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Asset__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Asset_Id_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assemblies_On_Ticket</name>
        <label>Get Assemblies On Ticket</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Assembly_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Assembly_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_On_Ticket</name>
        <label>Get Assets On Ticket</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset_Id_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Asset_On_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Tickets</name>
        <label>Get Related Tickets</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TicketDisplayScreen</targetReference>
        </connector>
        <filterLogic>41 AND (1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8) OR (9 AND 10) OR (11 AND 12) OR (13 AND 14) OR (15 AND 16) OR (17 AND 18) OR (19 AND 20) OR (21 AND 22) OR (23 AND 24) OR (25 AND 26) OR (27 AND 28) OR (29 AND 30) OR (31 AND 32) OR (33 AND 34) OR (35 AND 36) OR (37 AND 38) OR 39 OR 40</filterLogic>
        <filters>
            <field>pro_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Bank_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Bank_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Bank_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Claim__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Deal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Deal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Deal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_External_Party__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_External_Party__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_External_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Financing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Financing__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Financing__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Fund__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Fund__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Fund__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Interaction_Log__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Interaction_Log__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Interaction_Log__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Invoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Lease__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Lease__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Lease__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Litigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Litigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Litigation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Notification_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Notification_Subscription__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Notification_Subscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Payable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Payable__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Payable__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Payment_Studio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Payment_Studio__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Payment_Studio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Technical_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Technical_Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Technical_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Ticket__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Ticket__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pro_Utilization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.pro_Utilization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pro_Utilization__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Ticket_Id_Collection_For_Assemblies</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Create_Ticket_Id_Collection_For_Assets</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pro_Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>TicketDisplayScreen</name>
        <label>TicketDisplayScreen</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;Shows tickets connected to the same related records (for example, Assets, Assemblies, or Claims) as the currently viewed Ticket.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_DisplayTickets</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>pro_Ticket__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Tickets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;pro_Subject_Name__c&quot;,&quot;guid&quot;:&quot;column-3a85&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subject Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Ticket_Level__c&quot;,&quot;guid&quot;:&quot;column-1a60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Ticket Level&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Priority__c&quot;,&quot;guid&quot;:&quot;column-c193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Priority&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Status__c&quot;,&quot;guid&quot;:&quot;column-f889&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;pro_Requested_By_Formula__c&quot;,&quot;guid&quot;:&quot;column-675f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Requested By&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Assigned_To_Formula__c&quot;,&quot;guid&quot;:&quot;column-6fd6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Assigned To&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Owner_Formula__c&quot;,&quot;guid&quot;:&quot;column-8897&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Owner&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;pro_Comments__c&quot;,&quot;guid&quot;:&quot;column-494e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assets_On_Ticket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Assembly_Id_Collection</name>
        <label>Create Assembly Id Collection</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_All_Assets_On_Ticket_For_Asset_Id_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Assemblies_On_Ticket[$EachItem].pro_Assembly__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Asset_Id_Collection</name>
        <label>Create Asset Id Collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Assemblies_On_Ticket</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Assets_On_Ticket[$EachItem].pro_Asset__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Ticket_Id_Collection_For_Assemblies</name>
        <label>Create Ticket Id Collection For Assemblies</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Related_Tickets</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Assemblies_On_Ticket_For_Assembly_ID_Collection[$EachItem].pro_Assembly__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Create_Ticket_Id_Collection_For_Assets</name>
        <label>Create Ticket Id Collection For Assets</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_All_Assemblies_On_Ticket_For_Assembly_ID_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_All_Assets_On_Ticket_For_Asset_Id_Collection[$EachItem].pro_Ticket__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pro_Ticket__c</objectType>
    </variables>
</Flow>
