force-app/main/default/flows/Prodigy_Screen_Update_Bank_Account_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Values_To_Provisional_Fields</name>
        <label>Assign Values To Provisional Fields</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.pro_Bank_Account_Name_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Financial_Institution_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Institution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Bank_Branch_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BankBranch.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Bank_Account_Number_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Account_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Account_Currency_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Country_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Routing_ABA_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Routing_ABA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_IBAN_Code_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IBAN_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Bank_Identification_Code_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Identification_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_SWIFT_Code_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SWIFT_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Bank_Branch_Name_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BankBranch.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Country_Name_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_User_To_Submit_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Ststus</name>
        <label>Set Approval Ststus</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId.pro_Approval_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Pending_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.pro_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Pending_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_To_Submit_for_Approval</name>
        <label>Set User To Submit for Approval</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.pro_User_To_Submit_For_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Approval_Ststus</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_EUR</name>
        <choiceText>EUR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_GBP</name>
        <choiceText>GBP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GBP</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_JPY</name>
        <choiceText>JPY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JPY</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_MYR</name>
        <choiceText>MYR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MYR</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>c_Currencies</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>leaseworks__Account_Currency__c</picklistField>
        <picklistObject>leaseworks__Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_FinancialInstitutions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>leaseworks__Financial_Institution__c</picklistField>
        <picklistObject>leaseworks__Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_QueryFilteredBranches</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Name, leaseworks__Branch_Address__c FROM leaseworks__Bank_Branch__c WHERE leaseworks__Financial_Institution__c = &#39;&quot; &amp; {!Financial_Institution} &amp; &quot;&#39;&quot;</expression>
    </formulas>
    <interviewLabel>Prodigy - Screen - Update Bank Account Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Screen - Update Bank Account Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bank_Branch_In_A_Collection_Variable</name>
        <label>Get Bank Branch In A Collection Variable</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.leaseworks__Bank_Branch__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__Bank_Branch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Pending_Values</name>
        <label>Set Pending Values</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_To_Provisional_Fields</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Name</elementReference>
                    </defaultValue>
                    <fieldText>Bank Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Account_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.leaseworks__Account_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currency</name>
                    <choiceReferences>c_USD</choiceReferences>
                    <choiceReferences>c_JPY</choiceReferences>
                    <choiceReferences>c_GBP</choiceReferences>
                    <choiceReferences>c_MYR</choiceReferences>
                    <choiceReferences>c_EUR</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.leaseworks__Account_Currency__c</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Country</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>leaseworks__Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>leaseworks__Bank_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.leaseworks__Country__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Routing_ABA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.leaseworks__Routing_ABA__c</elementReference>
                    </defaultValue>
                    <fieldText>Routing/ABA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IBAN_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.leaseworks__IBAN_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>IBAN Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bank_Identification_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.leaseworks__Bank_Identification_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank Identification Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SWIFT_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.leaseworks__SWIFT_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>SWIFT Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Financial_Institution</name>
                    <choiceReferences>c_FinancialInstitutions</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.leaseworks__Financial_Institution__c</elementReference>
                    </defaultValue>
                    <fieldText>Financial Institution</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BankBranch</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>leaseworks__Bank_Branch__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>leaseworks__Bank_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bank Branch</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Bank_Branch_In_A_Collection_Variable.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FetchFilteredBranches</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>leaseworks__Bank_Branch__c</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>f_QueryFilteredBranches</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>leaseworks__Bank_Branch__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit For Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bank_Branch_In_A_Collection_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>varBankAcToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>varBankBranchCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Bank_Branch__c</objectType>
    </variables>
    <variables>
        <name>varBankBranchSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Bank_Branch__c</objectType>
    </variables>
</Flow>
