force-app/main/default/flows/Prodigy_Account_Initialize_Print_Options_Config_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Running_User</name>
        <label>Email Running User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>leaseworks@carlyle.aero</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Error: Prodigy - Account - Initialize Print Options Config On Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;There was an error in processing your request:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <description>If email is valid, email the error message to user</description>
        <name>Is_Users_Email_Invalid</name>
        <label>Is Users Email Invalid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Email_Running_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>invalid</stringValue>
                </rightValue>
            </conditions>
            <label>Yes - Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Existing_Config_Record_Found</name>
        <label>Was Existing Config Record Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Config Record Exists - End Flow</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Config_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Print_Options_Config_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Print_Option_Default_CMDT_Record</targetReference>
            </connector>
            <label>No Existing Config Record</label>
        </rules>
    </decisions>
    <description>When an Account is created, this flow retrieves print options defaults from CMDT, sets these values to a Print Options Config file, and links this file to the new Account.</description>
    <environments>Default</environments>
    <formulas>
        <description>Created a Name that is a concatenation of &apos;Print Options - &apos; plus the Unique Lease Id</description>
        <name>f_ConcatenatedName</name>
        <dataType>String</dataType>
        <expression>LEFT(&apos;Print Options - &apos; &amp; {!$Record.Name}, 80)</expression>
    </formulas>
    <interviewLabel>Prodigy - Account - Initialize Print Options Config On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prodigy - Account - Initialize Print Options Config On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a config records and populate it with the defaults from the CMDT record returned previously.</description>
        <name>Create_Print_Options_Config_Record</name>
        <label>Create Print Options Config Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Is_Users_Email_Invalid</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_ConcatenatedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Aircraft_Registration_Number__c</field>
            <value>
                <elementReference>Get_Invoice_Print_Option_Default_CMDT_Record.pro_Include_Aircraft_Registration_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Attention_To__c</field>
            <value>
                <elementReference>Get_Invoice_Print_Option_Default_CMDT_Record.pro_Include_Attention_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Bank_Account_Address__c</field>
            <value>
                <elementReference>Get_Invoice_Print_Option_Default_CMDT_Record.pro_Include_Bank_Account_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Customer_VAT_Number__c</field>
            <value>
                <elementReference>Get_Invoice_Print_Option_Default_CMDT_Record.pro_Include_Customer_VAT_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_Email_Address__c</field>
            <value>
                <elementReference>Get_Invoice_Print_Option_Default_CMDT_Record.pro_Include_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_Include_PO_Number__c</field>
            <value>
                <elementReference>Get_Invoice_Print_Option_Default_CMDT_Record.pro_Include_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pro_MR_Invoice_Name__c</field>
            <value>
                <elementReference>Get_Invoice_Print_Option_Default_CMDT_Record.pro_MR_Invoice_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>pro_Print_Options_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Print_Options_Config_Record</name>
        <label>Get Existing Print Options Config Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Existing_Config_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pro_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Print_Options_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Print_Option_Default_CMDT_Record</name>
        <label>Get Invoice Print Option Default CMDT Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Print_Options_Config_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Invoice_Print_Option_Default__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Print_Options_Config_Record</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
