force-app/main/default/flows/Scheduled_Update_Deal_Fund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Fund_Found</name>
        <label>Fund Found?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No - End</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Deal_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fund_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fund_Record</targetReference>
            </connector>
            <label>Yes - Update Deal Fund</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Fund_Name</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Fund__c}),
     &quot;CALF&quot;, &quot;CALF&quot;,
     &quot;SASOF III&quot;, &quot;SASOF III&quot;,
     &quot;SASOF VI&quot;, &quot;CAPF VII&quot;,
     &quot;Runaway&quot;, &quot;Runaway&quot;,
     &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Scheduled - Update Deal Fund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled - Update Deal Fund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fund_Record</name>
        <label>Get Fund Record</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fund_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Fund_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pro_Fund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fund_Record</name>
        <label>Update Fund Record</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>pro_Fund__c</field>
            <value>
                <elementReference>Get_Fund_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fund_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fund__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Marketing_Activity__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-10-16</startDate>
            <startTime>09:28:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
