force-app/main/default/flows/Set_Credit_Paper_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Flow to set credit paper name automatically</description>
    <environments>Default</environments>
    <formulas>
        <name>MonthYear</name>
        <dataType>String</dataType>
        <expression>CASE(
MONTH({!$Record.Date_of_Review__c}),
1,&quot;Jan&quot;,
2,&quot;Feb&quot;,
3,&quot;Mar&quot;,
4,&quot;Apr&quot;,
5,&quot;May&quot;,
6,&quot;Jun&quot;,
7,&quot;Jul&quot;,
8,&quot;Aug&quot;,
9,&quot;Sep&quot;,
10,&quot;Oct&quot;,
11,&quot;Nov&quot;,
12,&quot;Dec&quot;,
&quot;&quot;
) &amp; &quot; &quot; &amp; TEXT(YEAR({!$Record.Date_of_Review__c}))</expression>
    </formulas>
    <formulas>
        <name>SetCreditPaperName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name}+&apos; - &apos;+{!$Record.Account__r.Name}+&apos; - &apos;+{!MonthYear}</expression>
    </formulas>
    <interviewLabel>Set Credit Paper Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Credit Paper Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Disable_Triggers</name>
        <label>Disable Triggers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Concatenated_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_Triggers</name>
        <label>Enable Triggers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Concatenated_Name</name>
        <label>Set Concatenated Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enable_Triggers</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SetCreditPaperName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Triggers</targetReference>
        </connector>
        <filterFormula>AND(
  NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_Triggers__c}),
  NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_WFs__c})
)</filterFormula>
        <object>CAP_Credit_Papers__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
