force-app/main/default/flows/Set_Update_the_name_of_the_deal_if_the_Type_is_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>NameForTheDeal</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK(TEXT({!$Record.Approval_Type__c})),
  {!$Record.leaseworks__Counter_Party__r.Name} &amp; &quot; - &quot; &amp;
  IF(MONTH(DATEVALUE({!$Record.CreatedDate})) &lt; 10, 
     &quot;0&quot; &amp; TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))), 
     TEXT(MONTH(DATEVALUE({!$Record.CreatedDate})))
  ) &amp; &quot;/&quot; &amp; TEXT(YEAR(DATEVALUE({!$Record.CreatedDate}))),
  
  TEXT({!$Record.Approval_Type__c}) &amp; &quot; - &quot; &amp; 
  {!$Record.leaseworks__Counter_Party__r.Name} &amp; &quot; - &quot; &amp;
  IF(MONTH(DATEVALUE({!$Record.CreatedDate})) &lt; 10, 
     &quot;0&quot; &amp; TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))), 
     TEXT(MONTH(DATEVALUE({!$Record.CreatedDate})))
  ) &amp; &quot;/&quot; &amp; TEXT(YEAR(DATEVALUE({!$Record.CreatedDate})))
)</expression>
    </formulas>
    <interviewLabel>Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set/Update the name of the deal if the Type is Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Disable_Triggers</name>
        <label>Disable Triggers</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_deal_name_of_type_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_Triggers</name>
        <label>Enable Triggers</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_deal_name_of_type_Approval</name>
        <label>Update deal name of type Approval</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Enable_Triggers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_wile_updating_the_name_of_the_deal</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameForTheDeal</elementReference>
            </value>
        </inputAssignments>
        <object>leaseworks__Marketing_Activity__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Triggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </filters>
        <object>leaseworks__Marketing_Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
