force-app/main/default/flows/TP_FPM_Task_Creation_Deletion_from_Checklist_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Related_ID</name>
        <label>Assign Related ID</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Technical_Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Re_Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Record_ID</name>
        <label>Assign Related Record ID</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Technical_Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_3</name>
        <label>Assign Task 3</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Technical_Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_existing_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_id</name>
        <label>Assign Task id</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Technical_Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Id_2</name>
        <label>Assign Task Id 2</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Technical_Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Record</name>
        <label>Assign to Task Record</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assigned_To__r.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.leaseworks__Related_Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Technical_Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Technical_Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Task_ID_and_Assign_To</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_Error_Message_2</name>
        <label>Custom Error Message 2</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Only the Account Holder can complete an unassigned Checklist Item.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>error</name>
        <label>error</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>You Cannot Complete attached Task Unless You Are The Owner.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Allow_Account_Holder_To_Complete_Not_Assigned_Item</name>
        <label>Allow Account Holder To Complete Not Assigned Item</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Custom_Error_Message_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_equal_to_Account_Holder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Technical_Project__r.Account_Holder__r.User__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <label>User equal to Account Holder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Completion_Status</name>
        <label>Check Completion Status</label>
        <locationX>743</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Task_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_changed_to_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.leaseworks__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Task_Record_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.User__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_attached_task</targetReference>
            </connector>
            <label>Status changed to Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_ID_and_Assign_To</name>
        <label>Check Task ID and Assign To</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Record_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Record_ID</targetReference>
            </connector>
            <label>To Create New Task</label>
        </rules>
        <rules>
            <name>Update_Current_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Record_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_id</targetReference>
            </connector>
            <label>To Update Current Task</label>
        </rules>
        <rules>
            <name>Re_create_a_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Record_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Id_2</targetReference>
            </connector>
            <label>To Re create a task</label>
        </rules>
        <rules>
            <name>To_Delete_Existing_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Record_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_3</targetReference>
            </connector>
            <label>To Delete Existing Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_attached_task</name>
        <label>Check the attached task</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Link__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>The task has not been created yet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allow_Account_Holder_To_Complete_Not_Assigned_Item</targetReference>
            </connector>
            <label>Task Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>[TP] FPM: Task Creation / Deletion from Checklist Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TP] FPM: Task Creation / Deletion from Checklist Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_Task</name>
        <label>Create a new Task</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Record_Id_of_current_Checklist_Item</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Re_Create_Task</name>
        <label>Re Create Task</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Record_Id_of_new_Task</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_existing_Task</name>
        <label>Delete existing Task</label>
        <locationX>1502</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Record_id_of_task_to_blank</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_task</name>
        <label>Delete task</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign_Related_ID</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Record_Id_of_current_Checklist_Item</name>
        <label>Update Record Id of current Checklist Item</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Task_Record_Id__c</field>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Id_of_new_Task</name>
        <label>Update Record Id of new Task</label>
        <locationX>1238</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Task_Record_Id__c</field>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_id_of_task_to_blank</name>
        <label>Update Record id of task to blank</label>
        <locationX>1502</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Task_Record_Id__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Record</name>
        <label>Update Task Record</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Completion_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012aA000003dYhdQAE</stringValue>
            </value>
        </filters>
        <object>leaseworks__Technical_Project_Check__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
