force-app/main/default/flows/Update_Current_Lessee_on_Account1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>get_Count</name>
        <label>get Count</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Active_Leases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disable_Triggers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_WF_and_Trigger_Enabled</name>
        <label>Check WF and Trigger Enabled</label>
        <locationX>930</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Disabled</defaultConnectorLabel>
        <rules>
            <name>Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LeaseWorks_Settings.leaseworks__Disable_All_WFs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LeaseWorks_Settings.leaseworks__Disable_All_Triggers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Leases</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Current_Lessee</name>
        <label>Update Current Lessee</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Enable_Triggers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_To_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Current_Lessee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_lessee_to_true</targetReference>
            </connector>
            <label>Update to True</label>
        </rules>
        <rules>
            <name>Update_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.leaseworks__Current_Lessee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Lessee_to_False</targetReference>
            </connector>
            <label>Update to False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Current Lessee on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Current Lessee on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Leases</name>
        <label>Get Active Leases</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Count</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>leaseworks__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Operator_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Lessee_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Lease__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LeaseWorks_Settings</name>
        <label>Get LeaseWorks Settings</label>
        <locationX>930</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WF_and_Trigger_Enabled</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>leaseworks__LeaseWorksSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Disable_Triggers</name>
        <label>Disable Triggers</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Update_Current_Lessee</targetReference>
        </connector>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_Triggers</name>
        <label>Enable Triggers</label>
        <locationX>578</locationX>
        <locationY>1140</locationY>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Lessee_to_False</name>
        <label>Update Current Lessee to False</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Enable_Triggers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Enable_Triggers</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>leaseworks__Current_Lessee__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_lessee_to_true</name>
        <label>Update current lessee to true</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Enable_Triggers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Enable_Triggers</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>leaseworks__Current_Lessee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>leaseworks__Update_Current_Lessee_2</sourceTemplate>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LeaseWorks_Settings</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-20</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ActiveLeases</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
