force-app/main/default/flows/Update_Required_by_Date_Payment_Due_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>To check for the Disable triggers/Disable Flows flag on the custom setting.</description>
        <name>Check_Custom_Setting</name>
        <label>Check Custom Setting</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Trigger_and_WFs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckTriggers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckWFs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Required_by_and_Payment_Due</targetReference>
            </connector>
            <label>Check Trigger and WFs</label>
        </rules>
    </decisions>
    <description>update Required by Date &amp; Payment Due Date on Invoice when invoice status gets &apos;Approved&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckTriggers</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_Triggers__c}</expression>
    </formulas>
    <formulas>
        <name>CheckWFs</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_WFs__c}</expression>
    </formulas>
    <formulas>
        <description>Approved date + 30 days</description>
        <name>PaymentDuedate</name>
        <dataType>Date</dataType>
        <expression>Today() + 30</expression>
    </formulas>
    <interviewLabel>Update Required by Date &amp; Payment Due Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Required by Date &amp; Payment Due Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Required_by_and_Payment_Due</name>
        <label>Update Required by and Payment Due</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>leaseworks__Date_of_MR_Payment_Due__c</field>
            <value>
                <elementReference>PaymentDuedate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
