force-app/main/default/flows/UpdateInsuranceCertificateName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Selected_Coverages</name>
        <label>Assign Selected Coverages</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Selected_Coverages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.leaseworks__Coverages__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Coverages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Insurance_Certificate_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Insurance_Certificate_Name</name>
        <label>Set Insurance Certificate Name</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsuranceCertificateName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>InsuranceCertificateName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Policy_Expiry_Date}+{!MSN_Number}+IF(ISBLANK({!Selected_Coverages}), &apos;&apos;, LEFT({!Selected_Coverages}, LEN({!Selected_Coverages}) - 1))+{!OperatorName}) &gt;80 , 
 LEFT({!Policy_Expiry_Date}+{!MSN_Number}+IF(ISBLANK({!Selected_Coverages}), &apos;&apos;,  LEFT({!Selected_Coverages}, LEN({!Selected_Coverages}) - 1))+{!OperatorName} ,77)+&apos;...&apos;,
{!Policy_Expiry_Date}+{!MSN_Number}+IF(ISBLANK({!Selected_Coverages}), &apos;&apos;,  LEFT({!Selected_Coverages}, LEN({!Selected_Coverages}) - 1))+{!OperatorName}
)</expression>
    </formulas>
    <formulas>
        <name>MSN_Number</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.leaseworks__Aircraft__r.leaseworks__MSN_Number__c}), &apos;&apos; , IF(ISBLANK({!Selected_Coverages}), {!$Record.leaseworks__Aircraft__r.leaseworks__MSN_Number__c}, {!$Record.leaseworks__Aircraft__r.leaseworks__MSN_Number__c} + &apos; - &apos;))</expression>
    </formulas>
    <formulas>
        <name>OperatorName</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK({!$Record.leaseworks__Lease__c})) &amp;&amp; NOT( ISBLANK({!$Record.leaseworks__Lease__r.leaseworks__Operator_New__c}))  &amp;&amp;  NOT( ISBLANK({!$Record.leaseworks__Lease__r.leaseworks__Operator_New__r.Name}))  , &apos; - &apos; + {!$Record.leaseworks__Lease__r.leaseworks__Operator_New__r.Name}, &apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>Policy_Expiry_Date</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.leaseworks__Policy_Expiry_Date__c}), &apos;&apos; , &apos;Exp &apos;+TEXT({!$Record.leaseworks__Policy_Expiry_Date__c})+&apos; - &apos;)</expression>
    </formulas>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateInsuranceCertificateName_Local</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Selected_Coverages</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_WFs__c}) &amp;&amp; NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_Triggers__c})</filterFormula>
        <object>leaseworks__Insurance_Certificate_IR__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Selected_Coverages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
