force-app/main/default/flows/Update_APU_TSN_CSN_from_Assembly.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update APU TSN/CSN from Assembly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update APU TSN/CSN from Assembly</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_2_of_Enable_triggers</name>
        <label>Copy 2 of Enable triggers</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Disable_All_WFs__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Disable_Triggers</name>
        <label>Disable Triggers</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_APU_TSN_CSN</targetReference>
        </connector>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Disable_All_WFs__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_triggers</name>
        <label>Enable triggers</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Disable_All_WFs__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_APU_TSN_CSN</name>
        <label>Update APU TSN/CSN</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Enable_triggers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_updating_APU_TSN_CSN</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>leaseworks__APU_TSN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.leaseworks__TSN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__APU_CSN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.leaseworks__CSN__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__APU_CSN__c</field>
            <value>
                <elementReference>$Record.leaseworks__CSN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__APU_TSN__c</field>
            <value>
                <elementReference>$Record.leaseworks__TSN__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Triggers</targetReference>
        </connector>
        <filterFormula>AND(
   ISPICKVAL({!$Record.leaseworks__Type__c} , &quot;APU&quot;),
    NOT({!$Record.leaseworks__CSN__c} = {!$Record.leaseworks__APU_CSN__c}), 
    NOT({!$Record.leaseworks__TSN__c} = {!$Record.leaseworks__APU_TSN__c}), 
   NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_WFs__c}),
   NOT({!$Setup.leaseworks__LeaseWorksSettings__c.leaseworks__Disable_All_Triggers__c})
)</filterFormula>
        <object>leaseworks__Constituent_Assembly__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
