force-app/main/default/flows/Update_Base_Rent_on_Lease_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Update_Base_Rent_on_Lease</name>
        <label>Update Base Rent on Lease</label>
        <locationX>138</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>$Record.leaseworks__Base_Rent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_The_Latest_Record.leaseworks__Base_Rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.leaseworks__Y_Hidden_MRSchModifyDt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_The_Latest_Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_The_Latest_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_The_Rent_Record</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort The Rent Record</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Rent_Schedules</collectionReference>
        <connector>
            <targetReference>Verify_The_Latest_Record</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>leaseworks__Start_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Existing_Apex_Jobs</name>
        <label>Check for Existing Apex Jobs</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Create_Custom_Exception_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_Job_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Async_Apex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Rent_Schedules</targetReference>
            </connector>
            <label>If No Job Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FlowStartTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime}- (1/1)</expression>
    </formulas>
    <interviewLabel>Update_Base_Rent_on_Lease-2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_Base_Rent_on_Lease-2</label>
    <loops>
        <name>Verify_The_Latest_Record</name>
        <label>Verify The Latest Record</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Related_Rent_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Base_Rent_on_Lease</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Triggers_Off</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_2_of_Create_Custom_Exception_Log</name>
        <label>Copy 1 of Copy 2 of Create Custom Exception Log</label>
        <locationX>314</locationX>
        <locationY>1416</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Local Scheduler- Update Base Rent on Lease </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Detailed__c</field>
            <value>
                <stringValue>Error while updating record from Local Batch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Objects_In_Context__c</field>
            <value>
                <stringValue>Lease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Type__c</field>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputAssignments>
        <object>leaseworks__Exception_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Custom_Exception_Log</name>
        <label>Create Custom Exception Log</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Local Scheduler- Update Base Rent on Lease </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Detailed__c</field>
            <value>
                <stringValue>The packaged trigger is not complete . Hence, the local flow cannot be run</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Objects_In_Context__c</field>
            <value>
                <stringValue>Lease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Type__c</field>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputAssignments>
        <object>leaseworks__Exception_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Apex_Class_Id</name>
        <label>Get Apex Class Id</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Async_Apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UpdateRentOnLeaseScheduler</stringValue>
            </value>
        </filters>
        <object>ApexClass</object>
        <outputAssignments>
            <assignToReference>ApexClassId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Async_Apex</name>
        <label>Get Async Apex</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Apex_Jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApexClassId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApexClassId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preparing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Holding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsyncApexJob</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Rent_Schedules</name>
        <label>Get Related Rent Schedules</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_The_Rent_Record</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Ad_hoc_Schedule_Local__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Lease__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>leaseworks__Rent_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Floating Rent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.leaseworks__Lessee_Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.leaseworks__Y_Hidden_MRSchModifyDt__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>leaseworks__Stepped_Rent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Set_Triggers_On</name>
        <label>Copy 1 of Set Triggers On</label>
        <locationX>314</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Create_Custom_Exception_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Disable_All_WFs__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Triggers_Off</name>
        <label>Set Triggers Off</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Update_Lease_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Disable_All_WFs__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Triggers_On</name>
        <label>Set Triggers On</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <inputAssignments>
            <field>leaseworks__Disable_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>leaseworks__Disable_All_WFs__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>leaseworks__LeaseWorksSettings__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lease_Rec</name>
        <label>Update Lease Rec</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Set_Triggers_On</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Set_Triggers_On</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Apex_Class_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>leaseworks__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>leaseworks__Lease__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-25</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApexClassId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BaseRent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>leaseworks__Stepped_Rent__c</objectType>
    </variables>
</Flow>
