force-app/main/default/flows/Update_Deal_Team_Assignees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Update Deal Team Assignees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Deal Team Assignees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Debt_Assignee</name>
        <label>Update Debt Assignee</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_Investment_Strategy_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debt</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__Assigned_To__c</field>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Counter_Party__r.Debt__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Investment_Strategy_Assignee</name>
        <label>Update Investment &amp; Strategy Assignee</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Update_Receivables_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investment &amp; Strategy</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__Assigned_To__c</field>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Counter_Party__r.Investment_Strategy__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Marketing_Deal_Team_Assignee</name>
        <label>Update Marketing Deal Team Assignee</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Update_Debt_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__Assigned_To__c</field>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Counter_Party__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Powerplant_Assignee</name>
        <label>Update Powerplant Assignee</label>
        <locationX>176</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Update_Trading_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Powerplant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__Assigned_To__c</field>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Counter_Party__r.Powerplant__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Receivables_Assignee</name>
        <label>Update Receivables Assignee</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_Tax_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Receivables</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__Assigned_To__c</field>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Counter_Party__r.Receivables__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_Assignee</name>
        <label>Update Tax Assignee</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_Powerplant_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__Assigned_To__c</field>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Counter_Party__r.Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trading_Assignee</name>
        <label>Update Trading Assignee</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trading</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>leaseworks__Assigned_To__c</field>
            <value>
                <elementReference>$Record.leaseworks__Marketing_Activity__r.leaseworks__Counter_Party__r.Trading__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Marketing_Deal_Team_Assignee</targetReference>
        </connector>
        <object>leaseworks__Deal_Team__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
